<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>


				<li class="start active ">

					<a href="#">

					<i class="icon-home"></i> 

					<span class="title">后台</span>

					<span class="selected"></span>

					</a>

				</li>

				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">数据查看</span>



					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/dota/items/show/">

							查看全部不朽</a>

						</li>

						<li>

							<a href="/dota/items/select/">

							查看收藏</a>

						</li>


						

					</ul>

				</li>

				





			</ul>