{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 --> 

{% block body %}

<section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop100 ct-u-paddingBottom100" data-height="100%" data-type="kenburns" data-bg-image-mobile="{% static 'frontEnd/images/content/cars/bg-06.jpg' %}">
    <div class="ct-mediaSection-kenburnsImageContainer">
        <img src="{% static 'frontEnd/images/content/cars/bg-06.jpg' %}" alt="">
    </div>
    <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom text-center">
        <div class="container">
            <h1 class="ct-404-header ct-u-marginBottom40"><b>404</b></h1>

            <h2><small class="ct-fw-lighter">哦呦，出错了！</small></h2><br>
            <p>{{ message }}</p>
            <p>程序员正在赶往现场的路上，给您带来的不便，敬请谅解！</p>


        </div>
    </div>
</section>

{% endblock %}
