{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'frontEnd/images/content/cars/icon.ico' %}">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png' %}">-->

    <title>注册</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/test.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/mystyle.css'%}">

    <!--[if lt IE 9]>
    <script src="{% static 'frontEnd/bootstrap/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'frontEnd/bootstrap/js/respond.min.js' %}"></script>
    <script src="{% static 'frontEnd/plugins/REM-unit-polyfill/js/rem.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'frontEnd/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontEnd/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'frontEnd/js/allunivlist.js' %}"></script>
<!--     <script>var school = "";
    var sf = "";
    $(function () {
        $.each(allUnivList, function (j, m) {
            $("#gj").append("<a href='javascript:void(0);' onclick='getSheng(" + j + ",\"" + m.name + "\")'>" + m.name + "</a>");
        });
    });

    function getSheng(aid, name) {
        school = name;
        $("#sheng").show();
        $("#list").html('');
        $("#sheng").html('');
        if (allUnivList[aid].provs.length == 0) {
            $("#sheng").append("不好意思,還未添加此學校");
        }
        else {
            $.each(allUnivList[aid].provs, function (j, m) {
                $("#sheng").append("<a href='javascript:void(0);' onclick='getSchool(" + aid + "," + j + ",\"" + m.name + "\")'>" + m.name + "</a>");
            });
        }
    }

    function getSchool(gid, pid, name) {
        school = school.substring(0, 2);
        school += " - " + name;
        $("#list").show();
        $("#list").html('');
        $.each(allUnivList[gid].provs[pid].univs, function (k, l) {
            $("#list").append("<a style='width:270px;display:block;float:left;'>" + l.name + "</a>");
        });
        $("#list").append("<br style='clear:both;' />");

    }
    var shool_button = true;
    </script> -->

    <!-- 选择学历 -->
    <script>
        function showEducation(value){
            console.log(value);
            if (value === '博士') {
                $("#Education").html("<input type=\"hidden\" name=\"education\" value=\"3\"> <div class=\"form-group\"><label>请输入您的本科学校</label><input type=\"text\" name=\"school1\" required class=\"form-control form-control--type2\"></div>"
                    +"<div class=\"form-group\"><label>请输入您的研究生学校</label><input type=\"text\" name=\"school2\" required class=\"form-control form-control--type2\"></div>"+"<div class=\"form-group\"><label>请输入您的博士学校</label><input type=\"text\" name=\"school3\" required class=\"form-control form-control--type2\"></div>");
            }
            else if (value === '硕士') {
                $("#Education").html("<input type=\"hidden\" name=\"education\" value=\"2\"> <div class=\"form-group\"><label>请输入您的本科学校</label><input type=\"text\" name=\"school1\" required class=\"form-control form-control--type2\"></div>"
                    +"<div class=\"form-group\"><label>请输入您的研究生学校</label><input type=\"text\" name=\"school2\" required class=\"form-control form-control--type2\"></div>");
            }
            else if (value ==='本科') {
                $("#Education").html("<input type=\"hidden\" name=\"education\" value=\"1\"> <label>请输入您的本科学校</label><input type=\"text\" name=\"school1\" required class=\"form-control form-control--type2\">");
            }
            else{

            }  
        }
    </script>
</head>

<body class="cssAnimate">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="index.html"><img src="{% static 'frontEnd/images/content/logo2.png' %}"
                                                              alt=""/></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="active"><a href="index.html"><span>Home</span></a></li>
        <li><a href="about.html"><span>About us</span></a></li>
        <li><a href="gallery.html"><span>Our gallery</span></a></li>
        <li class="dropdown"><a href="rent-now.html"><span>Rent Now</span></a>
            <ul class="dropdown-menu">
                <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="blog.html"><span>Blog</span></a>
            <ul class="dropdown-menu">
                <li><a href="blog.html"><span>Blog</span></a></li>
                <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="events.html"><span>Events</span></a>
            <ul class="dropdown-menu">
                <li><a href="events.html"><span>Events</span></a></li>
                <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="account.html"><span>Pages</span></a>
            <ul class="dropdown-menu">
                <li><a href="account.html"><span>My Account</span></a></li>
                <li><a href="login.html"><span>Login</span></a></li>

                <li><a href="404.html"><span>404</span></a></li>
            </ul>
        </li>
        <li><a href="services.html"><span>Services</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

    {% include "frontEnd/nav.html" %}


    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340"
             data-type="parallax" data-stellar-background-ratio="0.3"
             data-bg-image="{% static 'frontEnd/images/content/cars/bg-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/bg-01-mobile.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2
                class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">来创建个账户</h2></div>
    </section>

    <form class="ct-u-sectionBorder" action="/account/" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row" style="padding-left: 30%">
                <div class="col-md-6 ct-u-paddingTop80">
                    <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom70">
                        <h2 class="ct-sectionHeader-title">
                            <small><span>账户信息</span></small>
                        </h2>
                        {% if state %}
                        <p style="color: #da4f49">{{ message }}</p>
                        {% endif %}
                    </div>

                    <div class="form-group" style="padding-top: 1 px">
                        <label for="username">姓名</label>
                        <input id="username" name="username" value="{{data.username}}" class="form-control form-control--type2">
                    </div>


                    <div class="form-group">
                        <div class="input-group-btn" style="display: inline-block;top:30px;right:80px;z-index:9;">
                            <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">区号 <span
                                    class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a class="hrefClass">美国 +1</a></li>
                                <li><a class="hrefClass">加拿大 +1</a></li>
                                <li><a class="hrefClass">英国 +44</a></li>
                                <li><a class="hrefClass">中国 +86</a></li>
                                <li><a class="hrefClass">香港 +852</a></li>
                                <li><a class="hrefClass">日本 +81</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <label for="foreign-phone">手机号码</label>
                        <input type="text" class="form-control form-control--type2" aria-label="..." name="phone"
                               id="foreign-phone" placeholder="请点击左侧三角添加区号" value="{{data.phone}}">
                    </div><!-- /input-group -->

                    <div class="form-group">
                        <label for="email" class="required">邮箱</label>
                        <input id="email" name="email" value="{{data.email}}" required class="form-control form-control--type2">
                    </div>

                    <label>请选择您的学历</label>
                    <select class="form-control" onchange="showEducation(this.value)">
                      <option>本科</option>
                      <option>硕士</option>
                      <option>博士</option>
                    </select>
                    <div id="Education">
                        <label>请输入您的本科学校</label>
                        <input type="hidden" name="education" value="1">
                        <input type="text" name="school1" required class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <label for="password" class="required">密码(要求八位以上,包含数字和大小写字母混合)</label>
                        <input id="password" name="password" type="password" required
                               class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <label for="password-confirm" class="required">请重复输入密码</label>
                        <input id="password-confirm" name="password-confirm" type="password" required
                               class="form-control form-control--type2">
                    </div>
                </div>

            </div>

            <div class="row" style="margin-left: 29%">
                <div class="col-md-6 ct-u-paddingTop40 ct-u-paddingBottom150">
                    <button type="submit" class="btn btn-lg btn-wide btn-motive"><span>创建我的账户</span></button>
                </div>
            </div>

        </div>
    </form>


    <footer class="ct-footer ct-u-sectionDark">
        <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
            <div class="container">
                <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014
                </div>
                <ul class="ct-socials">
                    <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i
                            class="fa fa-flickr"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i
                            class="fa fa-instagram"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i
                            class="fa fa-pinterest"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i
                            class="fa fa-facebook-square"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i
                            class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

</div>

<!-- JavaScripts -->
<script src="{% static 'frontEnd/js/jquery.min.js' %}"></script>
<script src="{% static 'frontEnd/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontEnd/js/dependencies.js' %}"></script>

<script src="{% static 'frontEnd/js/main.js' %}"></script>

<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/magnific-popup/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/selectize.js-master/dist/js/standalone/selectize.min.js' %}"></script>

<script src="{% static 'frontEnd/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/slick/init.js' %}"></script>
<!-- <script type="text/javascript">
    $(document).ready(function () {
        $("#txtSc").on("click", function () {
            $("#gj").show();
            $("#list").hide();
            $("#sheng").hide();
        });

        $("#list").delegate("a", "click", function () {
            console.log("fuck js")
            $("#gj").hide();
            $("#list").hide();
            $("#sheng").hide();
            school += " - " + $(this).text();
            $("#txtSc").val(school);
        });

    });</script>
<script>
    $(document).ready(
            $(".hrefClass").click(function () {
                var a = $(this).text().split(" ")[1]
                $("#foreign-phone").val(a)
            })

            // $(".hrefClass").text().split(" ")[1]
    )

    function changeSchoolState(){
        if (shool_button==true){
            school_button = false;
            $("#txtSc")[0].click()
        }
    }
</script> -->


</body>
</html>