{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 --> 


{% block body %}

<body class="cssAnimate">

    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340"
             data-type="parallax" data-stellar-background-ratio="0.3"
             data-bg-image="{% static 'frontEnd/images/content/cars/bg-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/bg-01-mobile.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2
                class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">来创建个账户</h2></div>
    </section>

    <form class="ct-u-sectionBorder" action="/account/" method="post" style="background-color: white; ">
        {% csrf_token %}
        <div class="container">
            <div class="row" style="padding-left: 30%">
                <div class="col-md-6 ct-u-paddingTop80">
                    <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom70">
                        <h2 class="ct-sectionHeader-title">
                            <small><span>账户注册/完善</span></small>
                        </h2>
                        {% if state %}
                        <p style="color: #da4f49">{{ message }}</p>
                        {% endif %}
                    </div>

                    <div class="form-group" style="padding-top: 1 px">
                        <label for="username">姓名</label>
                        <input id="username" name="username" value="{{data.username}}" class="form-control form-control--type2">
                    </div>


                    <div class="form-group">
                        
                        <label for="foreign-phone">手机号码</label>
                        <div class="row">
                            <div class="col-xs-2" >
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"  style="padding-right:5px;padding-left:5px;">区号 <span
                                            class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a class="hrefClass">美国 +1</a></li>
                                        <li><a class="hrefClass">加拿大 +1</a></li>
                                        <li><a class="hrefClass">英国 +44</a></li>
                                        <li><a class="hrefClass">中国 +86</a></li>
                                        <li><a class="hrefClass">香港 +852</a></li>
                                        <li><a class="hrefClass">日本 +81</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-10" style="">
                                <input type="text" class="form-control form-control--type2" aria-label="..." name="phone"
                               id="foreign-phone" placeholder="请点击左侧添加区号" value="{{data.phone}}">
                            </div>
                        </div>
                    </div><!-- /input-group -->

                    
                    

                    <div class="form-group">
                        <label for="email" class="required">邮箱</label>
                        <input id="email" name="email" value="{{data.email}}" required class="form-control form-control--type2">
                    </div>

                    <!-- <label>请选择您的学历</label>
                    <select class="form-control" onchange="showEducation(this.value)">
                      <option>本科</option>
                      <option>硕士</option>
                      <option>博士</option>
                    </select>
                    <div id="Education">
                        <input type="hidden" name="education" value="1">   
                    </div>

                    

                    <input type="hidden"  id="txtSc2" name="schoolID1">
                    <input type="text" class="form-control" id="txtSc" name="school1" placeholder="&nbsp;&nbsp;点此选择您的本科学校" />
                    <div id="gj" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px; display:none;background-color:white;"></div>
                    <div id="sheng" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;"></div>
                    <div id="list" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;height:300px; overflow-y:auto;"></div>

                    <input type="hidden"  id="MtxtSc2" name="schoolID2">
                    <input type="text" class="form-control" id="MtxtSc" name="school2" placeholder="&nbsp;&nbsp;点此选择您的硕士学校" style="display:none;"/>
                    <div id="Mgj" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px; display:none;background-color:white;"></div>
                    <div id="Msheng" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;"></div>
                    <div id="Mlist" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;height:300px; overflow-y:auto;"></div>

                    <input type="hidden"  id="PtxtSc2" name="schoolID3">
                    <input type="text" class="form-control" id="PtxtSc" name="school3" placeholder="&nbsp;&nbsp;点此选择您的博士学校" style="display:none;"/>
                    <div id="Pgj" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px; display:none;background-color:white;"></div>
                    <div id="Psheng" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;"></div>
                    <div id="Plist" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;height:300px; overflow-y:auto;"></div> -->




                    <div class="form-group">
                        <label for="password" class="required">密码(要求八位以上,包含数字和大小写字母混合)</label>
                        <input id="password" name="password" type="password" required
                               class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <label for="password-confirm" class="required">请重复输入密码</label>
                        <input id="password-confirm" name="password-confirm" type="password" required
                               class="form-control form-control--type2">
                    </div>
                </div>

            </div>

            <div class="row" style="margin-left: 29%">
                <div class="col-md-6 ct-u-paddingTop40 ct-u-paddingBottom150">
                    <button type="submit" class="btn btn-lg btn-wide btn-motive"><span>创建我的账户</span></button>
                </div>
            </div>

        </div>
    </form>


</div><!-- 接：<div id="ct-js-wrapper" class="ct-pageWrapper"> 很重要：勿删 -->
</body>
{% endblock %}

{% block js %}
<!-- 区号JS -->
<script>
    $(document).ready(
            $(".hrefClass").click(function () {
                var a = $(this).text().split(" ")[1]
                $("#foreign-phone").val(a)
            })

            // $(".hrefClass").text().split(" ")[1]
    )

    function changeSchoolState(){
        if (shool_button==true){
            school_button = false;
            $("#txtSc")[0].click()
        }
    }
</script>
{% endblock %}