{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}
<!-- ZUI 时间选择器 -->
<link rel="stylesheet" type="text/css" href="{% static 'frontEnd/plugins/datetimepicker/datetimepicker.min.css'%}">

<body class="cssAnimate" style="background-color:white;">

  <div class="container" style="margin-top: 60px;">
  	<div class="row">
          <div class="col-md-2" style="text-align:center;">
              <div class="row centerLeftbarIcon"><img src="{{ current_user.icon }}" style="height: 100px; width: 100px; border: 1px solid #cccccc; border-radius: 50%;"></div>
              <div class="row centerLeftbarButton"><a href="/host_center/edit">修改信息</a></div> 
              <div class="row centerLeftbarButton"><a href="/host_center/manage" style="color:black;">订单管理</a></div>
              <div class="row centerLeftbarButton"><a href="/image-receive/">申请认证</a></div>
          </div>
  		<div class="col-md-9">
              <div class="row" style="margin-top: 30px; margin-bottom:30px; ">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-2">
                      <div class="row" style="color:red; font-size: 20px; padding-top:5px; padding-bottom:5px; ">预约</div>
                      <div class="row" style="display: flex;justify-content: center; ">
                          <div style=" width:40px; height:40px; background-color:#F00; border-radius:20px;">
                              <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">1</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-2">
                      <div class="row" style="color:red; font-size: 20px; padding-top:5px; padding-bottom:5px; ">等待确认</div>
                      <div class="row" style="display: flex;justify-content: center; ">
                          <div style=" width:40px; height:40px; background-color:red; border-radius:20px;">
                              <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">2</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-2">
                      <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">付款</div>
                      <div class="row" style="display: flex;justify-content: center; ">
                          <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                              <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">3</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-2">
                      <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">完成</div>
                      <div class="row" style="display: flex;justify-content: center; ">
                          <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                              <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">4</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-2">
                      <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">评价</div>
                      <div class="row" style="display: flex;justify-content: center; ">
                          <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                              <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">5</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-xs-1"></div>
              </div>

              <table class="table table-bordered ">
                <tr>
                    <td colspan="3" style="text-align:left;">编号：{{ appointment.appointment_id }} 发起时间：{{ appointment.recommend_begin_time }}</td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-3"><img src="{{ appointment.from_user_icon }}" style="height: 80px; width: 80px; border: 1px solid #cccccc; border-radius: 50%;"></div>
                            <div class="col-md-9"><h3>{{ appointment.recommend_info }}</h3><p>Lorraine Lee 香港知名大学申请达人</p></div>
                        </div>
                    </td>
                    <td><h4>{{ appointment.state }}</h4></td>
                    
                </tr>
              </table>

              <hr style="border: none;border-top: 1px solid black; ">

              <!-- <div class="form-group">
                  <label style="font-size: 15px; ">简要介绍自己的情况，并描述要咨询的问题</label>
                  <textarea class="form-control" rows="4" placeholder="我是清华大学计算机专业大三的学生，专业排名前百分之三十，有多个关于自动驾驶的项目经历。本科毕业后想去BAT等公司从事与计算机视觉相关的工作。想知道现在开始该如何准备？比如该熟悉哪些开源项目，或是该多积累哪种平台的开发经验。"></textarea>
              </div>                                
              <div class="form-group">
                  <label style="font-size: 15px; ">告诉分享者你所希望的见面时间与约聊时长</label>
                  <textarea class="form-control" rows="4" placeholder="我每周一／三下午2点到晚上6点都有空，我想请教的细节问题比较多，觉得预约3个小时比较合适。"></textarea>
              </div> -->

              <div class="panel panel-default">
                <div class="panel-heading"><h4>简要介绍自己的情况，并描述要咨询的问题</h4></div>
                <div class="panel-body">
                  <p style="font-size:20px;">{{ appointment.intro_and_question }}</p>
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading"><h4>告诉分享者你所希望的见面时间与约聊时长</h4></div>
                <div class="panel-body">
                  <p style="font-size:20px;">{{ appointment.appointment_time }}</p>
                </div>
              </div>

              <hr style="border: none;border-top: 1px solid black; ">

              
              {% block messages %}
              {% for messages in messages %}
                <div class="panel panel-default">
                  <div class="panel-heading" style="text-align: left;display: flex;align-items: center; "><img src="{{ messages.user_icon }}" alt="" style="height: 38px; width: 38px; border: 1px solid #cccccc; border-radius: 50%; bottom: auto;"><h4>&nbsp;{{ messages.from_user_name }} :</h4></div>
                  <div class="panel-body">
                    <p style="font-size:20px;">{{ messages.message }}</p>
                  </div>
                </div>
              {% endfor %}
              {% endblock %}

<!--               <table class="table table-bordered ">
                <tr>
                    <td>
                      日期
                    </td>
                    <td>
                      时间
                    </td>
                    <td>
                      费用
                    </td>
                </tr>
                <tr>
                    <td>
                      2016/09/22
                    </td>
                    <td>
                      下午3:30
                    </td>
                    <td>
                      2小时共计300元
                    </td>
                </tr>
              </table> -->


              <!-- bootstrap 弹出框 -->
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                回复
              </button>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal2">
                约见
              </button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">输入回复内容</h4>
                    </div>

                    <form action="/bill/communicate" method="post">

                    {% csrf_token %}
                    <div class="modal-body">
                        
                          <input type="hidden" name="appnt_id" value="{{ appointment.id }}">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="3"></textarea>
                          </div>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">确认</button>
                    </div>

                    </form>

                  </div>
                </div>
              </div>

              <!-- Modal2 -->
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">请选择约见日期、时间和费用</h4>
                    </div>

                    <form action="/bill/communicate" method="post">

                    {% csrf_token %}
                    <div class="modal-body">
                        
                      <input type="text" name="" class="form-control form-datetime" placeholder="点击选择约见日期和时间">
                      <br>
                      <input type="number" name="" class="form-control" placeholder="请输入此次服务的费用">
                        
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">确认</button>
                    </div>

                    </form>

                  </div>
                </div>
              </div>

              <br><br>
          </div>
  	</div>
  </div>

</body>
{% endblock %}

{% block js %}
<!-- <script src="{% static 'frontEnd/js/shop.js' %}"></script> -->

<!-- ZUI 时间选择器 -->
<script src="{% static 'frontEnd/plugins/datetimepicker/datetimepicker.min.js'%}"></script>
<script>
// 选择时间和日期
$(".form-datetime").datetimepicker(
{
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1,
    format: "yyyy-mm-dd hh:ii"
});
// 仅选择日期
$(".form-date").datetimepicker(
{
    language:  "zh-CN",
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0,
    format: "yyyy-mm-dd"
});

// 选择时间
$(".form-time").datetimepicker({
    language:  "zh-CN",
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0,
    format: 'hh:ii'
});
</script>

{% endblock %}
