<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="./assets/images/content/cars/icon.ico">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->

    <title>Rentica - HTML Template</title>

    <link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="./assets/bootstrap/js/html5shiv.min.js"></script>
	<script src="./assets/bootstrap/js/respond.min.js"></script>
 	<script src="./assets/plugins/REM-unit-polyfill/js/rem.min.js"></script>
    <![endif]-->
    <script src="./assets/js/modernizr.custom.js"></script>
</head>

<body class="cssAnimate">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'><div><div><div><div><div><div><div><div><div><div></div></div></div></div></div></div></div></div></div></div></div>
</div>

<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="index.html"><img src="./assets/images/content/logo2.png" alt=""/></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="active"><a href="index.html"><span>Home</span></a></li>
        <li><a href="about.html"><span>About us</span></a></li>
        <li><a href="gallery.html"><span>Our gallery</span></a></li>
        <li class="dropdown"><a href="rent-now.html"><span>Rent Now</span></a>
            <ul class="dropdown-menu">
                <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="blog.html"><span>Blog</span></a>
            <ul class="dropdown-menu">
                <li><a href="blog.html"><span>Blog</span></a></li>
                <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="events.html"><span>Events</span></a>
            <ul class="dropdown-menu">
                <li><a href="events.html"><span>Events</span></a></li>
                <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="account.html"><span>Pages</span></a>
            <ul class="dropdown-menu">
                <li><a href="account.html"><span>My Account</span></a></li>
                <li><a href="login.html"><span>Login</span></a></li>

                <li><a href="404.html"><span>404</span></a></li>
            </ul>
        </li>
        <li><a href="services.html"><span>Services</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

<nav class="navbar navbar-default ct-navbar ct-shadow ct-shadow--type1">

    <div class="navbar-header">
        <a class="ct-logoDark" href="index.html"><img src="./assets/images/content/logo.png" alt=""/></a>
        <a class="ct-logoWhite" href="index.html"><img src="./assets/images/content/logo2.png" alt=""/></a>
    </div>

    <div class="container">
        <div class="ct-navbarBox">
            <a href="login.html" class="ct-login"><span>Login</span><i class="fa fa-lock"></i></a>
            <div class="ct-navbarBox-meta">
                <div class="ct-navSearch-box">
                    <a class="ct-js-navSearch ct-navSearch" href="#"><i class="fa fa-search"></i></a> <!-- Navbar Search  -->
                    <div class="ct-navbar-search">
                        <form role="form">
                            <div class="form-group  ct-input--type2">
                                <input id="searchM" required="" type="text" name="field[]" placeholder="Search website..." class="form-control">
                                <label for="searchM"><span>Search</span></label>
                                <button class="ct-navbar-search-button" type="submit">
                                    <i class="fa fa-search fa-fw"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ct-langPicker">
                    <div class="ct-langPicker-content">
                        <a href="#"><img src="./assets/images/content/flag-01.jpg" alt=""/></a>
                        <ul class="ct-langPicker-list">
                            <li><a href="#">English <img src="./assets/images/content/flag-01.jpg" alt=""/></a></li>
                            <li><a href="#">Español <img src="./assets/images/content/flag-03.jpg" alt=""/></a></li>
                            <li><a href="#">Italiano <img src="./assets/images/content/flag-02.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                </div> <!-- Flags -->
            </div>

            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul class="nav navbar-nav ct-navbar--fadeIn">
            <!--=========================================================================-->
            <li><a href="index.html"><div class="ct-textEffect"><span data-content="Home">Home</span></div></a></li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="about.html"><div class="ct-textEffect"><span data-content="About Us">About Us</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="about.html"><span>About us</span></a></li>
                    <li><a href="gallery.html"><span>Our gallery</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li><a href="services.html"><div class="ct-textEffect"><span data-content="Services">Services</span></div></a></li>
            <li class="dropdown"><a href="rent-now.html"><div class="ct-textEffect"><span data-content="Rent Now">Rent Now</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                    <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                    <li class="ct-subDropdown"><a href="rent-page-variation-1.html">Rent Page</a>
                        <ul class="ct-submenu dropdown-menu">
                            <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                            <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                            <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="active dropdown"><a href="blog.html"><div class="ct-textEffect"><span data-content="Blog">Blog</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="blog.html"><span>Blog</span></a></li>
                    <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                    <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="events.html"><div class="ct-textEffect"><span data-content="Events">Events</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="events.html"><span>Events</span></a></li>
                    <li class="ct-subDropdown"><a href="event-single.html">Event Single</a>
                        <ul class="ct-submenu dropdown-menu">
                            <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                            <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="account.html"><div class="ct-textEffect"><span data-content="Pages">Pages</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="account.html"><span>My Account</span></a></li>
                    <li><a href="login.html"><span>Login</span></a></li>

                    <li><a href="404.html"><span>404</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li><a href="contact.html"><div class="ct-textEffect"><span data-content="Contact">Contact</span></div></a></li>
        </ul>

    </div>
</nav>

<section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340" data-type="parallax" data-stellar-background-ratio="0.2" data-bg-image="./assets/images/content/cars/mediaHeader-01.jpg" data-bg-image-mobile="./assets/images/content/cars/mediaHeader-01.jpg">
    <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2 class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">the blog</h2></div>
</section>

<div class="ct-u-paddingTop60 ct-u-sectionBorder">
<div class="container">
<div class="row">
<div class="col-md-4">
    <div class="form-group ct-widget-search ct-u-marginBottom30">
        <input placeholder="Search..." type="text" name="field[]" class="form-control">
        <button type="submit"><i class="fa fa-search fa-fw"></i></button>
    </div>

    <div class="ct-widget ct-widget-categories ct-u-marginBottom30">
        <h3 class="ct-widget-header">Categories</h3>
        <div class="ct-widget-content">
            <a href="#"><p class="ct-fw-600 ct-u-marginBottom10">World's fastest <span class="pull-right">(14)</span></p></a>
            <a href="#"><p class="ct-fw-600 ct-u-marginBottom10">Sports car racing news <span class="pull-right">(23)</span></p></a>
            <a href="#"><p class="ct-fw-600 ct-u-marginBottom10">Exciting races <span class="pull-right">(07)</span></p></a>
            <a href="#"><p class="ct-fw-600 ct-u-marginBottom0">Luxury limousines <span class="pull-right">(03)</span></p></a>
        </div>
    </div>

    <div class="ct-widget ct-u-marginBottom30">
        <h3 class="ct-widget-header">Latest posts</h3>
        <div class="ct-widget-content">
            <a href="#"><div class="ct-latestPost media">
                <div class="media-left"><img src="./assets/images/content/cars/flickr-02.jpg" alt=""></div>
                <div class="media-body">
                    <p class="ct-latestPost-header">For Automakers, Fuel Economy Targets May Be Less of a Stretch</p>
                    <p class="ct-latestPost-meta"><i class="fa fa-calendar-o"></i> Posted on 27 August 2015</p>
                </div>
            </div></a>
            <a href="#"><div class="ct-latestPost media ct-u-marginTop20">
                <div class="media-left"><img src="./assets/images/content/cars/flickr-05.jpg" alt=""></div>
                <div class="media-body">
                    <p class="ct-latestPost-header">Local dealers provide strong option for used car buyers</p>
                    <p class="ct-latestPost-meta"><i class="fa fa-calendar-o"></i> Posted on 15 March 2015</p>
                </div>
            </div></a>
            <a href="#"><div class="ct-latestPost media ct-u-marginTop20">
                <div class="media-left"><img src="./assets/images/content/cars/flickr-06.jpg" alt=""></div>
                <div class="media-body">
                    <p class="ct-latestPost-header">There’s more to waiting in traffic than ...</p>
                    <p class="ct-latestPost-meta"><i class="fa fa-calendar-o"></i> Posted on 05 January 2015</p>
                </div></a>
        </div>
    </div>
</div>

    <div class="ct-widget ct-u-marginBottom30">
        <h3 class="ct-widget-header">About the blog</h3>
        <div class="ct-widget-content">
            <p class="ct-u-colorDarkGray2 ct-u-marginBottom0">Rentica is not only a market when you can rent or buy car. We love cars. We are everywhere where something interesting is happening.
                New car model, Grand Prix or something else. We will be there and we write abou this so stay tuned.</p>
        </div>
    </div>

    <div class="ct-widget ct-tags ct-u-marginBottom30">
        <h3 class="ct-widget-header">Popular tags</h3>
        <div class="ct-widget-content">
            <a href="#">wordpress</a>
            <a href="#">creatite</a>
            <a href="#">inspiration</a>
            <a href="#">html5</a>
            <a href="#">speed car</a>
            <a href="#">modern</a>
            <a href="#">amazing</a>
            <a href="#">corporate</a>
            <a href="#">css3</a>
            <a href="#">javascript</a>
            <a href="#">minimal</a>
            <a href="#">retail</a>
            <a href="#">business</a>
        </div>
    </div>

    <div class="ct-widget ct-u-marginBottom30">
        <h3 class="ct-widget-header">Posts by date</h3>
        <div class="ct-widget-content">
            <div class="ct-calendar" data-date="03/17/2015"></div>
        </div>
    </div>
</div>

<div class="col-md-8 ct-u-paddingBottom150">
    <div class="ct-blog ct-blog-post ct-u-paddingBottom50">
        <div class="ct-blog-media">
            <img src="./assets/images/content/cars/blog-01.jpg" alt="">
        </div>
        <div class="ct-blog-header media ct-u-marginBottom20">
            <div class="media-left">
                <div class="ct-blog-date">
                    <span class="ct-blog-date-number h3">28</span>
                    <span class="ct-blog-date-month">Aug 2015</span>
                </div>
            </div>
            <div class="media-body media-middle">
                <h4 class="ct-blog-title">For Automakers, Fuel Economy Targets May Be Less of a Stretch</h4>
                <p class="ct-blog-meta">
                    <span>
                        <i class="fa fa-folder-open"></i>
                        Posted in <a href="#">Exciting Races</a>
                    </span>
                    <span>
                        <i class="fa fa-user"></i>
                        by <a href="#">Admin</a>
                    </span>
                    <span>
                        <i class="fa fa-comments"></i>
                        <a href="#">47 comments</a>
                    </span>
                </p>
            </div>
        </div>

        <p class="ct-u-marginBottom20">While the study focused primarily on midsize vehicles, it concluded that existing technology like 8-speed transmissions, advanced turbochargers and lighter materials were most likely enough, on their own, to allow automakers to meet the 2025 standards. Electric or fuel-cell vehicles might still be bonuses for automakers, but they were unlikely to be necessary to reach the goal.

            The study was conducted by the National Research Council of the National Academy of Sciences, which brought together experts from the auto industry, academia and environmental groups. It evaluated more than 100 combinations of fuel-saving technologies to measure both fuel savings and economic cost.
        </p>

        <p class="ct-u-marginBottom20">The cost of carrying out the new rules, the study found, would be significantly less than expected — roughly half of what a previous 2011 report by the same group had estimated.

            “This is a good early indication that things are on track to meet the fuel efficiency goals on time and at a reasonable cost,” said Roland Hwang, director of the Natural Resources Defense Council’s energy and transportation program. “There were lots of claims flying back and forth early on about how much this would cost, and now we know it’s going to be very affordable by comparison.”
        </p>

        <p class="ct-u-marginBottom70">In calculating the cost to automakers of getting a typical midsize car to meet the 2025 target, the study offered two estimates: $1,200 or $1,700, depending on certain assumptions. By comparison, the 2011 study had estimated those costs could be higher than $3,000.

            “This is great news,” said Dan Becker, a director at the Center for Auto Safety, an advocacy group. “It shows that you can achieve these fuel economy targets with a conventional vehicle, using normal engines, and to do so cost effectively.”
        </p>

        <div class="ct-socialSection">
            <div class="ct-socialSection-backButton ct-u-sectionGrayDarker ct-u-textRight">
                <a class="h6 text-uppercase ct-fw-bold" href="blog.html">Back to blog
                <span class="ct-iconButton ct-iconButton--larger animated ct-u-margin10x9" data-fx="fadeIn">
                    <i class="fa fa-arrow-left animated" data-fx="bounceInRight" data-time="100"></i>
                </span>
                </a>
            </div>
            <div class="ct-socialSection-socialContainer ct-u-sectionMotive">
                <ul class="ct-socials ct-socials--type3">
                    <li>Share</li>
                    <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="google plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="digg" href="#"><i class="fa fa-digg"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="users" href="#"><i class="fa fa-users"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="yahoo" href="#"><i class="fa fa-yahoo"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="email" href="#"><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="ct-tags ct-u-paddingTop20 ct-u-paddingBottom90">
            <a href="#">wordpress</a>
            <a href="#">creatite</a>
            <a href="#">inspiration</a>
            <a href="#">html5</a>
            <a href="#">speed car</a>
            <a href="#">modern</a>
            <a href="#">amazing</a>
            <a href="#">corporate</a>
            <a href="#">css3</a>
            <a href="#">javascript</a>
            <a href="#">minimal</a>
            <a href="#">retail</a>
            <a href="#">business</a>
        </div>
    </div>

    <div class="media ct-blog-comments-header ct-u-marginBottom50">
        <div class="media-left media-middle">
            <span class="ct-iconButton ct-iconButton--larger"><i class="fa fa-comments"></i></span>
        </div>
        <div class="media-body">
            <span class="ct-blog-comments-title h2"><small><span>47</span><span class="ct-fw-lighter">comments on this post</span></small></span>
        </div>
    </div>

    <div class="media ct-comment">
        <div class="media-left"><img src="./assets/images/content/comment-01.jpg" alt=""></div>
        <div class="media-body">
            <div class="ct-comment-header">
                <span class="ct-comment-name h5">Mark Jameson</span>
                <span class="ct-comment-meta pull-right">25 minutes ago <a href="#">Reply</a></span>
            </div>
            <div class="ct-comment-content">
                <p>Immensely amazing dude</p>
            </div>
        </div>
    </div>
    <div class="media ct-comment">
        <div class="media-left"><img src="./assets/images/content/comment-02.jpg" alt=""></div>
        <div class="media-body">
            <div class="ct-comment-header">
                <span class="ct-comment-name h5">Jaina Jameson</span>
                <span class="ct-comment-meta pull-right">25 minutes ago <a href="#">Reply</a></span>
            </div>
            <div class="ct-comment-content">
                <p>This is magnificent work.</p>
            </div>
        </div>
    </div>
    <div class="media ct-comment">
        <div class="media-left"><img src="./assets/images/content/comment-03.jpg" alt=""></div>
        <div class="media-body">
            <div class="ct-comment-header">
                <span class="ct-comment-name h5">Anna Jameson</span>
                <span class="ct-comment-meta pull-right">25 minutes ago <a href="#">Reply</a></span>
            </div>
            <div class="ct-comment-content">
                <p>Nice =) I admire the use of style and lines!</p>
            </div>
        </div>
    </div>
    <div class="media ct-comment ct-comment--withPadding">
        <div class="media-left"><img src="./assets/images/content/comment-04.jpg" alt=""></div>
        <div class="media-body">
            <div class="ct-comment-header">
                <span class="ct-comment-name h5">Aliena Jameson</span>
                <span class="ct-comment-meta pull-right">25 minutes ago <a href="#">Reply</a></span>
            </div>
            <div class="ct-comment-content">
                <p>Killer shot dude.</p>
            </div>
        </div>
    </div>
    <div class="media ct-comment">
        <div class="media-left"><img src="./assets/images/content/comment-05.jpg" alt=""></div>
        <div class="media-body">
            <div class="ct-comment-header">
                <span class="ct-comment-name h5">John Jameson</span>
                <span class="ct-comment-meta pull-right">25 minutes ago <a href="#">Reply</a></span>
            </div>
            <div class="ct-comment-content">
                <p>White. Can't wait to try it out.</p>
            </div>
        </div>
    </div>
    <div class="media ct-comment ct-comment--withPadding">
        <div class="media-left"><img src="./assets/images/content/comment-06.jpg" alt=""></div>
        <div class="media-body">
            <div class="ct-comment-header">
                <span class="ct-comment-name h5">Elliah Jameson</span>
                <span class="ct-comment-meta pull-right">25 minutes ago <a href="#">Reply</a></span>
            </div>
            <div class="ct-comment-content">
                <p>Such elegant.</p>
            </div>
        </div>
    </div>

    <div class="ct-pagination pull-right ct-u-paddingTop60">
        <ul>
            <li><a href="#">1</a></li>
            <li><span>2</span></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
    <div class="clearfix"></div>


    <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop70 ct-u-paddingBottom60">
        <h2 class="ct-sectionHeader-title"><small>Leave a <span>reply</span></small></h2>
        <div class="ct-sectionHeader-separator">
            <span class="slash">/</span>
            <span class="slash">/</span>
            <span class="minus"></span>
        </div>
        <p>What do you think about post ?</p>
    </div>


    <form role="form" action="./assets/form/send.php" method="POST" class="validateIt">

        <div class="row">
            <div class="col-sm-9">
                <div class="form-group  ct-input--type2 ct-u-marginBottom20">
                    <input id="contact_name" placeholder="Name" type="text" required="" name="field[]" class="form-control" title="Name">
                </div>
                <div class="form-group  ct-input--type2 ct-u-marginBottom20">
                    <input id="contact_email" placeholder="Email" required="" name="field[]" type="email" class="form-control" title="Email">
                </div>
            </div>
        </div>
        <div class="form-group  ct-input--type2 ct-u-marginBottom20">
            <textarea id="contact_message" placeholder="Comment" class="form-control" rows="6" name="field[]" required="" title="Message"></textarea>
        </div>

        <div class="clearfix"></div>

        <button type="submit" class="btn btn-wide btn-motive"><span>Submit Comment</span></button>

    </form>

</div>
</div>
</div>
</div>


<footer class="ct-footer ct-u-sectionDark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ct-footer-logo ct-u-paddingTop50 ct-u-paddingBottom30"><img src="./assets/images/content/logo2.png" alt="logo"></div>
                <p>Rentica operate in the booking market since 2000. We created a platform that would not only allow our clients to book a car, but to make this process as easy as possible.
                    Rentica deals with all the major car hire companies around the world checking which local supplier is offering the best prices for the car you want on the date you need it.
                </p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50">
                    <h3 class="ct-sectionHeader-title">Next events</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <a href="events.html">
                     <div class="media ct-mediaObject">
                         <div class="media-left"><img src="./assets/images/content/cars/footerObject-01.jpg" alt=""></div>
                         <div class="media-body">
                             <h6 class="ct-mediaObject-header">Rentica sports car racing finals</h6>
                             <h2 class="ct-mediaObject-date"><small>Aug 25 <span>2015</span></small></h2>
                         </div>
                     </div>
                 </a>
                 <a href="events.html">
                     <div class="media ct-mediaObject">
                         <div class="media-left"><img src="./assets/images/content/cars/footerObject-02.jpg" alt=""></div>
                         <div class="media-body">
                             <h6 class="ct-mediaObject-header">Rentica Sedan Showdown</h6>
                             <h2 class="ct-mediaObject-date"><small>Sep 03 <span>2015</span></small></h2>
                         </div>
                     </div>
                 </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50 ct-u-marginBottom15">
                    <h3 class="ct-sectionHeader-title">Flickr gallery</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <div class="ct-flickrGallery">
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-01-big.jpg"><img src="./assets/images/content/cars/flickr-01.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-02-big.jpg"><img src="./assets/images/content/cars/flickr-02.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-03-big.jpg"><img src="./assets/images/content/cars/flickr-03.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-04-big.jpg"><img src="./assets/images/content/cars/flickr-04.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-05-big.jpg"><img src="./assets/images/content/cars/flickr-05.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-06-big.jpg"><img src="./assets/images/content/cars/flickr-06.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-07-big.jpg"><img src="./assets/images/content/cars/flickr-07.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-08-big.jpg"><img src="./assets/images/content/cars/flickr-08.jpg" alt=""/></a>
                </div>

            </div>
        </div>
    </div>
    <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
        <div class="container">
            <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014</div>
            <ul class="ct-socials">
                <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

</div>

<!-- JavaScripts -->
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="./assets/js/dependencies.js"></script>

<script src="./assets/js/main.js"></script>

<script src="./assets/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
<script src="./assets/plugins/ct-mediaSection/js/init.js"></script>

<script src="./assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="./assets/plugins/magnific-popup/init.js"></script>

<script src="./assets/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
<script>jQuery('.ct-calendar').datepicker({});</script>



</body>
</html>