{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}
<style>
    body{
        background-color:white;  
    }
</style>

    <div class="container" style="margin-top: 60px;">
    	<div class="row">
    		<div class="col-md-2" style="text-align:center;">
    			<div class="row centerLeftbarIcon"><img src="{{ current_user.icon }}" style="height: 100px; width: 100px; border: 1px solid #cccccc; border-radius: 50%;"></div>
    			<div class="row centerLeftbarButton"><a href="/host_center/edit" style="color:black;">修改信息</a></div> 
    			<div class="row centerLeftbarButton"><a href="/host_center/manage">订单管理</a></div>

                {% if current_user.state == 0 %}
                <div class="row centerLeftbarButton"><a href="/image-receive/">注册HOST</a></div>
                {% elif current_user.state == 1 %}
                <div class="row centerLeftbarButton"><a href="/host_center/auth">更新主页</a></div>
                {% elif current_user.state == 2 %}
                <div class="row centerLeftbarButton"><a href="/host_center/edit2">更新主页</a></div>
                <div class="row centerLeftbarButton"><a href="/host_center/auth">申请认证</a></div>
                {% endif %}
    		</div>
    		<div class="col-md-10">
                <p style="margin-top:20px;">共可申请三个官方认证，请填写认证描述、上传支持材料，并点击提交或更新：</p>
                <hr>

                <form action="">
                    <div class="panel" style="text-align: left; ">
                      <div class="panel-heading" style="height:50px;">

                        <div class="form-group">
                            <label class="col-xs-1 control-label"><h4>①</h4></label>
                            <div class="col-xs-11">
                              <input type="text" class="form-control" placeholder="请输入认证描述，如：ACM世界排名第一">
                            </div>
                        </div>
                        
                      </div>
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <img data-toggle="lightbox" src="" data-image="large-image.jpg" data-caption="小图看大图" class="img-thumbnail" alt="还未上传认证图片" width="200">
                            </div>
                            <div class="col-md-6">
                                <a href="" class="btn btn-primary">上传资料</a><span style="padding-left: 20px; ">支持：jpg、png、pdf</span>
                                <br><br>
                                <a href="" class="btn btn-success">提交更新</a><span style="padding-left: 20px; ">状态：未提交</span>
                            </div>
                            <div class="col-md-1">
                                <a href="" class="btn btn-danger">删除</a>
                            </div>
                        </div>
                      </div>
                    </div>
                </form>

    		</div>
    	</div>
    </div>

{% endblock %}

{% block js %}


{% endblock %}