{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}



  <div class="container" style="margin-top: 60px;">
  	<div class="row">
          {% include "frontEnd/center-left.html" %}<!-- 加载左侧栏 -->
  		    <div class="col-md-9" style="padding-top:30px;">
              
              {% if current_user.state == 0 or current_user.state == 1 %}

                  <h3>我的订单</h3>
                  <!-- 判空 -->
                  {% if sent_bills|length == 0 %}
                    <p style="margin-top: 10px;">暂无订单</p>
                  {% endif %}

                  <!-- 订单显示模块 -->
                  {% block sent0 %}
                  {% for bill in sent_bills %}
                  <table class="table table-bordered ">
                    <tr>
                        <td colspan="3" style="text-align:left;">编号：{{ bill.appointment_id }} 发起时间：{{ bill.appointment_init_time }}</td>
                    </tr>
                    <tr>
                        <td style="width: 60%">
                            <div class="row">
                                <div class="col-md-3"><img src="{{ bill.to_host_icon }}" style="height: 80px; width: 80px; border: 1px solid #cccccc; border-radius: 50%;"></div>
                            <div class="col-md-9"><h3>{{ bill.feature_name }}</h3><p>{{ bill.host_name }} {{ bill.host_motto }}</p></div>
                            </div>
                        </td>
                        <td style="width: 20%">
                          <h4>
                            {% if bill.state == 0 %}
                              等待分享家确定
                            {% elif bill.state == 1 %}
                              等待付款
                            {% elif bill.state == 2 %}
                              已付款
                            {% elif bill.state == 3 %}
                              约见完成
                            {% elif bill.state == 4 %}
                              已评价
                            {% endif %}
                          </h4>
                        </td>
                        <td style="width: 20%">
                          <a href="/bill/detail/{{ bill.id }}">查看详情</a>
                        </td>
                    </tr>
                  </table>
                  {% endfor %}
                  {% endblock %}


              {% elif current_user.state == 2 %}

                  <h3>我的服务</h3>
                  <!-- 判空 -->
                  {% if got_bills|length == 0 %}
                    <p style="margin-top: 10px;">暂无订单</p>
                  {% endif %}

                  <!-- 订单显示模块 -->
                  {% block sent2 %}
                  {% for bill in got_bills %}
                  <table class="table table-bordered ">
                    <tr>
                        <td colspan="3" style="text-align:left;">编号：{{ bill.appointment_id }} 发起时间：{{ bill.appointment_init_time }}</td>
                    </tr>
                    <tr>
                        <td  style="width: 60%">
                            <div class="row">
                                <div class="col-md-3"><img src="{{ bill.from_user_icon }}" style="height: 80px; width: 80px; border: 1px solid #cccccc; border-radius: 50%;"></div>
                            <div class="col-md-9"><h3>{{ bill.feature_name }}</h3><p>{{ bill.host_name }} {{ bill.host_motto }}</p></div>
                            </div>
                        </td>
                        <td  style="width: 20%">
                          <h4>
                            {% if bill.state == 0 %}
                              等待分享家确定
                            {% elif bill.state == 1 %}
                              等待付款
                            {% elif bill.state == 2 %}
                              已付款
                            {% elif bill.state == 3 %}
                              约见完成
                            {% elif bill.state == 4 %}
                              已评价
                            {% endif %}
                          </h4>
                        </td>
                        <td  style="width: 20%">
                          <a href="/bill/detail/{{ bill.id }}">查看详情</a>
                        </td>
                    </tr>
                  </table>
                  {% endfor %}

                  <h3>我的订单</h3>
                  <!-- 判空 -->
                  {% if sent_bills|length == 0 %}
                    <p style="margin-top: 10px;">暂无订单</p>
                  {% endif %}

                  <!-- 订单显示模块 -->
                  {% for bill in sent_bills %}
                  <table class="table table-bordered ">
                    <tr>
                        <td colspan="3" style="text-align:left;">编号：{{ bill.appointment_id }} 发起时间：{{ bill.appointment_init_time }}</td>
                    </tr>
                    <tr>
                        <td style="width: 60%">
                            <div class="row">
                                <div class="col-md-3"><img src="{{ bill.to_host_icon }}" style="height: 80px; width: 80px; border: 1px solid #cccccc; border-radius: 50%;"></div>
                            <div class="col-md-9"><h3>{{ bill.feature_name }}</h3><p>{{ bill.host_name }} {{ bill.host_motto }}</p></div>
                            </div>
                        </td>
                        <td style="width: 20%">
                          <h4>
                            {% if bill.state == 0 %}
                              等待分享家确定
                            {% elif bill.state == 1 %}
                              等待付款
                            {% elif bill.state == 2 %}
                              已付款
                            {% elif bill.state == 3 %}
                              约见完成
                            {% elif bill.state == 4 %}
                              已评价
                            {% endif %}
                          </h4>
                        </td>
                        <td style="width: 20%">
                          <a href="/bill/detail/{{ bill.id }}">查看详情</a>
                        </td>
                    </tr>
                  </table>
                  {% endfor %}
                  {% endblock %}
              {% endif %}
          </div>
  	</div>
  </div>

{% endblock %}

{% block js %}
<!-- <script src="{% static 'frontEnd/js/shop.js' %}"></script> -->
{% endblock %}