{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'frontEnd/images/content/cars/icon.ico' %}">

    <title>Rentica - HTML Template</title>
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/mystyle.css'%}">

    <!--[if lt IE 9]>
    <script src="{% static 'frontEnd/bootstrap/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'frontEnd/bootstrap/js/respond.min.js' %}"></script>
    <script src="{% static 'frontEnd/plugins/REM-unit-polyfill/js/rem.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'frontEnd/js/modernizr.custom.js'%}"></script>
</head>

<body class="cssAnimate" style="background-color:white;">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="ct-js-wrapper" class="ct-pageWrapper">

{% include "frontEnd/nav.html" %}

<div class="container" style="margin-top: 60px;">
	<div class="row">
        <div class="col-md-2" style="text-align:center;">
            <div class="row centerLeftbarIcon"><img src="{{ current_user.icon }}" style="height: 100px; width: 100px; border: 1px solid #cccccc; border-radius: 50%;"></div>
            <div class="row centerLeftbarButton"><a href="/host_center/edit">修改信息</a></div> 
            <div class="row centerLeftbarButton"><a href="/host_center/manage" style="color:black;">订单管理</a></div>
            <div class="row centerLeftbarButton"><a href="/host_center/auth">申请认证</a></div>
        </div>
		<div class="col-md-9" style="padding-top:30px;">
            <table class="table table-bordered ">
              <tr>
                  <td colspan="3" style="text-align:left;">编号：1674654564564654 发起时间：2016-07-31</td>
              </tr>
              <tr>
                  <td>
                      <div class="row">
                          <div class="col-md-3"><img src="{{ current_user.icon }}" style="height: 80px; width: 80px; border: 1px solid #cccccc; border-radius: 50%;"></div>
                          <div class="col-md-9"><h3>香港大学offer申请</h3><p>Lorraine Lee 香港知名大学申请达人</p></div>
                      </div>
                  </td>
                  <td><h4>待确认</h4></td>
                  <td><a href="/host_center/detail">查看详情</a></td>
              </tr>
            </table>
            <table class="table table-bordered ">
              <tr>
                  <td colspan="3" style="text-align:left;">编号：1674654564564654 发起时间：2016-07-31</td>
              </tr>
              <tr>
                  <td>
                      <div class="row">
                          <div class="col-md-3"><img src="{{ current_user.icon }}" style="height: 80px; width: 80px; border: 1px solid #cccccc; border-radius: 50%;"></div>
                          <div class="col-md-9"><h3>香港大学offer申请</h3><p>Lorraine Lee 香港知名大学申请达人</p></div>
                      </div>
                  </td>
                  <td><h4>待确认</h4></td>
                  <td><a href="/host_center/detail">查看详情</a></td>
              </tr>
            </table>
            <table class="table table-bordered ">
              <tr>
                  <td colspan="3" style="text-align:left;">编号：1674654564564654 发起时间：2016-07-31</td>
              </tr>
              <tr>
                  <td>
                      <div class="row">
                          <div class="col-md-3"><img src="{{ current_user.icon }}" style="height: 80px; width: 80px; border: 1px solid #cccccc; border-radius: 50%;"></div>
                          <div class="col-md-9"><h3>香港大学offer申请</h3><p>Lorraine Lee 香港知名大学申请达人</p></div>
                      </div>
                  </td>
                  <td><h4>待确认</h4></td>
                  <td><a href="/host_center/detail">查看详情</a></td>
              </tr>
            </table>
        </div>
	</div>
</div>



{% include 'frontEnd/footer.html' %}

<!-- JavaScripts -->
<script src="{% static 'frontEnd/js/jquery.min.js' %}"></script>
<script src="{% static 'frontEnd/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontEnd/js/dependencies.js'%}"></script>

<script src="{% static 'frontEnd/js/main.js'%}"></script>

<script src="{% static 'frontEnd/js/shop.js' %}"></script>

<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/magnific-popup/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/slick/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>jQuery('.input-daterange').datepicker({});</script>

<script src="{% static 'frontEnd/plugins/bootstrap-slider/js/bootstrap-slider.js' %}"></script>
<script>jQuery('.sliderAmount').slider();</script>

<script src="{% static 'frontEnd/plugins/selectize.js-master/dist/js/standalone/selectize.min.js"></script>


</body>
</html>