<!-- 个人中心左侧栏 供其他页面调用 -->
{% load staticfiles %}<!-- 加载全局变量 -->
<div class="col-md-2" style="text-align:center;">
	<div class="row centerLeftbarIcon"><img src="{{ current_user.icon }}" style="height: 100px; width: 100px; border: 1px solid #cccccc; border-radius: 50%;"></div>
	<div class="row centerLeftbarButton"><a href="/host_center/edit" >修改信息</a></div> 
	<div class="row centerLeftbarButton"><a href="/host_center/manage" >订单管理</a></div>

    {% if current_user.state == 0 %}
    <div class="row centerLeftbarButton"><a href="/image-receive/" >注册HOST</a></div>
    {% elif current_user.state == 1 or current_user.state == 2 %}
    <div class="row centerLeftbarButton"><a href="/host_center/edit2" >更新主页</a></div>
    <div class="row centerLeftbarButton"><a href="/host_center/auth" >申请认证</a></div>
    {% endif %}
</div>

<script>
$(document).ready(function(){
	$("[href='" + window.location.pathname + "']").css({"color":"black","font-weight":"bold"});
});
</script>