{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}
<style>
    body{
        background-color:white;  
    }
</style>

    <div class="container" style="margin-top: 60px;">
    	<div class="row">
    		<div class="col-md-2" style="text-align:center;">
    			<div class="row centerLeftbarIcon"><img src="{{ current_user.icon }}" style="height: 100px; width: 100px; border: 1px solid #cccccc; border-radius: 50%;"></div>
    			<div class="row centerLeftbarButton"><a href="/host_center/edit" style="color:black;">修改信息</a></div> 
    			<div class="row centerLeftbarButton"><a href="/host_center/manage">订单管理</a></div>

                {% if current_user.state == 0 %}
                <div class="row centerLeftbarButton"><a href="/image-receive/">注册HOST</a></div>
                {% elif current_user.state == 1 %}
                <div class="row centerLeftbarButton"><a href="/host_center/auth">更新主页</a></div>
                {% elif current_user.state == 2 %}
                <div class="row centerLeftbarButton"><a href="/host_center/edit2">更新主页</a></div>
                <div class="row centerLeftbarButton"><a href="/host_center/auth">申请认证</a></div>
                {% endif %}
    		</div>
    		<div class="col-md-10">

                <div class="row" style="display: flex;align-items: center; padding-top:30px; padding-bottom: 30px; ">
                    <div class="col-xs-4"><hr></div>
                    <div class="col-xs-4" style="text-align:center;">
                        <h4>提交认证资料</h4>
                    </div>
                    <div class="col-xs-4"><hr></div>
                </div>

                <form id="auth" onsubmit="updateAuth();">
                    {% csrf_token %}
                    <div class="panel" style="text-align: left; ">
                      <div class="panel-heading" style="height:50px;">

                        <div class="form-group">
                            <div class="col-xs-4">
                              <input type="text" class="form-control" name="c_name" placeholder="请输入认证名称">
                            </div>
                            <div class="col-xs-8">
                              <input type="text" class="form-control" name="c_introduction" placeholder="请输入认证描述，如：ACM世界排名第一">
                            </div>
                        </div>
                        
                      </div>
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-md-10">
                                <a href="" class="btn btn-primary"  onclick="upload.click(); return false;">上传资料</a><span style="padding-left: 20px; "> 支持：jpg、png、pdf  &nbsp;&nbsp;</span>
                                <input type="text" id="upfile"> 
                                <input type="text" id="upfileType" name="c_type">
                                <input type="file" id="upload" name="certification" accept=".jpg,.png,.pdf" style="display:none" onchange="upfile.value=this.value;upfileType.value=this.value.substr(this.value.indexOf('.')+1);">
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-danger">添加</button>
                            </div>
                        </div>
                      </div>
                    </div>
                </form>

                <div class="row" style="display: flex;align-items: center; padding-top:30px; padding-bottom: 30px; ">
                    <div class="col-xs-4"><hr></div>
                    <div class="col-xs-4" style="text-align:center;">
                        <h4>已提交的资料</h4>
                    </div>
                    <div class="col-xs-4"><hr></div>
                </div>


                {% block passed_auth %}
                {% for auth in passed_certification %}
                <div class="panel" style="text-align: left; ">
                  <div class="panel-heading" style="height:50px;">
                    <div class="row">
                        <div class="col-xs-1 control-label"><h4>①</h4></div>
                        <div class="col-xs-3">
                          认证名称：{{ auth.c_name }}
                        </div>
                        <div class="col-xs-8">
                          认证描述：{{ auth.c_introduction }}
                        </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img data-toggle="lightbox" src="{{ auth.c_file_path }}" data-image="{{ auth.c_file_path }}" data-caption="认证图片" class="img-thumbnail" alt="还未上传认证图片" width="200">
                        </div>
                        <div class="col-md-5">
                            状态:
                            {% if auth.c_state == 1 %}
                                审核中...
                            {% elif auth.c_state == 2 %}
                                审核通过
                            {% elif auth.c_state == 3 %}
                                审核未通过
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <!-- <a href="" class="btn btn-success">编辑</a> -->
                            <a href="" class="btn btn-danger">删除</a>
                        </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endblock %}


                {% block verfying_auth %}
                {% for auth in verfying_certification %}
                <div class="panel" style="text-align: left; ">
                  <div class="panel-heading" style="height:50px;">
                    <div class="row">
                        <div class="col-xs-1 control-label"><h4>①</h4></div>
                        <div class="col-xs-3">
                          认证名称：{{ auth.c_name }}
                        </div>
                        <div class="col-xs-8">
                          认证描述：{{ auth.c_introduction }}
                        </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img data-toggle="lightbox" src="{{ auth.c_file_path }}" data-image="{{ auth.c_file_path }}" data-caption="认证图片" class="img-thumbnail" alt="还未上传认证图片" width="200">
                        </div>
                        <div class="col-md-5">
                            状态：
                            {% if auth.c_state == 1 %}
                                审核中...
                            {% elif auth.c_state == 2 %}
                                审核通过
                            {% elif auth.c_state == 3 %}
                                审核未通过
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <!-- <a href="" class="btn btn-success">编辑</a> -->
                            <form action="/host_center/delete_auth" method="POST">
                            {% csrf_token %}
                                <input type="hidden" name="crt_id" value="{{ auth.id }}">
                                <button type="submit" class="btn btn-danger">删除</button>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                {% endblock %}

                


    		</div>
    	</div>
    </div>

{% endblock %}

{% block js %}

<script>
function updateAuth(){

     var formData = new FormData($( "#auth" )[0]);  
     $.ajax({  
          url: '/host_center/auth' ,  
          type: 'POST',  
          data: formData,  
          async: false,  
          cache: false,  
          contentType: false,  
          processData: false,  
            success : function(str){
                console.log('成功');
                console.log(str);
                $( '#auth').html(str);
            },
            error : function(err){
                console.log('失败');
                console.log(err);
                $( '#auth').html(err.status + " : " + err.statusText + " : " + err.responseText);
            }
     }); 
}
</script>
{% endblock %}