{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}
<style>
    body{
        background-color:white;
    }
</style>

    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340"
             data-type="parallax" data-stellar-background-ratio="0.3"
             data-bg-image="{% static 'frontEnd/images/content/cars/bg-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/bg-01-mobile.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2
                class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">成为HOST</h2></div>
    </section>
    <form name="icon" class="ct-u-sectionBorder" action="/complete-account-icon/" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="tabpanel ct-u-paddingTop10 ct-u-paddingBottom" style="padding-left: 10%">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a role="tab" data-toggle="tab">第一步:上传头像</a></li>
                <li role="presentation"><a href ="javascript:return false;" role="tab" data-toggle="tab">第二步: 自我介绍与完善资料</a></li>
                <li role="presentation"><a href ="javascript:return false;" role="tab" data-toggle="tab">第三步: 个人优势与提供服务</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <style>
                    body {
                        margin: 0;
                        text-align: center;
                    }

                    #clipArea {
                        margin: 20px;
                        height: 300px;
                    }

                    #file,
                    #clipBtn {
                        margin: 20px;
                    }

                    #view {
                        margin: 0 auto;
                        width: 200px;
                        height: 200px;
                    }
                </style>

                <div id="clipArea"></div>
                <input type="file" id="file" name="icon" class="" >
                <button id="clipBtn" class="btn btn-lg btn-motive" type="button">截取</button>
                <div id="view"></div>
            </div>

            <div class="row" style="margin-left: 29%">
                <div class="col-md-6 ct-u-paddingTop40 ct-u-paddingBottom150">
                    <button id="foo" type="button" class="btn btn-lg btn-wide btn-motive"><span>进入下一步</span>
                    </button>
                </div>
            </div>

        </div>
    </form>

{% endblock %}

{% block js %}
<!-- 截取头像 -->
<script src="{% static 'frontEnd/js/photo-cut/iscroll-zoom.js' %}"></script>
<script src="{% static 'frontEnd/js/photo-cut/hammer.js' %}"></script>
<script src="{% static 'frontEnd/js/photo-cut/lrz.all.bundle.js' %}"></script>
<script src="{% static 'frontEnd/js/photo-cut/jquery.photoClip.js' %}"></script>
<script>
    var flag = false;
    //document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    var clipArea = new bjj.PhotoClip("#clipArea", {
        size: [260, 260],
        outputSize: [640, 640],
        file: "#file",
        view: "#view",
        ok: "#clipBtn",
        loadStart: function () {
            console.log("照片读取中");
        },
        loadComplete: function () {
            console.log("照片读取完成");
            flag = true;
        },
        clipFinish: function (dataURL) {
            //console.log(dataURL);
        }
    });
    //clipArea.destroy();

    $(document).ready(function () {
        /* $.ajaxSetup({
            dataType: "json",
            beforeSend: function (xhr, settings) {
                var csrftoken = $.cookie('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }); */
        $("#foo").click(function () {
            if (flag) {
                var image = $("#view").attr("style");
                var fuck = $.ajax({
                    type: "POST",
                    url: "/image-receive/",
                    data: { data: image, c: document.cookie},
                    dataType: "jsonp",
                    async:false,
                    success: window.location.replace("/complete-account/")
                }).always(function (data) {
                    console.log(data)
                });
                console.log(fuck.responseText)               
            }
            else{
                alert('请上传头像');
            }
        })
    })
</script>
{% endblock %}