{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'frontEnd/images/content/cars/icon.ico' %}">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png' %}">-->

    <title>Rentica - HTML Template</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css' %}">

    <!--[if lt IE 9]>
    <script src="{% static 'frontEnd/bootstrap/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'frontEnd/bootstrap/js/respond.min.js' %}"></script>
    <script src="{% static 'frontEnd/plugins/REM-unit-polyfill/js/rem.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'frontEnd/js/modernizr.custom.js' %}"></script>


</head>

<body class="cssAnimate">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="index.html"><img src="{% static 'frontEnd/images/content/logo2.png' %}"
                                                              alt=""/></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="active"><a href="index.html"><span>Home</span></a></li>
        <li><a href="about.html"><span>About us</span></a></li>
        <li><a href="gallery.html"><span>Our gallery</span></a></li>
        <li class="dropdown"><a href="rent-now.html"><span>Rent Now</span></a>
            <ul class="dropdown-menu">
                <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="blog.html"><span>Blog</span></a>
            <ul class="dropdown-menu">
                <li><a href="blog.html"><span>Blog</span></a></li>
                <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="events.html"><span>Events</span></a>
            <ul class="dropdown-menu">
                <li><a href="events.html"><span>Events</span></a></li>
                <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="account.html"><span>Pages</span></a>
            <ul class="dropdown-menu">
                <li><a href="account.html"><span>My Account</span></a></li>
                <li><a href="login.html"><span>Login</span></a></li>

                <li><a href="404.html"><span>404</span></a></li>
            </ul>
        </li>
        <li><a href="services.html"><span>Services</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

    {% include "frontEnd/nav.html" %}


    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340"
             data-type="parallax" data-stellar-background-ratio="0.3"
             data-bg-image="{% static 'frontEnd/images/content/cars/bg-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/bg-01-mobile.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2
                class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">成为HOST</h2></div>
    </section>

    <form name="icon" class="ct-u-sectionBorder" action="/complete-account-icon/" method="post"
          enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-12 ct-u-paddingTop80">
                    <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom70">
                        <h2 class="ct-sectionHeader-title">
                            <small><span>上传头像</span></small>
                        </h2>
                    </div>

                    <!--这里的头像上传暂时没有自适应-->
                    <div>

                        <style>
                            body {
                                margin: 0;
                                text-align: center;
                            }

                            #clipArea {
                                margin: 20px;
                                height: 300px;
                            }

                            #file,
                            #clipBtn {
                                margin: 20px;
                            }

                            #view {
                                margin: 0 auto;
                                width: 200px;
                                height: 200px;
                            }
                        </style>

                        <div id="clipArea"></div>
                        <input type="file" id="file" name="icon">
                        <!--<button id="clipBtn">截取</button>-->
                        <!-- <div id="view"></div>  -->
                    </div>
                </div>
            </div>

            <div class="row" style="margin-left: 29%">
                <div class="col-md-6 ct-u-paddingTop40 ct-u-paddingBottom150">
                    <button id="clipBtn" type="submit" class="btn btn-lg btn-wide btn-motive"><span>进入下一步</span>
                    </button>
                </div>
            </div>

        </div>
    </form>


    <footer class="ct-footer ct-u-sectionDark">
        <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
            <div class="container">
                <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014
                </div>
                <ul class="ct-socials">
                    <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i
                            class="fa fa-flickr"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i
                            class="fa fa-instagram"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i
                            class="fa fa-pinterest"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i
                            class="fa fa-facebook-square"></i></a></li>
                    <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i
                            class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>

</div>

<!-- JavaScripts -->

<script src="{% static 'frontEnd/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'frontEnd/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontEnd/js/dependencies.js' %}"></script>

<script src="{% static 'frontEnd/js/main.js' %}"></script>

<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/magnific-popup/init.js' %}"></script>


<script src="{% static 'frontEnd/plugins/selectize.js-master/dist/js/standalone/selectize.min.js' %}"></script>

<script src="{% static 'frontEnd/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/slick/init.js' %}"></script>

<!-- clip image -->

<script src="{% static 'frontEnd/js/photo-cut/iscroll-zoom.js' %}"></script>
<script src="{% static 'frontEnd/js/photo-cut/hammer.js' %}"></script>
<script src="{% static 'frontEnd/js/photo-cut/lrz.all.bundle.js' %}"></script>
<script src="{% static 'frontEnd/js/photo-cut/jquery.photoClip.js' %}"></script>


<script>
    //document.addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
    var clipArea = new bjj.PhotoClip("#clipArea", {
        size: [260, 260],
        outputSize: [640, 640],
        file: "#file",
        view: "#view",
        ok: "#clipBtn",
        loadStart: function () {
            console.log("照片读取中");
        },
        loadComplete: function () {
            console.log("照片读取完成");
        },
        clipFinish: function (dataURL) {
            console.log(dataURL);
        }
    });
    //clipArea.destroy();
</script>

</body>
</html>