{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'frontEnd/images/content/cars/icon.ico' %}">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png' %}">-->

    <title>完善账户信息</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/test.css' %}">

    <!--[if lt IE 9]>
    <script src="{% static 'frontEnd/bootstrap/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'frontEnd/bootstrap/js/respond.min.js' %}"></script>
    <script src="{% static 'frontEnd/plugins/REM-unit-polyfill/js/rem.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'frontEnd/js/jquery.min.js' %}"></script>
    <script src="{% static 'frontEnd/js/allunivlist.js' %}"></script>
    <script>var school = "";
    var sf = "";
    $(function () {
        $.each(allUnivList, function (j, m) {
            $("#gj").append("<a href='javascript:void(0);' onclick='getSheng(" + j + ",\"" + m.name + "\")'>" + m.name + "</a>");
        });
    });

    function getSheng(aid, name) {
        school = name;
        $("#sheng").show();
        $("#list").html('');
        $("#sheng").html('');
        if (allUnivList[aid].provs.length == 0) {
            $("#sheng").append("不好意思暂时还没有开放这些国家与地区的注册");
        }
        else {
            $.each(allUnivList[aid].provs, function (j, m) {
                $("#sheng").append("<a href='javascript:void(0);' onclick='getSchool(" + aid + "," + j + ",\"" + m.name + "\")'>" + m.name + "</a>");
            });
        }
    }

    function getSchool(gid, pid, name) {
        school = school.substring(0, 2);
        school += " - " + name;
        $("#list").show();
        $("#list").html('');
        $.each(allUnivList[gid].provs[pid].univs, function (k, l) {
            $("#list").append("<a style='width:270px;display:block;float:left;'>" + l.name + "</a>");
        });
        $("#list").append("<br style='clear:both;' />");

    }</script>
    <script src="{% static 'frontEnd/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'frontEnd/js/tinymce/tinymce.min.js'%}"></script>
    <script src="{% static 'frontEnd/js/tinymce/tinymce-init.js'%}"></script>
</head>

<body class="cssAnimate">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="index.html"><img src="{% static 'frontEnd/images/content/logo2.png' %}"
                                                              alt=""/></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="active"><a href="index.html"><span>Home</span></a></li>
        <li><a href="about.html"><span>About us</span></a></li>
        <li><a href="gallery.html"><span>Our gallery</span></a></li>
        <li class="dropdown"><a href="rent-now.html"><span>Rent Now</span></a>
            <ul class="dropdown-menu">
                <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="blog.html"><span>Blog</span></a>
            <ul class="dropdown-menu">
                <li><a href="blog.html"><span>Blog</span></a></li>
                <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="events.html"><span>Events</span></a>
            <ul class="dropdown-menu">
                <li><a href="events.html"><span>Events</span></a></li>
                <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="account.html"><span>Pages</span></a>
            <ul class="dropdown-menu">
                <li><a href="account.html"><span>My Account</span></a></li>
                <li><a href="login.html"><span>Login</span></a></li>

                <li><a href="404.html"><span>404</span></a></li>
            </ul>
        </li>
        <li><a href="services.html"><span>Services</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

    {% include "frontEnd/nav.html" %}


    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340"
             data-type="parallax" data-stellar-background-ratio="0.3"
             data-bg-image="{% static 'frontEnd/images/content/cars/bg-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/bg-01-mobile.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2
                class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">完善账户信息</h2></div>
    </section>


    {% csrf_token %}
    <div class="container">
        <div class="tabpanel ct-u-paddingTop10 ct-u-paddingBottom" style="padding-left: 25%">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a role="tab" data-toggle="tab">第一步:上传头像</a></li>
                <li role="presentation" class="active"><a role="tab" data-toggle="tab">第二步: 自我介绍与完善资料</a></li>
                <li role="presentation"><a role="tab" data-toggle="tab">第三步: 个人优势与提供服务</a></li>
            </ul>
        </div>
        <div class="col-md-7" style="padding-left: 30%; height: 40px">
            <h6 style="background-color: #c4e3f3; ">请把表单填写完成</h6>
        </div>
        <div class="row">
            <form class="ct-u-sectionBorder ct-u-sectionBorder ct-u-marginBottom input-daterange input-group"
                  action="/complete-account/" method="post" id="form1">
                <div class="col-md-7 ct-u-paddingTop80">
                    <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom70">
                        <h2 class="ct-sectionHeader-title">
                            <small><span>自我介绍</span></small>
                        </h2>
                    </div>
                    <textarea name="self-introduction" id="self-introduction">
                        <p style="text-align: left">请按照一下模板更改哦(注:若没有请删除完成后请把这段话删掉)</p>
                        <h3 style="text-align: left">性格特点</h3>
                          <p>
                              (示例)我是一个萌萌的逗比,幽默风趣,会讲笑话,很牛逼.<br>
                              Note that any <strong>性格和善,和人们自来熟</strong> file and image management functionality in
                              this example is part of our commercial offering – the demo is to show the integration.
                          </p>
                        <h3 style="text-align: left">留学情况</h3>
                        <p>
                            (实例)<br>
                            2014 - 2015 <strong>香港理工大学</strong> 网络工程研究生
                            <br>
                            2015 - 现在 <strong>香港科技大学</strong> 通信网络博士
                        </p>
                        <h3 style="text-align: left">学业情况</h3>
                        <p>
                            大学平均G点3.9哇,被同学尊称为何满绩,何大神。托福裸考105,二战111, 雅思8.5, GRE 2398分, 被CMU, UCLA, Stanford, 等名校录取
                        </p>
                        <h3 style="text-align: left">竞赛经历</h3>
                        <p>
                            2015年全国大学生英语竞赛特等奖<br>
                            2014年全国大学生数学建模比赛特等奖<br>
                            2015年世界大学生数学建模二等奖<br>
                            2014年全国ACM上海站第三名<br>
                        </p>
                        <h3 style="text-align: left">科研背景</h3>
                        <p>

                        </p>
                    </textarea>
                </div>
                <div class="col-md-5 ct-u-paddingTop80">
                    <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom70">
                        <h2 class="ct-sectionHeader-title">
                            <small><span>扩展信息</span></small>
                        </h2>
                    </div>

                    <label for="birth">生日</label>
                    <input type="text" id="birth" class="form-control form-control--type2"
                           placeholder="点击以添加生辰"
                           name="birth" title="from">


                    <div class="ct-checkbox ct-u-paddingTop10 ct-u-paddingMD-bot10">
                        <label for="gender">性别</label>
                        <input class="form-control form-control--type2" id="gender" name="gender" type="checkbox"
                               checked>
                    </div>

                    <select class="ct-select ct-js-selectize" title="Sorting" name="selectbox">
                        <option value="女">女</option>
                        <option value="男">男</option>
                    </select>


                    <div class="form-group ">
                        <label for="motto">个性签名</label>
                        <input id="motto" name="motto" type="text" class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <label for="service-time" class="required">您方便服务的时间</label>
                        <input id="service-time" name="service-time" required
                               class="form-control form-control--type2">
                    </div>

                    <!--这里的填写最低薪酬的方法加上一个前端的验证 是否为数字-->
                    <div class="form-group">
                        <label for="min-payment" class="required">最低薪酬(人民币元/小时)</label>
                        <input id="min-payment" name="min-payment" type="number" required value="请填写数字"
                               class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <label for="max-payment" class="required">最高薪酬(人民币元/小时)</label>
                        <input id="max-payment" name="max-payment" type="number" required value="请填写数字"
                               class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <div style="width:100%; margin:0 auto; overflow:hidden;">
                            <label for="txtSc" class="required">你的学校</label>
                            <input type="text" id="txtSc" name="school"
                                   class="form-control form-control--type2"/>

                            <div id="gj"
                                 style="width:100%; border:1px #000000 solid; padding:10px; overflow:hidden; line-height:25px; display:none;background-color: #FFFFFF;z-index:999;"></div>
                            <div id="sheng"
                                 style="width:100%; border:1px #000000 solid; padding:10px; overflow:hidden; line-height:25px;display:none;background-color: #FFFFFF;z-index:999;"></div>
                            <div id="list"
                                 style="width:100%; border:1px #000000 solid; padding:10px; overflow:hidden; line-height:25px;display:none; background-color: #FFFFFF;z-index:999;height:300px; overflow-y:auto;"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="qq" class="required">QQ号</label>
                        <input id="qq" name="qq" required class="form-control form-control--type2">
                    </div>


                    <!--<div class="form-group">
                            <label for="topic" class="required">您所能提供的服务</label>
                            <input id="topic" name="topic" required class="form-control form-control--type2">
                        </div>

                        <div class="form-group">
                            <label for="feature" class="required">提供服务的具体内容</label>
                            <input id="feature" name="feature" required class="form-control form-control--type2">
                        </div> -->
                </div>
                <div class="row" style="margin-left: 29%">
                    <div class="col-md-6 ct-u-paddingTop40 ct-u-paddingBottom150">
                        <input id="submit" type="submit"
                               class="btn btn-lg btn-wide btn-motive"
                               value="进入下一步,录入自己的服务">
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>


<footer class="ct-footer ct-u-sectionDark">
    <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
        <div class="container">
            <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014
            </div>
            <ul class="ct-socials">
                <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i
                        class="fa fa-flickr"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i
                        class="fa fa-instagram"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i
                        class="fa fa-pinterest"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i
                        class="fa fa-facebook-square"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i
                        class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

<a class="btn btn-primary" data-toggle="modal" href='#modal-id' id="fuckJS">fuckJS</a>
<div class="modal fade" id="modal-id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Choose a picture or upload one</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#choose" aria-controls="choose" role="tab" data-toggle="tab">choose</a>
                        </li>
                        <li role="presentation">
                            <a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">upload</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="choose">
                            <div class="squr"><input type="checkbox" name="c1"></div>
                            <div class="squr"><input type="checkbox" name="c2"></div>
                            <div class="squr"><input type="checkbox" name="c3"></div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="upload">
                            <iframe src="uploadFile.html"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>

</div>


<!-- JavaScripts -->

<script src="{% static 'frontEnd/js/jquery.min.js' %}"></script>
<script src="{% static 'frontEnd/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontEnd/js/dependencies.js' %}"></script>

<script src="{% static 'frontEnd/js/main.js' %}"></script>
<script src="{% static 'frontEnd/js/shop.js' %}"></script>


<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/magnific-popup/init.js' %}"></script>


<script src="{% static 'frontEnd/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/slick/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>jQuery('.input-daterange #birth').datepicker({});</script>

<script src="{% static 'frontEnd/plugins/bootstrap-slider/js/bootstrap-slider.js' %}"></script>
<script>jQuery('.sliderAmount').slider();</script>

<script src="{% static 'frontEnd/plugins/selectize.js-master/dist/js/standalone/selectize.min.js' %}"></script>

<script type="text/javascript">
    var mypics = [];
    $(document).ready(function ($) {
        $("#fuckJS").click(function (event) {
            $('.mce-i-image').parent().click()
            $('.mce-textbox').first().attr('value', mypics[i]);
            $(".mce-reset div.mce-primary button").click();
        })
    });
    $(document).ready(function ($) {
        $("#fuckJS").click(function () {
            $.ajax({
                url: '/path/to/file',
                type: 'GET',
                dataType: 'json',
                data: {param1: 'value1'},
                async: false
            }).done(function () {
                        console.log("success");
                    })
                    .always(function () {
                        console.log("complete");
                    });
        });
    });
    $(document).ready(function () {
        $("#submitFileX").click(function (event) {
            $("input[name = 'uploadFile']").click()
        });

        var closeDiv = '<button type="button" class="btn closeCheckBox">×</button>'
        $("[name = c1]").parent().dblclick(function () {
            $("[name = c1]").prop('checked', 'checked')
            $("[name = c1]").parent().css('border', '2px solid #ccc');
            $("[name = c1]").parent().append(closeDiv)
        });
        $("[name = c1]").parent().delegate('button.closeCheckBox', 'click', function () {
            $(this).remove()
            $("[name = c1]").parent().css('border', '1px solid #000');
            console.log("fuckJS")

        });
        $.ajax({
                    url: '/path/to/file',
                    type: 'GET',
                    dataType: 'json',
                })
                .done(function (data) {
                    console.log("success");
                })
                .fail(function () {
                    console.log("error");
                })
                .always(function () {
                    console.log("complete");
                })
    })


</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#txtSc").on("click", function () {
            $("#gj").show();
            $("#list").hide();
            $("#sheng").hide();
        });

        $("#list").delegate("a", "click", function () {
            console.log("fuck js")
            $("#gj").hide();
            $("#list").hide();
            $("#sheng").hide();
            school += " - " + $(this).text();
            $("#txtSc").val(school);
        });

    });</script>


</body>
</html>