{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}
<!-- ZUI 时间选择器 -->
<link rel="stylesheet" type="text/css" href="{% static 'frontEnd/plugins/datetimepicker/datetimepicker.min.css'%}">



    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340"
             data-type="parallax" data-stellar-background-ratio="0.3"
             data-bg-image="{% static 'frontEnd/images/content/cars/bg-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/bg-01-mobile.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2
                class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">完善账户信息</h2></div>
    </section>


    {% csrf_token %}
    <div class="container">
        <div class="tabpanel ct-u-paddingTop10 ct-u-paddingBottom" style="padding-left: 25%">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="javascript:return false;" role="tab" data-toggle="tab">第一步:上传头像</a></li>
                <li role="presentation" class="active"><a role="tab" data-toggle="tab">第二步: 自我介绍与完善资料</a></li>
                <li role="presentation"><a href="javascript:return false;" role="tab" data-toggle="tab">第三步: 个人优势与提供服务</a></li>
            </ul>
        </div>
        <div class="col-md-7" style="padding-left: 30%; height: 40px">
            <h5 style="background-color: #c4e3f3; ">请把表单填写完成</h5>
        </div>
        <div class="row">
            <form class="ct-u-sectionBorder ct-u-sectionBorder ct-u-marginBottom input-daterange input-group"
                  action="/complete-account/" method="post" id="form1">
            {% csrf_token %}
                <div class="col-md-7 ct-u-paddingTop80">
                    <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom70">
                        <h2 class="ct-sectionHeader-title">
                            <small><span>自我介绍</span></small>
                        </h2>
                    </div>
                    <!-- <textarea name="self-introduction" id="self-introduction">
                        <p style="text-align: left">请按照一下模板更改哦(注:若没有请删除完成后请把这段话删掉)</p>
                        <h3 style="text-align: left">性格特点</h3>
                          <p>
                              (示例)我是一个萌萌的逗比,幽默风趣,会讲笑话,很牛逼.<br>
                              Note that any <strong>性格和善,和人们自来熟</strong> file and image management functionality in
                              this example is part of our commercial offering – the demo is to show the integration.
                          </p>
                        <h3 style="text-align: left">留学情况</h3>
                        <p>
                            (实例)<br>
                            2014 - 2015 <strong>香港理工大学</strong> 网络工程研究生
                            <br>
                            2015 - 现在 <strong>香港科技大学</strong> 通信网络博士
                        </p>
                        <h3 style="text-align: left">学业情况</h3>
                        <p>
                            大学平均G点3.9哇,被同学尊称为何满绩,何大神。托福裸考105,二战111, 雅思8.5, GRE 2398分, 被CMU, UCLA, Stanford, 等名校录取
                        </p>
                        <h3 style="text-align: left">竞赛经历</h3>
                        <p>
                            2015年全国大学生英语竞赛特等奖<br>
                            2014年全国大学生数学建模比赛特等奖<br>
                            2015年世界大学生数学建模二等奖<br>
                            2014年全国ACM上海站第三名<br>
                        </p>
                        <h3 style="text-align: left">科研背景</h3>
                        <p>

                        </p>
                    </textarea> -->

                    <textarea id="editor_id" name="self-introduction" style="width:100%;height:500px;">
                        <p style="text-align: left;color: red;font-weight: bold;">请按照一下模板更改哦(注:若没有请删除完成后请把这段话删掉)</p>
                        <h3 style="text-align: left">性格特点</h3>
                          <p>
                              (示例)我是一个萌萌的逗比,幽默风趣,会讲笑话,很牛逼.<br>
                              Note that any <strong>性格和善,和人们自来熟</strong> file and image management functionality in
                              this example is part of our commercial offering – the demo is to show the integration.
                          </p>
                        <h3 style="text-align: left">留学情况</h3>
                        <p>
                            (实例)<br>
                            2014 - 2015 <strong>香港理工大学</strong> 网络工程研究生
                            <br>
                            2015 - 现在 <strong>香港科技大学</strong> 通信网络博士
                        </p>
                        <h3 style="text-align: left">学业情况</h3>
                        <p>
                            大学平均G点3.9哇,被同学尊称为何满绩,何大神。托福裸考105,二战111, 雅思8.5, GRE 2398分, 被CMU, UCLA, Stanford, 等名校录取
                        </p>
                        <h3 style="text-align: left">竞赛经历</h3>
                        <p>
                            2015年全国大学生英语竞赛特等奖<br>
                            2014年全国大学生数学建模比赛特等奖<br>
                            2015年世界大学生数学建模二等奖<br>
                            2014年全国ACM上海站第三名<br>
                        </p>
                        <h3 style="text-align: left">科研背景</h3>
                        <h3 style="text-align: left">项目情况</h3>
                        <h3 style="text-align: left">社会实践</h3>
                        <h3 style="text-align: left">实习/工作经历</h3>
                        <p>

                        </p>
                    </textarea>
                </div>
                <div class="col-md-5 ct-u-paddingTop80">
                    <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom70">
                        <h2 class="ct-sectionHeader-title">
                            <small><span>扩展信息</span></small>
                        </h2>
                    </div>

                    <label for="birth">生日</label>
                    <input type="text" id="birth" class="form-control form-control--type2"
                           placeholder="点击以添加生辰"
                           name="birth" title="from">


                    <!-- <div class="ct-checkbox ct-u-paddingTop10 ct-u-paddingMD-bot10">
                        <label for="gender">性别</label>
                        <input class="form-control form-control--type2" id="gender" name="gender" type="checkbox" checked>
                    </div>

                    <select class="ct-select ct-js-selectize" title="Sorting" name="selectbox">
                        <option value="女">女</option>
                        <option value="男">男</option>
                    </select> -->

                    <div class="form-group">
                        <label for="">性别</label>
                        <select class="form-control" name="gender">
                            <option value="1">男</option>
                            <option value="0">女</option>
                        </select>
                    </div>



                    <div class="form-group ">
                        <label for="motto">个人亮点</label>
                        <input id="motto" name="motto" type="text" class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <label for="service-time" class="required">您方便服务的时间</label>
                        <input id="service-time" name="service-time" required
                               class="form-control form-control--type2">
                    </div>

                    <!--这里的填写最低薪酬的方法加上一个前端的验证 是否为数字-->
                    <div class="form-group">
                        <label for="min-payment" class="required">最低薪酬(人民币元/小时)</label>
                        <input id="min-payment" name="min-payment" type="number" required value="请填写数字"
                               class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <label for="max-payment" class="required">最高薪酬(人民币元/小时)</label>
                        <input id="max-payment" name="max-payment" type="number" required value="请填写数字"
                               class="form-control form-control--type2">
                    </div>
<!--                     <div class="form-group">
                        <div style="width:100%; margin:0 auto; overflow:hidden;">
                            <label for="txtSc" class="required">你的学校</label>
                            <input type="text" id="txtSc" name="school"
                                   class="form-control form-control--type2"/>

                            <div id="gj"
                                 style="width:100%; border:1px #000000 solid; padding:10px; overflow:hidden; line-height:25px; display:none;background-color: #FFFFFF;z-index:999;"></div>
                            <div id="sheng"
                                 style="width:100%; border:1px #000000 solid; padding:10px; overflow:hidden; line-height:25px;display:none;background-color: #FFFFFF;z-index:999;"></div>
                            <div id="list"
                                 style="width:100%; border:1px #000000 solid; padding:10px; overflow:hidden; line-height:25px;display:none; background-color: #FFFFFF;z-index:999;height:300px; overflow-y:auto;"></div>
                        </div>
                    </div> -->

                    <div class="form-group">
                        <label for="qq" class="required">QQ号</label>
                        <input id="qq" name="qq" required class="form-control form-control--type2">
                    </div>

                    <div class="form-group">
                        <label for="alipay" class="required">支付宝</label>
                        <input id="alipay" name="alipay" required class="form-control form-control--type2">
                    </div>


                    <label>请选择您的学历</label>
                    <select class="form-control" onchange="showEducation(this.value)">
                      <option>本科</option>
                      <option>硕士</option>
                      <option>博士</option>
                      <option>其他</option>
                    </select>
                    <div id="Education">
                        <input type="hidden" name="education" value="0">
                    </div>


                    <div id="school">
                        <input type="hidden"  id="txtSc2" name="schoolID1">
                        <input type="text" class="form-control" id="txtSc" name="school1" placeholder="&nbsp;&nbsp;点此选择您的本科学校" />
                        <div id="gj" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px; display:none;background-color:white;"></div>
                        <div id="sheng" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;"></div>
                        <div id="list" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;height:300px; overflow-y:auto;"></div>
                        <input type="text" class="form-control" name="bachelor_major" placeholder="点此输入您的本科专业">
                        <input type="text" class="form-control form-date" name="bachelor_start" placeholder="点此选择开始时间">
                        <input type="text" class="form-control form-date" name="bachelor_end" placeholder="点此选择结束时间">
                    </div>
                    <br><br><br>

                    <div id="Mschool" style="display:none;">
                        <input type="hidden"  id="MtxtSc2" name="schoolID2">
                        <input type="text" class="form-control" id="MtxtSc" name="school2" placeholder="&nbsp;&nbsp;点此选择您的硕士学校" style="margin-top: 10px; "/>
                        <div id="Mgj" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px; display:none;background-color:white;"></div>
                        <div id="Msheng" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;"></div>
                        <div id="Mlist" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;height:300px; overflow-y:auto;"></div>
                        <input type="text" class="form-control" name="graduate_major" placeholder="点此输入您的硕士专业">
                        <input type="text" class="form-control form-date" name="graduate_start" placeholder="点此选择开始时间">
                        <input type="text" class="form-control form-date" name="graduate_end" placeholder="点此选择结束时间">
                    </div>

                    <div id="Pschool" style="display:none;">
                        <input type="hidden"  id="PtxtSc2" name="schoolID3">
                        <input type="text" class="form-control" id="PtxtSc" name="school3" placeholder="&nbsp;&nbsp;点此选择您的博士学校" style="margin-top: 10px; "/>
                        <div id="Pgj" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px; display:none;background-color:white;"></div>
                        <div id="Psheng" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;"></div>
                        <div id="Plist" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;height:300px; overflow-y:auto;"></div>
                        <input type="text" class="form-control" name="phd_major" placeholder="点此输入您的博士专业">
                        <input type="text" class="form-control form-date" name="phd_start" placeholder="点此选择开始时间">
                        <input type="text" class="form-control form-date" name="phd_end" placeholder="点此选择结束时间">
                    </div>




                    <!--<div class="form-group">
                            <label for="topic" class="required">您所能提供的服务</label>
                            <input id="topic" name="topic" required class="form-control form-control--type2">
                        </div>

                        <div class="form-group">
                            <label for="feature" class="required">提供服务的具体内容</label>
                            <input id="feature" name="feature" required class="form-control form-control--type2">
                        </div> -->
                </div>
                <div class="row" style="margin-left: 29%">
                    <div class="col-md-6 ct-u-paddingTop40 ct-u-paddingBottom150">
                        <input id="submit" type="submit"
                               class="btn btn-lg btn-wide btn-motive"
                               value="进入下一步,录入自己的服务">
                    </div>
                </div>
            </form>
        </div>

    </div>


{% endblock %}

{% block js %}
<!-- ZUI 时间选择器 -->
<script src="{% static 'frontEnd/plugins/datetimepicker/datetimepicker.min.js'%}"></script>
<script>
// 选择时间和日期
$(".form-datetime").datetimepicker(
{
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1,
    format: "yyyy-mm-dd hh:ii"
});
// 仅选择日期
$(".form-date").datetimepicker(
{
    language:  "zh-CN",
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0,
    format: "yyyy-mm-dd"
});

// 选择时间
$(".form-time").datetimepicker({
    language:  "zh-CN",
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 1,
    minView: 0,
    maxView: 1,
    forceParse: 0,
    format: 'hh:ii'
});
</script>


<!-- 富文本编辑器 -->
<script charset="utf-8" src="{% static 'frontEnd/plugins/kindeditor/kindeditor.js'%}"></script>
<script charset="utf-8" src="{% static 'frontEnd/plugins/kindeditor/lang/zh-CN.js'%}"></script>
<script>
        KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>
<!-- 富文本编辑器-图片上传 -->
<script>
    KindEditor.ready(function(k){
        window.editor = k.create('#editor_id',{
            uploadJson : '/host_center/upload_img',
        });
    });
</script>

<!-- 选择学历 -->
<script>

    function showEducation(value){
        console.log(value);
        if (value === '博士') {
            $("#Education").html("<input type=\"hidden\" name=\"education\" value=\"2\">");
            $("#school").show();
            $("#Mschool").show();
            $("#Pschool").show();
        }
        else if (value === '硕士') {
            $("#Education").html("<input type=\"hidden\" name=\"education\" value=\"1\">");
            $("#school").show();
            $("#Mschool").show();
            $("#Pschool").hide();
        }
        else if (value ==='本科') {
            $("#Education").html("<input type=\"hidden\" name=\"education\" value=\"0\">");
            $("#school").show();
            $("#Mschool").hide();
            $("#Pschool").hide();
        }
        else if (value === '其他') {
            $("#Education").html("<input type=\"hidden\" name=\"education\" value=\"3\">");
            $("#school").hide();
            $("#Mschool").hide();
            $("#Pschool").hide();
        }
        else{

        }
    }
</script>

<!-- 选择学校JS -->
<script src="{% static 'frontEnd/js/schoolsearch/allunivlist.js'%}"></script>
<!-- <script type="text/javascript" src="http://www.jq-school.com/js/jquery-1.7.2.min.js"></script>  -->

<!-- 本科school-search -->
<script type="text/javascript">
var school = "";
var sf = "";

var schoolID = "";
$(function (){
    $.each(allUnivList,function (j,m){
        $("#gj").append("<a href='javascript:void(0);' onclick='getSheng("+j+",\""+m.name+"\")'>"+m.name+"&nbsp;&nbsp;"+"</a>");
    });
});

//获取某国家的省份
//参数 aid
//参数 name
function getSheng(aid,name){
school = name;
    $("#sheng").show();
    $("#list").html('');
    $("#sheng").html('');
    if (allUnivList[aid].provs.length == 0){
        $("#sheng").append("暂不支持");
    }
    else
    {
        $.each(allUnivList[aid].provs,function (j,m){
            $("#sheng").append("<a href='javascript:void(0);' onclick='getSchool("+aid+","+j+",\""+m.name+"\")'>"+m.name+"&nbsp;&nbsp;"+"</a>");
        });
    }
}

//获取某省份的学校
//参数 gid
//参数 pid
//参数 name:学校名字
function  getSchool(gid,pid,name){
school = school.substring(0,2);//取schoo字符串中前两个字符
school += "-"+ name;
$("#list").show();
    $("#list").html('');
    $.each(allUnivList[gid].provs[pid].univs,function (k,l){

        $("#list").append("<a href=\"javascript:getSchoolID(\'"+l.school_id+"\',\'"+l.name+"\')\" style='width:270px;display:block;float:left;'>"+l.name+"</a>");
    });
    $("#list").append("<br style='clear:both;' />");

}

//点击学校响应
function getSchoolID(school_id,school_name){
    schoolID = school_id;
    console.log(schoolID);
    console.log(school_name);
    $("#gj").hide();
    $("#list").hide();
    $("#sheng").hide();
    school += "-"+school_name;

    $("#txtSc").val(school);
    $("#txtSc2").val(schoolID);

}

//点击表单响应
// $("#txtSc").live("click",function (){
//     $("#gj").show();
//     $("#list").hide();
//     $("#sheng").hide();
// });
$('body').on('click', '#txtSc', function (){
    $("#gj").show();
     $("#list").hide();
    $("#sheng").hide();
 });
</script>



<!-- 硕士school-search -->
<script type="text/javascript">
var Mschool = "";
var Msf = "";

var MschoolID = "";
$(function (){
    $.each(allUnivList,function (j,m){
        $("#Mgj").append("<a href='javascript:void(0);' onclick='MgetSheng("+j+",\""+m.name+"\")'>"+m.name+"&nbsp;&nbsp;"+"</a>");
    });
});

//获取某国家的省份
//参数 aid
//参数 name
function MgetSheng(aid,name){
Mschool = name;
    $("#Msheng").show();
    $("#Mlist").html('');
    $("#Msheng").html('');
    if (allUnivList[aid].provs.length == 0){
        $("#Msheng").append("暂不支持");
    }
    else
    {
        $.each(allUnivList[aid].provs,function (j,m){
            $("#Msheng").append("<a href='javascript:void(0);' onclick='MgetSchool("+aid+","+j+",\""+m.name+"\")'>"+m.name+"&nbsp;&nbsp;"+"</a>");
        });
    }
}

//获取某省份的学校
//参数 gid
//参数 pid
//参数 name:学校名字
function  MgetSchool(gid,pid,name){
Mschool = Mschool.substring(0,2);//取schoo字符串中前两个字符
Mschool += "-"+ name;
$("#Mlist").show();
    $("#Mlist").html('');
    $.each(allUnivList[gid].provs[pid].univs,function (k,l){

        $("#Mlist").append("<a href=\"javascript:MgetSchoolID(\'"+l.school_id+"\',\'"+l.name+"\')\" style='width:270px;display:block;float:left;'>"+l.name+"</a>");
    });
    $("#Mlist").append("<br style='clear:both;' />");

}

//点击学校响应
function MgetSchoolID(school_id,school_name){
    MschoolID = school_id;
    console.log(MschoolID);
    console.log(school_name);
    $("#Mgj").hide();
    $("#Mlist").hide();
    $("#Msheng").hide();
    Mschool += "-"+school_name;

    $("#MtxtSc").val(Mschool);
    $("#MtxtSc2").val(MschoolID);

}

//点击表单响应
// $("#MtxtSc").live("click",function (){
//     $("#Mgj").show();
//     $("#Mlist").hide();
//     $("#Msheng").hide();
// });
$('body').on('click', '#MtxtSc', function (){
    $("#Mgj").show();
     $("#Mlist").hide();
    $("#Msheng").hide();
 });
</script>



<!-- 博士school-search -->
<script type="text/javascript">
var Pschool = "";
var Psf = "";

var PschoolID = "";
$(function (){
    $.each(allUnivList,function (j,m){
        $("#Pgj").append("<a href='javascript:void(0);' onclick='PgetSheng("+j+",\""+m.name+"\")'>"+m.name+"&nbsp;&nbsp;"+"</a>");
    });
});

//获取某国家的省份
//参数 aid
//参数 name
function PgetSheng(aid,name){
Pschool = name;
    $("#Psheng").show();
    $("#Plist").html('');
    $("#Psheng").html('');
    if (allUnivList[aid].provs.length == 0){
        $("#Psheng").append("暂不支持");
    }
    else
    {
        $.each(allUnivList[aid].provs,function (j,m){
            $("#Psheng").append("<a href='javascript:void(0);' onclick='PgetSchool("+aid+","+j+",\""+m.name+"\")'>"+m.name+"&nbsp;&nbsp;"+"</a>");
        });
    }
}

//获取某省份的学校
//参数 gid
//参数 pid
//参数 name:学校名字
function  PgetSchool(gid,pid,name){
Pschool = Pschool.substring(0,2);//取schoo字符串中前两个字符
Pschool += "-"+ name;
$("#Plist").show();
    $("#Plist").html('');
    $.each(allUnivList[gid].provs[pid].univs,function (k,l){

        $("#Plist").append("<a href=\"javascript:PgetSchoolID(\'"+l.school_id+"\',\'"+l.name+"\')\" style='width:270px;display:block;float:left;'>"+l.name+"</a>");
    });
    $("#Plist").append("<br style='clear:both;' />");

}

//点击学校响应
function PgetSchoolID(school_id,school_name){
    PschoolID = school_id;
    console.log(PschoolID);
    console.log(school_name);
    $("#Pgj").hide();
    $("#Plist").hide();
    $("#Psheng").hide();
    Pschool += "-"+school_name;

    $("#PtxtSc").val(Pschool);
    $("#PtxtSc2").val(PschoolID);

}

//点击表单响应
// $("#PtxtSc").live("click",function (){
//     $("#Pgj").show();
//     $("#Plist").hide();
//     $("#Psheng").hide();
// });
$('body').on('click', '#PtxtSc', function (){
    $("#Pgj").show();
     $("#Plist").hide();
    $("#Psheng").hide();
 });
</script>

<!-- <script src="{% static 'frontEnd/js/shop.js' %}"></script> -->

<!-- 时间选择 -->
<script src="{% static 'frontEnd/plugins/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>jQuery('.input-daterange #birth').datepicker({});</script>

<script src="{% static 'frontEnd/plugins/bootstrap-slider/js/bootstrap-slider.js' %}"></script>
<script>jQuery('.sliderAmount').slider();</script>


<!-- <script type="text/javascript">
    var mypics = [];
    $(document).ready(function ($) {
        $("#fuckJS").click(function (event) {
            $('.mce-i-image').parent().click()
            $('.mce-textbox').first().attr('value', mypics[i]);
            $(".mce-reset div.mce-primary button").click();
        })
    });
    $(document).ready(function ($) {
        $("#fuckJS").click(function () {
            $.ajax({
                url: '/path/to/file',
                type: 'GET',
                dataType: 'json',
                data: {param1: 'value1'},
                async: false
            }).done(function () {
                        console.log("success");
                    })
                    .always(function () {
                        console.log("complete");
                    });
        });
    });
    $(document).ready(function () {
        $("#submitFileX").click(function (event) {
            $("input[name = 'uploadFile']").click()
        });

        var closeDiv = '<button type="button" class="btn closeCheckBox">×</button>'
        $("[name = c1]").parent().dblclick(function () {
            $("[name = c1]").prop('checked', 'checked')
            $("[name = c1]").parent().css('border', '2px solid #ccc');
            $("[name = c1]").parent().append(closeDiv)
        });
        $("[name = c1]").parent().delegate('button.closeCheckBox', 'click', function () {
            $(this).remove()
            $("[name = c1]").parent().css('border', '1px solid #000');
            console.log("fuckJS")

        });
        $.ajax({
                    url: '/path/to/file',
                    type: 'GET',
                    dataType: 'json',
                })
                .done(function (data) {
                    console.log("success");
                })
                .fail(function () {
                    console.log("error");
                })
                .always(function () {
                    console.log("complete");
                })
    })
</script> -->
{% endblock %}
