{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}
<body class="cssAnimate">

    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340"
             data-type="parallax" data-stellar-background-ratio="0.3"
             data-bg-image="{% static 'frontEnd/images/content/cars/bg-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/bg-01-mobile.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2
                class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">成为HOST</h2></div>
    </section>

    <div class="ct-u-sectionBorder">
        {% csrf_token %}
        <div class="tabpanel ct-u-paddingTop10 ct-u-paddingBottom" style="padding-left: 10%">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="javascript:return false;" role="tab" data-toggle="tab">第一步:上传头像</a></li>
                <li role="presentation" ><a href="javascript:return false;" role="tab" data-toggle="tab">第二步: 自我介绍与完善资料</a></li>
                <li role="presentation" class="active"><a role="tab" data-toggle="tab">第三步: 个人优势与提供服务</a></li>
            </ul>
        </div>

        <div class="container" style="margin-top:30px;">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" >
                    
                    {% block content %}

                    {%  for topic in user_features%}

                    <div class="panel panel-default">
                      <div class="panel-heading"><h3>{{topic.name}}</h3></div>
                      <div class="panel-body">
                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0" id="show{{topic.tag}}" style="width:80%;margin-left:10%;">
                            <div id="{{topic.id}}TXT">
                            {% for feature in topic.feature_list %}
                                <div class="row" style="padding-top:5px;padding-bottom: 5px; " id="{{ feature.f_id }}">
                                    <div class="col-md-12">                           
                                        <p style="float: left;font-size:15px;"> <span class="label label-primary">{{ feature.m_name }}</span> {{ feature.f_name }} </p>
                                        <a href="" class="btn btn-danger" style="float: right; " onclick="delete_feature('{{ topic.id }}','{{ feature.f_name }}','{{ feature.m_id }}');return false">删除</a>
                                    </div>
                                </div>
                            {% endfor %}
<!--                                 <div class="row" style="padding-top:5px;padding-bottom: 5px; ">
                                    <div class="col-md-12">                           
                                        <p style="float: left;font-size:15px;"> <span class="label label-primary">选校定位</span> 如何选择留学学校？ </p>
                                        <a href="" class="btn btn-danger" style="float: right; ">删除</a>
                                    </div>
                                </div>
                                <div class="row" style="padding-top:5px;padding-bottom: 5px; ">
                                    <div class="col-md-12">                           
                                        <p style="float: left;font-size:15px;"> <span class="label label-primary">面试指导</span> 如何打动面试官？ </p>
                                        <a href="" class="btn btn-danger" style="float: right; ">删除</a>
                                    </div>
                                </div> -->

                            </div>
                        </ul>

                        <hr>
                        <form class="form-inline" name="{{topic.tag}}" id="{{topic.id}}" action="/complete-account-feature/"  onsubmit="showFeatures('{{topic.id}}');return false">

                            <select class="form-control" id="minor_topic_id" name="minor_topic_id" required onchange="qingkong();">
                                <option value="">选择小话题</option>

                                {% for minor in topic.minor_topic_list %}
                                <option value="{{ minor.id }}">{{ minor.m_name }}</option>
                                {% endfor %}
                            </select>
                          <div class="form-group">
                            <input type="text" class="form-control" id="{{topic.tag}}" name="feature_name" placeholder="点此添加您要提供的服务">
                            <input type='hidden' name = 'topic_id' value="{{topic.id}}"}>
                            <input type='hidden' name = 'topic_tag' value="show{{topic.tag}}"}>
                          </div>                
                          <button type="submit" class="btn btn-info" style="">添加</button>
                        </form>

                      </div>
                    </div>
        <!--             <div class="row">
                        <div class="col-md-6 col-md-offset-3 ct-u-paddingTop80">
                            <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom70">
                                <form class="ct-u-sectionBorder" name="{{topic.tag}}" action="" id="{{topic.id}}">
                                    <h2 class="ct-sectionHeader-title">
                                        <small><span>{{topic.name}}</span></small>
                                    </h2>
                                    <ul class="ct-simpleList list-unstyled ct-u-marginBottom0" id="show{{topic.tag}}">
                                        <div id="{{topic.id}}TXT">
                                        {% for feature in topic.feature_list %}
                                        <li><i class="fa fa-check"></i><span><a href="javascript:void(0);" onclick="delete_feature( '{{ topic.id }}','{{ feature }}','{{ topic.tag }}' )"><i class="fa fa-trash"></i></a>{{ feature }}</span></li>
                                        {% endfor %}
                                        </div>
                                    </ul>
                                    <div class="form-group" style="padding-top: 1px">
                                        <label for="foreign">{{topic.intro}}</label>
                                        <input class="form-control form-control--type2" id="{{topic.tag}}" name="feature_name">
                                        <input type='hidden' name = 'topic_id' value="{{topic.id}}"}>
                                        <input type='hidden' name = 'topic_tag' value="show{{topic.tag}}"}>


                                    </div>
                                </form>
                                <button onclick="showFeatures('{{topic.id}}')" class="btn btn-lg btn-wide btn-motive">添加</button>
                            </div>
                        </div>
                    </div> -->
                    {% endfor %}

                    {% endblock %}
                    <div class="row" style="margin-left: 29%">
                        <div class="col-md-6 ct-u-paddingTop40 ct-u-paddingBottom150">
                            <script>
                                function openpage() {
                                    window.location.replace("/index/")
                                }
                            </script>
                            <button id="clipBtn" onclick="openpage()" class="btn btn-lg btn-wide btn-motive">
                                <span>完成全部的内容</span>
                            </button>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</div><!-- 接：<div id="ct-js-wrapper" class="ct-pageWrapper"> 很重要：勿删 -->
</body>
{% endblock %}

{% block js %}
<!-- 添加特质 -->
<script>
function showFeatures(tag){
    console.log('aa');
    console.log(tag);
    // $("#features").submit(function(){
        var data1 = $("#"+tag).serialize();
        console.log(data1);
        $.ajax({
            url : "/complete-account-feature/",
            type : "POST",
            dataType : "html",
            data : $("#"+tag).serialize(),
            success : function(str){
                console.log('成功');
                console.log(str);
                str2 = JSON.parse(str);
                console.log(str2);
                // $('#'+tag+"TXT").append("<li><i class=\"fa fa-check\"></i><span><a href=\"\"><i class=\"fa fa-trash\"></i></a>"+str2['data']['feature_name']+"</span></li>");
                $('#'+tag+"TXT").append("<div class=\"row\" style=\"padding-top:5px;padding-bottom: 5px; \"><div class=\"col-md-12\"><p style=\"float: left;font-size:15px;\"> <span class=\"label label-primary\">"+ str2['data']['m_name'] +"</span> "+ str2['data']['feature_name'] +" </p><a href=\"\" class=\"btn btn-danger\" style=\"float: right; \">删除</a></div></div>");
            }

        })
    // });
}
</script>

<!-- 删除特质 -->
<script>
    function delete_feature(id,z,t){
        console.log('aa');
        console.log(id);
        console.log(z);
        console.log(t);
        // var jsondata = {  
        //                 "topic_id" : id,
        //                 "feature_name" :  z,
        //                 "m_id" : t,
        //             };

        $.ajax({
            type : "POST",
            url : "/delete-feature/",
            // contentType: "application/json;charset=utf-8",
            dataType : "JSON",
            data : {"topic_id":id,"feature_name":z,"minor_topic_id":t},
            success : function(str){
                console.log('成功');
                console.log(str);
                console.log(str['data']['f_id']);
                var strID = str['data']['f_id'];
                $('#'+strID).html("");
            },
            error : function(err){
                console.log('失败');
                console.log(err);
            }

        })
    }
</script>

<!-- 切换小话题后，清空input -->
<script>
    function qingkong(){
        $("[name='feature_name']").val('');
    }
</script>
{% endblock %}