<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="./assets/images/content/cars/icon.ico">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->

    <title>Rentica - HTML Template</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/mystyle.css'%}">

    <!--[if lt IE 9]>
    <script src="./assets/bootstrap/js/html5shiv.min.js"></script>
	<script src="./assets/bootstrap/js/respond.min.js"></script>
 	<script src="./assets/plugins/REM-unit-polyfill/js/rem.min.js"></script>
    <![endif]-->
    <script src="./assets/js/modernizr.custom.js"></script>
</head>

<body class="cssAnimate">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'><div><div><div><div><div><div><div><div><div><div></div></div></div></div></div></div></div></div></div></div></div>
</div>

<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="index.html"><img src="./assets/images/content/logo2.png" alt=""/></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="active"><a href="index.html"><span>Home</span></a></li>
        <li><a href="about.html"><span>About us</span></a></li>
        <li><a href="gallery.html"><span>Our gallery</span></a></li>
        <li class="dropdown"><a href="rent-now.html"><span>Rent Now</span></a>
            <ul class="dropdown-menu">
                <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="blog.html"><span>Blog</span></a>
            <ul class="dropdown-menu">
                <li><a href="blog.html"><span>Blog</span></a></li>
                <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="events.html"><span>Events</span></a>
            <ul class="dropdown-menu">
                <li><a href="events.html"><span>Events</span></a></li>
                <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="account.html"><span>Pages</span></a>
            <ul class="dropdown-menu">
                <li><a href="account.html"><span>My Account</span></a></li>
                <li><a href="login.html"><span>Login</span></a></li>

                <li><a href="404.html"><span>404</span></a></li>
            </ul>
        </li>
        <li><a href="services.html"><span>Services</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

<nav class="navbar navbar-default ct-navbar ct-shadow ct-shadow--type1">

    <div class="navbar-header">
        <a class="ct-logoDark" href="index.html"><img src="./assets/images/content/logo.png" alt=""/></a>
        <a class="ct-logoWhite" href="index.html"><img src="./assets/images/content/logo2.png" alt=""/></a>
    </div>

    <div class="container">
        <div class="ct-navbarBox">
            <a href="login.html" class="ct-login"><span>Login</span><i class="fa fa-lock"></i></a>
            <div class="ct-navbarBox-meta">
                <div class="ct-navSearch-box">
                    <a class="ct-js-navSearch ct-navSearch" href="#"><i class="fa fa-search"></i></a> <!-- Navbar Search  -->
                    <div class="ct-navbar-search">
                        <form role="form">
                            <div class="form-group  ct-input--type2">
                                <input id="searchM" required="" type="text" name="field[]" placeholder="Search website..." class="form-control">
                                <label for="searchM"><span>Search</span></label>
                                <button class="ct-navbar-search-button" type="submit">
                                    <i class="fa fa-search fa-fw"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ct-langPicker">
                    <div class="ct-langPicker-content">
                        <a href="#"><img src="./assets/images/content/flag-01.jpg" alt=""/></a>
                        <ul class="ct-langPicker-list">
                            <li><a href="#">English <img src="./assets/images/content/flag-01.jpg" alt=""/></a></li>
                            <li><a href="#">Español <img src="./assets/images/content/flag-03.jpg" alt=""/></a></li>
                            <li><a href="#">Italiano <img src="./assets/images/content/flag-02.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                </div> <!-- Flags -->
            </div>

            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul class="nav navbar-nav ct-navbar--fadeIn">
            <!--=========================================================================-->
            <li><a href="index.html"><div class="ct-textEffect"><span data-content="Home">Home</span></div></a></li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="about.html"><div class="ct-textEffect"><span data-content="About Us">About Us</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="about.html"><span>About us</span></a></li>
                    <li><a href="gallery.html"><span>Our gallery</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li><a href="services.html"><div class="ct-textEffect"><span data-content="Services">Services</span></div></a></li>
            <li class="dropdown"><a href="rent-now.html"><div class="ct-textEffect"><span data-content="Rent Now">Rent Now</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                    <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                    <li class="ct-subDropdown"><a href="rent-page-variation-1.html">Rent Page</a>
                        <ul class="ct-submenu dropdown-menu">
                            <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                            <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                            <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="blog.html"><div class="ct-textEffect"><span data-content="Blog">Blog</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="blog.html"><span>Blog</span></a></li>
                    <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                    <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="events.html"><div class="ct-textEffect"><span data-content="Events">Events</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="events.html"><span>Events</span></a></li>
                    <li class="ct-subDropdown"><a href="event-single.html">Event Single</a>
                        <ul class="ct-submenu dropdown-menu">
                            <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                            <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="active dropdown"><a href="account.html"><div class="ct-textEffect"><span data-content="Pages">Pages</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="account.html"><span>My Account</span></a></li>
                    <li><a href="login.html"><span>Login</span></a></li>

                    <li><a href="404.html"><span>404</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li><a href="contact.html"><div class="ct-textEffect"><span data-content="Contact">Contact</span></div></a></li>
        </ul>

    </div>
</nav>

<section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340" data-type="parallax" data-stellar-background-ratio="0.3" data-bg-image="./assets/images/content/cars/mediaHeader-01.jpg" data-bg-image-mobile="./assets/images/content/cars/mediaHeader-01.jpg">
    <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2 class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">elements</h2></div>
</section>

<div class="ct-u-sectionBorder">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50">
                    <h2 class="ct-sectionHeader-title"><small>Cool <span>tabs</span></small></h2>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, phaellius mauris cermius est, matens emini</p>
                </div>
                <div class="ct-tabs ct-u-marginTop50" role="tabpanel">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#about-us" aria-controls="about-us" role="tab" data-toggle="tab">About Us</a></li>
                        <li role="presentation"><a href="#services" aria-controls="services" role="tab" data-toggle="tab">Services</a></li>
                        <li role="presentation"><a href="#client-reviews" aria-controls="client-reviews" role="tab" data-toggle="tab">Client reviews</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="about-us" class="tab-pane fade in active" role="tabpanel">
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ullamcorper tortor turpis,
                                id ullamcorper diam venenatis vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris nisl ex, venenatis
                                in nunc a, tincidunt varius magna. Sed auctor libero nec condimentum pharetra. In sem metus, vulputate eget venenatis et,
                                ultricies ac velit. Praesent suscipit malesuada mi, eget cursus tellus ornare varius. Sed fermentum placerat turpis, quis
                                iaculis elit tempor et. Nullam quis ullamcorper ligula. Integer eget convallis erat. Nullam at risus eu odio aliquam ultricies.
                                Duis luctus nisl vel porttitor feugiat. Nam tortor neque, luctus eu vehicula eu, fermentum ac purus.</p>
                        </div>
                        <div id="services" class="tab-pane fade" role="tabpanel">
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ullamcorper tortor turpis,
                                id ullamcorper diam venenatis vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris nisl ex, venenatis
                                in nunc a, tincidunt varius magna. Sed auctor libero nec condimentum pharetra. In sem metus, vulputate eget venenatis et,
                                ultricies ac velit. Praesent suscipit malesuada mi, eget cursus tellus ornare varius. Sed fermentum placerat turpis, quis
                                iaculis elit tempor et. Nullam quis ullamcorper ligula. Integer eget convallis erat. Nullam at risus eu odio aliquam ultricies.
                                Duis luctus nisl vel porttitor feugiat. Nam tortor neque, luctus eu vehicula eu, fermentum ac purus.</p>
                        </div>
                        <div id="client-reviews" class="tab-pane fade" role="tabpanel">
                            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque ullamcorper tortor turpis,
                                id ullamcorper diam venenatis vel. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris nisl ex, venenatis
                                in nunc a, tincidunt varius magna. Sed auctor libero nec condimentum pharetra. In sem metus, vulputate eget venenatis et,
                                ultricies ac velit. Praesent suscipit malesuada mi, eget cursus tellus ornare varius. Sed fermentum placerat turpis, quis
                                iaculis elit tempor et. Nullam quis ullamcorper ligula. Integer eget convallis erat. Nullam at risus eu odio aliquam ultricies.
                                Duis luctus nisl vel porttitor feugiat. Nam tortor neque, luctus eu vehicula eu, fermentum ac purus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50">
                    <h2 class="ct-sectionHeader-title"><small>Sexy <span>accordion</span></small></h2>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, phaellius mauris cermius est, matens emini</p>
                </div>

                <div class="panel-group ct-u-marginTop50" id="accordion">
                    <div class="panel panel-motive">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a class="h5 collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <small>How easy is to launch this rocket ?</small>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                    ridiculus mus. Quisque ullamcorper tortor turpis, id ullamcorper diam
                                    venenatis vel. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                    Mauris nisl ex, venenatis in nunc a, tincidunt varius magna. Sed auctor libero
                                    nec condimentum pharetra. In sem metus, vulputate eget venenatis ettim.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-motive">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <small>Is it cool enough for me ?</small>
                                </a>
                            </div>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                    ridiculus mus. Quisque ullamcorper tortor turpis, id ullamcorper diam
                                    venenatis vel. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                    Mauris nisl ex, venenatis in nunc a, tincidunt varius magna. Sed auctor libero
                                    nec condimentum pharetra. In sem metus, vulputate eget venenatis ettim.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-motive">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <small>What if I crash ?</small>
                                </a>
                            </div>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                    ridiculus mus. Quisque ullamcorper tortor turpis, id ullamcorper diam
                                    venenatis vel. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                                    Mauris nisl ex, venenatis in nunc a, tincidunt varius magna. Sed auctor libero
                                    nec condimentum pharetra. In sem metus, vulputate eget venenatis ettim.
                                </p>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
   <div class="container">
       <div class="ct-sectionHeader ct-u-marginTop80 ct-u-marginBottom70">
           <h2 class="ct-sectionHeader-title"><small>Awesome <span>icon boxes</span></small></h2>
           <div class="ct-sectionHeader-separator">
               <span class="minus"></span>
               <span class="slash">/</span>
               <span class="slash">/</span>
               <span class="minus"></span>
           </div>
           <p>Aliquam lectus sem, semper in hendrerit eget, iaculis eu neque suspendisse pharetra</p>
       </div>

       <div class="row">
           <div class="col-sm-4">
               <div class="ct-iconBox media ct-u-marginBottom50">
                   <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-wrench"></i></small></div>
                   <div class="ct-iconBox-content media-body">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Our cars work great</h6>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt quis tortor non lobortis.
                           Suspendisse a lacus luctus, luctus libero sed, vulputate est. Donec elementum.</p>
                   </div>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="ct-iconBox media ct-u-marginBottom50">
                   <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-thumbs-o-up"></i></small></div>
                   <div class="ct-iconBox-content media-body">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Outstanding reviews</h6>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt quis tortor non lobortis.
                           Suspendisse a lacus luctus, luctus libero sed, vulputate est. Donec elementum.</p>
                   </div>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="ct-iconBox media ct-u-marginBottom50">
                   <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-car"></i></small></div>
                   <div class="ct-iconBox-content media-body">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Take it for a spin</h6>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt quis tortor non lobortis.
                           Suspendisse a lacus luctus, luctus libero sed, vulputate est. Donec elementum.</p>
                   </div>
               </div>
           </div>
       </div>

       <div class="row">
           <div class="col-sm-4">
               <div class="ct-iconBox ct-iconBox--type2 ct-u-marginBottom80">
                   <div class="h2 ct-iconBox-icon"><small><i class="fa fa-map-marker"></i></small></div>
                   <div class="ct-iconBox-content">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--center">Choose your destination</h6>
                       <p>Lorem ipsum dolor sit amet, consecte adipis suspendisse ma condimentum mau porttitor met mauris, facerit phasellique certimus caesen.</p>
                       <a href="#" class="btn btn-motive"><span>Read More</span></a>
                   </div>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="ct-iconBox ct-iconBox--type2 ct-u-marginBottom80">
                   <div class="h2 ct-iconBox-icon"><small><i class="fa fa-flag"></i></small></div>
                   <div class="ct-iconBox-content">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--center">It's going to get speedy</h6>
                       <p>Lorem ipsum dolor sit amet, consecte adipis suspendisse ma condimentum mau porttitor met mauris, facerit phasellique certimus caesen.</p>
                       <a href="#" class="btn btn-motive"><span>Read More</span></a>
                   </div>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="ct-iconBox ct-iconBox--type2 ct-u-marginBottom80">
                   <div class="h2 ct-iconBox-icon"><small><i class="fa fa-leaf"></i></small></div>
                   <div class="ct-iconBox-content">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--center">Environment friendly cars</h6>
                       <p>Lorem ipsum dolor sit amet, consecte adipis suspendisse ma condimentum mau porttitor met mauris, facerit phasellique certimus caesen.</p>
                       <a href="#" class="btn btn-motive"><span>Read More</span></a>
                   </div>
               </div>
           </div>
       </div>

       <div class="row">
           <div class="col-sm-4">
               <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginBottom50">
                   <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-send"></i></small></div>
                   <div class="ct-iconBox-content media-body">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Now this is funky</h6>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt quis tortor non lobortis.
                           Suspendisse a lacus luctus, luctus libero sed, vulputate est. Donec elementum.</p>
                   </div>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginBottom50">
                   <div class="h3 ct-iconBox-icon ct-iconBox-icon--inverse media-left"><small><i class="fa fa-graduation-cap"></i></small></div>
                   <div class="ct-iconBox-content media-body">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">And really clever</h6>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt quis tortor non lobortis.
                           Suspendisse a lacus luctus, luctus libero sed, vulputate est. Donec elementum.</p>
                   </div>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginBottom50">
                   <div class="h3 ct-iconBox-icon ct-iconBox-icon--gray media-left"><small><i class="fa fa-shopping-cart"></i></small></div>
                   <div class="ct-iconBox-content media-body">
                       <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">You should buy it</h6>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt quis tortor non lobortis.
                           Suspendisse a lacus luctus, luctus libero sed, vulputate est. Donec elementum.</p>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>

<section>
    <div class="container">
        <div class="ct-sectionHeader ct-u-marginTop30 ct-u-marginBottom70">
            <h2 class="ct-sectionHeader-title"><small>Fancy <span>buttons</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>Aliquam lectus sem, semper in hendrerit eget, iaculis eu neque suspendisse pharetra</p>
        </div>

        <div class="ct-u-marginBottom50 ct-featuredButton-container text-center">
            <a href="#" class="btn btn-xs btn-motive"><span>Read More</span></a>
            <a href="#" class="btn btn-motive"><span>Read More</span></a>
            <a href="#" class="btn btn-lg btn-motive"><span>Read More</span></a>
            <a href="#" class="btn btn-xs btn-motive-o"><span>Read More</span></a>
            <a href="#" class="btn btn-motive-o"><span>Read More</span></a>
            <a href="#" class="btn btn-lg btn-motive-o"><span>Read More</span></a>
            <a href="#" class="btn btn-motive"><i class="fa fa-arrow-circle-o-right"></i><span>Read More</span></a>
            <a href="#" class="btn btn-lg btn-motive-o"><i class="fa fa-briefcase"></i><span>Read More</span></a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="ct-sectionHeader ct-u-marginTop30 ct-u-marginBottom70">
            <h2 class="ct-sectionHeader-title"><small>Call to <span>action</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>Aliquam lectus sem, semper in hendrerit eget, iaculis eu neque suspendisse pharetra</p>
        </div>

        <div class="ct-callToAction ct-u-sectionGrayLighter ct-shadow ct-shadow--type1 ct-u-marginBottom100">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3 class="ct-callToAction-header">The best services at an affordable price</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt quis tortor non lobortis.
                        Suspendisse a lacus luctus, luctus libero sed, vulputate est. Donec elementum mauris.</p>
                    <a href="services.html" class="btn btn-lg btn-motive"><span>View services</span></a>
                </div>
            </div>
        </div>
        <div class="ct-callToAction ct-callToAction--type2 ct-u-sectionGrayLighter ct-shadow ct-shadow--type1 ct-u-marginBottom100">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell ct-callToAction-content">
                    <h3 class="ct-callToAction-header">The best services at an affordable price</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tincidunt quis tortor.</p>
                </div>
                <div class="ct-u-displayTableCell ct-callToAction-button">
                    <a href="services.html" class="btn btn-lg btn-motive"><span>View services</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="ct-sectionHeader ct-u-marginTop30 ct-u-marginBottom70">
            <h2 class="ct-sectionHeader-title"><small>Elegant <span>pricing tables</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>Aliquam lectus sem, semper in hendrerit eget, iaculis eu neque suspendisse pharetra</p>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="ct-pricingBox ct-pricingBox--motive ct-u-marginBottom90">
                    <div class="ct-pricingBox-header">
                        <h2 class="ct-pricingBox-title ct-u-hr ct-u-hr--wide"><small>VIP Package</small></h2>
                        <h2 class="ct-pricingBox-price"><b>$1250</b></h2>
                        <h6 class="ct-pricingBox-subtitle">Monthly</h6>
                    </div>
                    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                        <path d="M0,0 L 50,50 100,0 Z"/>
                    </svg>
                    <div class="ct-pricingBox-content">
                        <ul class="ct-pricingBox-list">
                            <li>T-shirt and toaster</li>
                            <li>Rihanna's phone number</li>
                            <li>Telepathic support</li>
                            <li>Foldable time machine</li>
                            <li>Real life undo button</li>
                        </ul>
                    </div>
                    <a href="login.html" class="btn btn-lg btn-motive"><span>Sign Up Now</span></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-pricingBox ct-pricingBox--gray ct-u-marginBottom90">
                    <div class="ct-pricingBox-header">
                        <h2 class="ct-pricingBox-title ct-u-hr ct-u-hr--wide"><small>VIP Package</small></h2>
                        <h2 class="ct-pricingBox-price"><b>$1250</b></h2>
                        <h6 class="ct-pricingBox-subtitle">Monthly</h6>
                    </div>
                    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                        <path d="M0,0 L 50,50 100,0 Z"/>
                    </svg>
                    <div class="ct-pricingBox-content">
                        <ul class="ct-pricingBox-list">
                            <li>T-shirt and toaster</li>
                            <li>Rihanna's phone number</li>
                            <li>Telepathic support</li>
                            <li>Foldable time machine</li>
                            <li>Real life undo button</li>
                        </ul>
                    </div>
                    <a href="#" class="btn btn-lg btn-gray"><span>Sign Up Now</span></a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-pricingBox ct-pricingBox--graylighter ct-u-marginBottom90">
                    <div class="ct-pricingBox-header">
                        <h2 class="ct-pricingBox-title ct-u-hr ct-u-hr--wide"><small>VIP Package</small></h2>
                        <h2 class="ct-pricingBox-price"><b>$1250</b></h2>
                        <h6 class="ct-pricingBox-subtitle">Monthly</h6>
                    </div>
                    <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                        <path d="M0,0 L 50,50 100,0 Z" />
                    </svg>
                    <div class="ct-pricingBox-content">
                        <ul class="ct-pricingBox-list">
                            <li>T-shirt and toaster</li>
                            <li>Rihanna's phone number</li>
                            <li>Telepathic support</li>
                            <li>Foldable time machine</li>
                            <li>Real life undo button</li>
                        </ul>
                    </div>
                    <a href="login.html" class="btn btn-lg btn-graylighter"><span>Sign Up Now</span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="ct-footer ct-u-sectionDark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ct-footer-logo ct-u-paddingTop50 ct-u-paddingBottom30"><img src="./assets/images/content/logo2.png" alt=""></div>
                <p>Donec justo mauris, sagittis sed vulputate ut, commodo dapibus massa. Class aptent taciti sociosqu
                    ad litora torquent per conubia nostra, per inceptos himenaeos. Cras ut mi lacus. Morbi accumsan
                    mauris ac posuere vehicula. Donec bibendum tellus rutrum turpis varius dictum. Maecenas tristique
                    arcu sed. Mauris donec lorem ipsum, phaesillinque cesta.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50">
                    <h3 class="ct-sectionHeader-title">Next events</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <a href="events.html">
                     <div class="media ct-mediaObject">
                         <div class="media-left"><img src="./assets/images/content/cars/footerObject-01.jpg" alt=""></div>
                         <div class="media-body">
                             <h6 class="ct-mediaObject-header">Rentica sports car racing finals</h6>
                             <h2 class="ct-mediaObject-date"><small>Aug 25 <span>2015</span></small></h2>
                         </div>
                     </div>
                 </a>
                 <a href="events.html">
                     <div class="media ct-mediaObject">
                         <div class="media-left"><img src="./assets/images/content/cars/footerObject-02.jpg" alt=""></div>
                         <div class="media-body">
                             <h6 class="ct-mediaObject-header">Rentica Sedan Showdown</h6>
                             <h2 class="ct-mediaObject-date"><small>Sep 03 <span>2015</span></small></h2>
                         </div>
                     </div>
                 </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50 ct-u-marginBottom15">
                    <h3 class="ct-sectionHeader-title">Flickr gallery</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <div class="ct-flickrGallery">
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-01-big.jpg"><img src="./assets/images/content/cars/flickr-01.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-02-big.jpg"><img src="./assets/images/content/cars/flickr-02.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-03-big.jpg"><img src="./assets/images/content/cars/flickr-03.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-04-big.jpg"><img src="./assets/images/content/cars/flickr-04.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-05-big.jpg"><img src="./assets/images/content/cars/flickr-05.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-06-big.jpg"><img src="./assets/images/content/cars/flickr-06.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-07-big.jpg"><img src="./assets/images/content/cars/flickr-07.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-08-big.jpg"><img src="./assets/images/content/cars/flickr-08.jpg" alt=""/></a>
                </div>

            </div>
        </div>
    </div>
    <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
        <div class="container">
            <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014</div>
            <ul class="ct-socials">
                <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

</div>

<!-- JavaScripts -->
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="./assets/js/dependencies.js"></script>

<script src="./assets/js/main.js"></script>

<script src="./assets/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
<script src="./assets/plugins/ct-mediaSection/js/init.js"></script>

<script src="./assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="./assets/plugins/magnific-popup/init.js"></script>



<script src="./assets/plugins/slick/slick.min.js"></script>
<script src="./assets/plugins/slick/init.js"></script>



</body>
</html>