{% load staticfiles %}
<footer class="">
<!--     <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-hidden col-xs-hidden"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="ct-footer-logo ct-u-paddingTop50 ct-u-paddingBottom30">
                            <img class="footerLogo" src="{% static 'frontEnd/images/weshare/LOGO.png'%}" alt="logo">
                        </div>
                        <div class="footerLink">
                            <a href="">使用帮助链接</a><br>
                            <a href="">招贤纳士链接</a><br>                            
                        </div>
                        <div class="footerCompany">
                            <p>公司法律全名&英文</p>                             
                        </div>

                       
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="footerQRcode">
                            <img style="height: 100px;" src="{% static 'frontEnd/images/weshare/QRcode.jpg'%}" alt="">
                            <img style="margin-left: 5px; height: 100px;" src="{% static 'frontEnd/images/weshare/QRcode.jpg'%}" alt="">               
                        </div>
                        <div class="footerInfo">
                            公司地址：<br>
                            电话：<br>
                            邮件：<br>                    
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-hidden col-xs-hidden"></div>
        </div>
    </div> -->
    <div class="footerImg" style="background:url('{% static 'frontEnd/images/weshare/footer.png'%}');">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-xs-4" style="text-align:left;line-height: 0.8;">
                            <p style="font-size: 18px; "><b>关于为啥</b></p>
                            <p><a href="" style="font-size: 14px; ">首页</a></p>
                            <p><a href="" style="font-size: 14px; ">核心服务</a></p>
                            <p><a href="" style="font-size: 14px; ">关于我们</a></p>
                            <p><a href="" style="font-size: 14px; ">加入我们</a></p>
                            <p><a href="" style="font-size: 14px; ">业务合作</a></p>
                        </div>
                        <div class="col-xs-4" style="text-align:left;line-height: 0.8;">
                            <p style="font-size: 18px; "><b>发现</b></p>
                            <p><a href="" style="font-size: 14px; ">帮助中心</a></p>
                            <p><a href="" style="font-size: 14px; ">用户保障</a></p>
                            <p><a href="" style="font-size: 14px; ">服务协议</a></p>
                            <p><a href="" style="font-size: 14px; ">成为[分享家]</a></p>
                            <p><a href="" style="font-size: 14px; ">分享故事</a></p>
                        </div>
                        <div class="col-xs-4" style="text-align:left;line-height: 0.8;">
                            <p>移动版</p>
                            <a href=""><p>[为啥]APP下载</p></a>
                            <br>
                            <p>客服电话：<span style="color: #f67862; ">400-0000-0000</span></p>
                            <p style="">意见反馈：<span style="color: #f67862; ">kf@weshare.com</span></p>
                            <p>或咨询 <a href=""><span class="btn btn-danger" style="background-color: #f67862; ">在线客服</span></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img style="height: 100px;" src="{% static 'frontEnd/images/weshare/QRcode.jpg'%}" alt="">
                    <img style="margin-left: 5px; height: 100px;" src="{% static 'frontEnd/images/weshare/QRcode.jpg'%}" alt="">

                    <div class="row" style="padding-top:20px;">
                        <p>分享到：</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <hr style="border:none;border-top: 1px solid white; margin:0;">
    <div style="background-color: #6c6c6c; height: 70px; display: flex;justify-content: center;align-items: center;">
        <p style="color: white; font-family: Arial , 'Hiragino Sans GB'; font-size: 12px; ">蜀ICP备16021944号 @2016为啥网 All Right Reserved</p>
    </div>
</footer>