{% load staticfiles %}
<footer class="ct-footer ct-u-sectionDark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ct-footer-logo ct-u-paddingTop50 ct-u-paddingBottom30"><img src="{% static 'frontEnd/images/content/logo2.png' %}" alt="logo"></div>
                <p>Rentica operate in the booking market since 2000. We created a platform that would not only allow our clients to book a car, but to make this process as easy as possible. Rentica deals with all the major car hire companies around the world checking which local supplier is offering the best prices for the car you want on the date you need it.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50">
                    <h3 class="ct-sectionHeader-title">Next events</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <a href="events.html">
                     <div class="media ct-mediaObject">
                         <div class="media-left"><img src="{% static 'frontEnd/images/content/cars/footerObject-01.jpg' %}" alt=""></div>
                         <div class="media-body">
                             <h6 class="ct-mediaObject-header">Rentica sports car racing finals</h6>
                             <h2 class="ct-mediaObject-date"><small>Aug 25 <span>2015</span></small></h2>
                         </div>
                     </div>
                 </a>
                 <a href="events.html">
                     <div class="media ct-mediaObject">
                         <div class="media-left"><img src="{% static 'frontEnd/images/content/cars/footerObject-02.jpg' %}" alt=""></div>
                         <div class="media-body">
                             <h6 class="ct-mediaObject-header">Rentica Sedan Showdown</h6>
                             <h2 class="ct-mediaObject-date"><small>Sep 03 <span>2015</span></small></h2>
                         </div>
                     </div>
                 </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50 ct-u-marginBottom15">
                    <h3 class="ct-sectionHeader-title">Flickr gallery</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <div class="ct-flickrGallery">
                    <a class="ct-js-magnificPopupImage" href="{% static 'frontEnd/images/content/cars/gallery-01-big.jpg' %}"><img src="{% static 'frontEnd/images/content/cars/flickr-01.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="{% static 'frontEnd/images/content/cars/gallery-02-big.jpg' %}"><img src="{% static 'frontEnd/images/content/cars/flickr-02.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="{% static 'frontEnd/images/content/cars/gallery-03-big.jpg' %}"><img src="{% static 'frontEnd/images/content/cars/flickr-03.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="{% static 'frontEnd/images/content/cars/gallery-04-big.jpg' %}"><img src="{% static 'frontEnd/images/content/cars/flickr-04.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="{% static 'frontEnd/images/content/cars/gallery-05-big.jpg' %}"><img src="{% static 'frontEnd/images/content/cars/flickr-05.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="{% static 'frontEnd/images/content/cars/gallery-06-big.jpg' %}"><img src="{% static 'frontEnd/images/content/cars/flickr-06.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="{% static 'frontEnd/images/content/cars/gallery-07-big.jpg' %}"><img src="{% static 'frontEnd/images/content/cars/flickr-07.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="{% static 'frontEnd/images/content/cars/gallery-08-big.jpg' %}"><img src="{% static 'frontEnd/images/content/cars/flickr-08.jpg' %}" alt=""/></a>
                </div>

            </div>
        </div>
    </div>
    <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
        <div class="container">
            <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014</div>
            <ul class="ct-socials">
                <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>