{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}

    {% if host.state == 0 %}

    <h3 style="padding-top: 35%; padding-bottom: 25%; text-align: center">只有<a href="/image-receive/">注册成为HOST</a>才可以成为获得个人主页
    </h3>
    {% else %}
    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="553"
             data-type="parallax" data-stellar-background-ratio="0.2"
             data-bg-image="{% static 'frontEnd/images/content/cars/mediaHeader-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/mediaHeader-02.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom text-center ct-u-paddingBottom20"
             data-stellar-ratio="0.7" style="background:url('{% static 'frontEnd/images/weshare/hostImax.png'%}');">
            {% if not host.state %}
            <img src="{% static 'frontEnd/images/question' %}" style="text-align: center;  width: 150px; height: 150px">
            {% else %}
            <img src="{{ host.icon }}" style="height: 120px; width: 120px; border: 3px solid #cccccc; border-radius: 50%">
            {% endif %}
            <h3 class="ct-fw-lighter ct-u-hr ct-u-hr--wide ct-u-marginBottom10" style="color: white; ">{{ host.username }}</h3>
            <h3 class="ct-u-marginBottom20" style="color: transparent">
                <small class="ct-fw-lighter ct-u-colorMotive">- {{ host.motto }} -</small>
            </h3>
            {% if host.state == 1 %}
            <a href="" class="ct-login"><span style="color: white; ">审核中</span><i class="fa fa-lock"></i></a>
            {% else%}
            <a href="" class="ct-login"><span style="color: white; ">审核通过</span><i class="fa fa-unlock"></i></a>
            {% endif %}
        </div>
    </section>

    <div class="ct-u-paddingBottom150 ct-u-sectionBorder">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-md-push-9 ct-u-paddingTop50">

                    <div class="clearfix"></div>

                    <div class="ct-widget ct-widget-checkbox-2items ct-u-marginBottom30">
                        <h3 class="ct-widget-header">认证</h3>
                        <form id="ct-js-driverCheckbox" class="ct-js-radio-group ct-widget-content">
                        {% csrf_token %}
                            <div class="ct-u-displayTableVertical">
                                <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">

                                    {% block auth %}
                                    {% for auth in certification %}
                                        <li><i class="fa fa-check"></i><a href="" data-toggle="modal" data-target="#auth{{ auth.id }}"><span>{{ auth.c_name }}</span></a></li>

                                        <!-- 弹出框 -->
                                        <div class="modal fade" id="auth{{ auth.id }}">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
                                                <h4 class="modal-title">{{ auth.c_name }}</h4>
                                              </div>
                                              <div class="modal-body">
                                                <p>{{ auth.c_introduction }}</p>
                                                <img src="{{ auth.c_file_path }}" alt="">
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn" data-dismiss="modal">关闭</button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    {% endfor %}
                                    {% endblock %}
                                    <!-- {{ certification }} -->

                                </ul>
                            </div>
                        </form>
                    </div>

                    <div class="ct-widget ct-widget-checkbox-2items ct-u-marginBottom30">
                        <h3 class="ct-widget-header">服务时间</h3>
                        <form id="ct-js-driverCheckbox" class="ct-js-radio-group ct-widget-content">
                        {% csrf_token %}
                            <div class="ct-u-displayTableVertical">
                                <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                    <li><span>{{ host.service_time }}</span></li>

                                </ul>
                            </div>
                        </form>
                    </div>


                    {% if host.state == 1 %}
                        <button class="btn btn-lg btn-wide btn-motive disabled"><span>审核中..</span></button>
                    {% else %}
                        <button class="btn btn-lg btn-wide btn-motive"  data-toggle="modal" data-target="#myModal" onclick="checkLogin();"><span>预约</span></button>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:red; font-size: 20px; padding-top:5px; padding-bottom:5px; ">等待确定</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:#F00; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">等待付款</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">已付款</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">约见完成</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">4</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">已评价</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">5</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1"></div>
                            </div>

                            <div class="row" style="margin-top: 30px;margin-bottom: 30px; ">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-10">
                                    <form action="/bill/init" method="POST">

                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label style="font-size: 15px; ">请选择咨询问题</label>
                                            <select class="form-control" name="feature_id" required style="padding:0;border: 1 1 1 1 solid gray; ">
                                              {% block quesiton%}
                                              {% for q in questions %}
                                              <option value="{{ q.feature_id }}">{{ q.feature_name }}</option>
                                              {% endfor %}
                                              {% endblock %}
                                            </select>
                                        </div>
                                        <input type="hidden" name="host_id" value="{{ host.id }}">
                                        <div class="form-group">
                                            <label style="font-size: 15px; ">简要介绍自己的情况，并描述要咨询的问题</label>
                                            <textarea class="form-control" rows="4" name="intro_and_question" placeholder="例如：我是清华大学计算机专业大三的学生，专业排名前百分之三十，有多个关于自动驾驶的项目经历。本科毕业后想去BAT等公司从事与计算机视觉相关的工作。想知道现在开始该如何准备？比如该熟悉哪些开源项目，或是该多积累哪种平台的开发经验。"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label style="font-size: 15px; ">告诉分享者你所希望的见面时间与约聊时长</label>
                                            <textarea class="form-control" rows="4" name="appointment_time" placeholder="例如：我每周一／三下午2点到晚上6点都有空，我想请教的细节问题比较多，觉得预约3个小时比较合适。"></textarea>
                                        </div>

                                        <button type="submit" class="btn btn-danger">提交预约</button>
                                    </form>
                                </div>
                                <div class="col-xs-1"></div>
                            </div>



                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-md-9 col-md-pull-3 ct-u-paddingTop50">

                    <!-- 基本信息 -->
                    <div class="">
                        <h4>基本信息：</h4>
                        <br>
                        {% if host.education = 2 %}
                        <p>博士： {{ host.phd_school }} - {{ host.phd_major }} ( {{ host.phd_start }} ~ {{ host.phd_end }} )</p>
                        {% endif %}

                        {% if host.education = 1 or host.education = 2 %}
                        <p>硕士： {{ host.graduate_school }} - {{ host.graduate_major }} ( {{ host.graduate_start }} ~ {{ host.graduate_end }} )</p>
                        {% endif %}

                        <p>本科： {{ host.bachelor_school }} - {{ host.bachelor_major }} ( {{ host.bachelor_start }} ~ {{ host.bachelor_end }} )</p>
                    </div>

                    <div class="tabpanel ct-u-paddingTop50 ct-u-paddingBottom60">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">关于我</a>
                            </li>
                            <li role="presentation"><a href="#amenities" role="tab" data-toggle="tab">服务列表</a></li>
                            <!-- <li role="presentation"><a href="#details" role="tab" data-toggle="tab">分答</a></li> -->
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Tab #1 -->
                            <div role="tabpanel" class="tab-pane fade in active" id="description" style="text-align: left; ">
                                {{ host.introduction | safe}}
                            </div>

                            <!-- Tab #2 -->
                            <div role="tabpanel" class="tab-pane fade" id="amenities">
                                <!-- {% block content %}
                                {% for topic in host.features %}
                                <h3 class="ct-fw-lighter ct-u-marginTop50 ct-u-marginBottom20 ct-u-paddingBottom15 ct-u-borderBottom">
                                    {{topic.name}}</h3>
                                <div class="row">
                                    <div class="col-md-3 col-xs-6">
                                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                            {% for feature in topic.row1 %}
                                            <li><i class="fa fa-check"></i><span>{{feature}}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                            {% for feature in topic.row2 %}
                                            <li><i class="fa fa-check"></i><span>{{feature}}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-md-3 col-xs-6">
                                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                            {% for feature in topic.row3 %}
                                            <li><i class="fa fa-check"></i><span>{{feature}}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                            {% for feature in topic.row4 %}
                                            <li><i class="fa fa-check"></i><span>{{feature}}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="clearfix visible-xs"></div>
                                </div>
                                {% endfor %}
                                {% endblock %} -->

                                {% block content2 %}
                                {%  for topic in host.features%}

                                <div class="panel panel-default">
                                  <div class="panel-heading"><h3>{{topic.name}}</h3></div>
                                  <div class="panel-body">
                                    <ul class="ct-simpleList list-unstyled ct-u-marginBottom0" id="show{{topic.tag}}" style="width:80%;margin-left:10%;">
                                        <div id="{{topic.id}}TXT">
                                        {% for feature in topic.features %}
                                            <div class="row" style="padding-top:5px;padding-bottom: 5px; " id="{{ feature.f_id }}">
                                                <div class="col-md-12">
                                                    <p style="float: left;font-size:15px;"> <span class="label label-primary">{{ feature.minor_topic_name }}</span> {{ feature.feature_name }} （时间：{{ feature.ht_duration }} 小时 -- 价格: {{ feature.ht_salary }}）</p>
                                                    <!-- <a href="" class="btn btn-danger" style="float: right; " onclick="delete_feature('{{ topic.id }}','{{ feature.f_name }}','{{ feature.m_id }}');return false">删除</a> -->
                                                </div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </ul>
                                  </div>
                                </div>
                                {% endfor %}
                                {% endblock %}
                            </div>

                            <!-- Tab #3 -->
                            <div role="tabpanel" class="tab-pane fade" id="details">

                            </div>
                        </div>

                    </div>


                    <!-- 评论显示模块 -->
                    <div style="text-align: left;">
                        {% block message %}
                        {% for message in msgs %}
                        <div class="media ct-comment">
                            <div class="media-left"><img src="{{message.icon}}" alt=""></div>
                            <div class="media-body">
                                <div class="ct-comment-header">
                                    <span class="ct-comment-name h5">{{message.name}}</span>
                                    <span class="ct-comment-meta pull-right">{{message.upload_time}} <a href="#"></a></span>
                                </div>
                                <div class="ct-comment-content">
                                    <p>{{message.content}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {%  endblock %}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock %}

{% block js %}

{% if login_flag %}
{% else %}
<script>
    function checkLogin() {
        alert('您尚未登录或注册，请前往注册以进行面聊预约');
        window.location.href = "/login/";
     }
</script>
{% endif %}
<!-- <script src="{% static 'frontEnd/js/shop.js' %}"></script> -->

<!-- <script src="{% static 'frontEnd/plugins/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>jQuery('.input-daterange').datepicker({});</script>

<script src="{% static 'frontEnd/plugins/bootstrap-slider/js/bootstrap-slider.js' %}"></script>
<script>jQuery('.sliderAmount').slider();</script>

<script src="{% static 'frontEnd/plugins/selectize.js-master/dist/js/standalone/selectize.min.js"></script> -->
{% endblock %}
