{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}

    {% if host.state == 0 %}

    <h3 style="padding-top: 35%; padding-bottom: 25%; text-align: center">只有<a href="/image-receive/">注册成为HOST</a>才可以成为获得个人主页
    </h3>
    {% else %}
    <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="553"
             data-type="parallax" data-stellar-background-ratio="0.2"
             data-bg-image="{% static 'frontEnd/images/content/cars/mediaHeader-02.jpg' %}"
             data-bg-image-mobile="{% static 'frontEnd/images/content/cars/mediaHeader-02.jpg' %}">
        <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom text-center ct-u-paddingBottom20"
             data-stellar-ratio="0.7" style="background:url('{% static 'frontEnd/images/weshare/hostImax.png'%}');">
            {% if not host.state %}
            <img src="{% static 'frontEnd/images/question' %}" style="text-align: center;  width: 150px; height: 150px">
            {% else %}
            <img src="{{ host.image }}" style="height: 120px; width: 120px; border: 3px solid #cccccc; border-radius: 50%">
            {% endif %}
            <h3 class="ct-fw-lighter ct-u-hr ct-u-hr--wide ct-u-marginBottom10" style="color: white; ">{{ host.username }}</h3>
            <h3 class="ct-u-marginBottom20" style="color: transparent">
                <small class="ct-fw-lighter ct-u-colorMotive">- {{ host.motto }} -</small>
            </h3>
            {% if host.state == 1 %}
            <a href="/host-center/" class="ct-login"><span>审核中</span><i class="fa fa-lock"></i></a>
            {% else%}
            <a href="/host-center/" class="ct-login"><span>审核通过</span><i class="fa fa-unlock"></i></a>
            {% endif %}
        </div>
    </section>

    <div class="ct-u-paddingBottom150 ct-u-sectionBorder">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-md-push-9 ct-u-paddingTop50">

                    <div class="clearfix"></div>

                    <div class="ct-widget ct-widget-checkbox-2items ct-u-marginBottom30">
                        <h3 class="ct-widget-header">认证</h3>
                        <form id="ct-js-driverCheckbox" class="ct-js-radio-group ct-widget-content">
                            <div class="ct-u-displayTableVertical">
                                <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                    <li><i class="fa fa-check"></i><span>百度CEO</span></li>
                                    <li><i class="fa fa-check"></i><span>哈佛本硕博</span></li>
                                    <li><i class="fa fa-check"></i><span>电子科大教授</span></li>
                                </ul>
                            </div>
                        </form>
                    </div>

                    <div class="ct-widget ct-widget-checkbox-2items ct-u-marginBottom30">
                        <h3 class="ct-widget-header">服务时间</h3>
                        <form id="ct-js-driverCheckbox" class="ct-js-radio-group ct-widget-content">
                            <div class="ct-u-displayTableVertical">
                                <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                    <li><span>{{ host.service_time }}</span></li>

                                </ul>
                            </div>
                        </form>
                    </div>


                    <div id="ct-js-checkoutBox" class="ct-widget ct-widget-pricing ct-u-marginBottom30">
                        <h3 class="ct-widget-header ct-widget-header--dark">面谈价格<span id="datepickerOutput"
                                                                                      class="pull-right">￥/h</span>
                        </h3>
                        <div class="ct-widget-content">
                            <h4 class="ct-checkout-error">
                                <small><span>{{ host.min_payment }} - {{ host.max_payment }}</span></small>
                            </h4>
                        </div>
                    </div>

                    <button class="btn btn-lg btn-wide btn-motive"  data-toggle="modal" data-target="#myModal" onclick="checkLogin();"><span>预约</span></button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="row">
                                <div class="col-xs-1"></div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:red; font-size: 20px; padding-top:5px; padding-bottom:5px; ">预约</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:#F00; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">1</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">等待确认</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">2</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">付款</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">3</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">完成</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">4</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row" style="color:gray; font-size: 20px; padding-top:5px; padding-bottom:5px; ">评价</div>
                                    <div class="row" style="display: flex;justify-content: center; ">
                                        <div style=" width:40px; height:40px; background-color:gray; border-radius:20px;">
                                            <span style="height:40px; line-height:40px; display:block; color:#FFF; font-size: 25px; text-align:center">5</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-1"></div>
                            </div>

                            <div class="row" style="margin-top: 30px;margin-bottom: 30px; ">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <form action="/bill/init" method="POST">
                                    
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label style="font-size: 15px; ">请选择咨询问题</label>
                                            <select class="form-control" name="feature_id" required style="padding:0;border: 1 1 1 1 solid gray; ">
                                              {% block quesiton%}
                                              {% for q in questions %}
                                              <option value="{{ q.feature_id }}">{{ q.feature_name }}</option>
                                              {% endfor %}
                                              {% endblock %}
                                            </select>
                                        </div>                               
                                        <input type="hidden" name="host_id" value="{{ host.id }}">
                                        <div class="form-group">
                                            <label style="font-size: 15px; ">简要介绍自己的情况，并描述要咨询的问题</label>
                                            <textarea class="form-control" rows="4" name="intro_and_question" placeholder="例如：我是清华大学计算机专业大三的学生，专业排名前百分之三十，有多个关于自动驾驶的项目经历。本科毕业后想去BAT等公司从事与计算机视觉相关的工作。想知道现在开始该如何准备？比如该熟悉哪些开源项目，或是该多积累哪种平台的开发经验。"></textarea>
                                        </div>                                
                                        <div class="form-group">
                                            <label style="font-size: 15px; ">告诉分享者你所希望的见面时间与约聊时长</label>
                                            <textarea class="form-control" rows="4" name="appointment_time" placeholder="例如：我每周一／三下午2点到晚上6点都有空，我想请教的细节问题比较多，觉得预约3个小时比较合适。"></textarea>
                                        </div>

                                        <button type="submit" class="btn btn-danger">提交预约</button>
                                    </form>
                                </div>
                            </div>

                            

                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-md-9 col-md-pull-3 ct-u-paddingTop50">

                    <div class="tabpanel ct-u-paddingTop50 ct-u-paddingBottom60">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">关于我</a>
                            </li>
                            <li role="presentation"><a href="#amenities" role="tab" data-toggle="tab">服务列表</a></li>
                            <li role="presentation"><a href="#details" role="tab" data-toggle="tab">分答</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Tab #1 -->
                            <div role="tabpanel" class="tab-pane fade in active" id="description" style="text-align: left; ">
                                {{ host.introduction | safe}}
                            </div>

                            <!-- Tab #1 -->
                            <div role="tabpanel" class="tab-pane fade" id="amenities">
                                {% block content %}
                                {% for topic in host.features %}
                                <h3 class="ct-fw-lighter ct-u-marginTop50 ct-u-marginBottom20 ct-u-paddingBottom15 ct-u-borderBottom">
                                    {{topic.name}}</h3>
                                <div class="row">
                                    <div class="col-md-3 col-xs-6">
                                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                            {% for feature in topic.row1 %}
                                            <li><i class="fa fa-check"></i><span>{{feature}}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                            {% for feature in topic.row2 %}
                                            <li><i class="fa fa-check"></i><span>{{feature}}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="clearfix visible-xs"></div>
                                    <div class="col-md-3 col-xs-6">
                                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                            {% for feature in topic.row3 %}
                                            <li><i class="fa fa-check"></i><span>{{feature}}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-xs-6">
                                        <ul class="ct-simpleList list-unstyled ct-u-marginBottom0">
                                            {% for feature in topic.row4 %}
                                            <li><i class="fa fa-check"></i><span>{{feature}}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="clearfix visible-xs"></div>
                                </div>
                                {% endfor %}
                                {% endblock %}
                            </div>

                            </div>

                            <!-- Tab #3 -->
                            <div role="tabpanel" class="tab-pane fade" id="details">
                                <h3 class="ct-fw-lighter ct-u-marginBoth50">Technical Details</h3>
                                <h6 class="ct-u-hr ct-u-hr--left ct-fw-bold text-uppercase">Lorem ipsum dolor sit
                                    amet</h6>
                                <p class="ct-u-marginBottom50">Quisque at nulla a tortor finibus tempor eget nec lacus.
                                    Donec gravida molestie mauris.
                                    TENDERS & TOYS 2 x 30ft inflatable tenders type 90 EFB with 350hp YaCHa inboard
                                    engine. 1 x Classic Runnerboat with 360hp SRYreN inboard engine. 5 x YaCHa
                                    Waverunners 1 x YaCHa Jetskis 570ft/25m floating trampoline 6 x kayak AMENITIES A
                                    glass bottomed Jacuzzi for 5 A sauna and fully equipped spa room</p>
                            </div>
                        </div>

                    </div>
                    <div>
                        {% block message %}
                        {% for message in msgs %}
                        <div class="media ct-comment">
                            <div class="media-left"><img src="{{message.icon}}" alt=""></div>
                            <div class="media-body">
                                <div class="ct-comment-header">
                                    <span class="ct-comment-name h5">{{message.name}}</span>
                                    <span class="ct-comment-meta pull-right">{{message.upload_time}} <a href="#"></a></span>
                                </div>
                                <div class="ct-comment-content">
                                    <p>{{message.content}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {%  endblock %}
                       
                        <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop70 ct-u-paddingBottom60">
                            <h2 class="ct-sectionHeader-title"><small>Leave a <span>reply</span></small></h2>
                            <div class="ct-sectionHeader-separator">
                                <span class="slash">/</span>
                                <span class="slash">/</span>
                                <span class="minus"></span>
                            </div>
                            <p>What do you think about post ?</p>
                        </div>
                        <form role="form" action="/user/msg/{{user.id}}" method="POST" class="validateIt">
                            <div class="form-group  ct-input--type2 ct-u-marginBottom20">
                                {% csrf_token %}
                                <textarea id="contact_message" placeholder="Comment" class="form-control" rows="6" name="message" required="" title="Message"></textarea>
                            </div>

                            <div class="clearfix"></div>

                            <button type="submit" class="btn btn-wide btn-motive"><span>Submit Comment</span></button>

                        </form>
                    </div>

                    <div class="ct-socialSection">
                        <div class="ct-socialSection-backButton ct-u-sectionGrayDarker ct-u-textRight">
                            <a class="h6 text-uppercase ct-fw-bold" href="rent-now.html">Go back
                            <span class="ct-iconButton ct-iconButton--larger animated ct-u-margin10x9" data-fx="fadeIn">
                                <i class="fa fa-arrow-left animated" data-fx="bounceInRight" data-time="100"></i>
                            </span>
                            </a>
                        </div>
                        <div class="ct-socialSection-socialContainer ct-u-sectionMotive">
                            <ul class="ct-socials ct-socials--type3">
                                <li>Share</li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i
                                        class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i
                                        class="fa fa-twitter"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="google plus" href="#"><i
                                        class="fa fa-google-plus"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="linkedin" href="#"><i
                                        class="fa fa-linkedin"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i
                                        class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="digg" href="#"><i
                                        class="fa fa-digg"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="users" href="#"><i
                                        class="fa fa-users"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="yahoo" href="#"><i
                                        class="fa fa-yahoo"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="email" href="#"><i
                                        class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}


{% endblock %}

{% block js %}
<script>
    function checkLogin() {
        alert('您尚未登录或注册，请前往注册以进行面聊预约');
        window.location.href = "/login/";
     } 
</script>
<!-- <script src="{% static 'frontEnd/js/shop.js' %}"></script> -->

<!-- <script src="{% static 'frontEnd/plugins/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>jQuery('.input-daterange').datepicker({});</script>

<script src="{% static 'frontEnd/plugins/bootstrap-slider/js/bootstrap-slider.js' %}"></script>
<script>jQuery('.sliderAmount').slider();</script>

<script src="{% static 'frontEnd/plugins/selectize.js-master/dist/js/standalone/selectize.min.js"></script> -->
{% endblock %}