{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 --> 

{% block body %}<!-- 网页主体 -->
<style>
    *{margin:0;padding:0;border: none;}
    body { color: #333; text-align: center; font: 12px "微软雅黑";background-color: #dcf5ed; }
    .mapTipText{width: 280px;height: 110px;background-color: #ffffff;}
    .mapTipText .mapTipImg{height: 66px; width: 66px; float: left;border: 2px solid #ffffff; border-radius: 50%;overflow: hidden;margin: -12px 5px 0 -12px;}
    .mapTipText .mapTipImg img{width: 100%;height: 100%;}
    .mapTipText .mapTipList{float: left;margin-left: 4px;}
    .mapTipText .mapTipList h2{text-align: left;}
    .mapTipText .mapTipList h2 a{font-size: 24px; color: #262626;text-decoration:none;}
    .mapTipText .mapTipList h2 a:hover{ color: #0085d2;}
    .mapTipText .mapTipList h2 a span{font-size: 16px;margin-left: 3px;}
    .mapTipText .mapTipList ul{ width: 203px;padding-right: 10px;}
    .mapTipText .mapTipList ul li{list-style: none;float: left;padding: 7px 3px 0 3px;}
    .mapTipText .mapTipList ul li a{color: #262626;text-decoration:none;}
    .mapTipText .mapTipList ul li a:hover{background-color:#2ebcfe;color:#ffffff;}
</style>



    <!-- 首页轮播模块 -->
    <div id="myNiceCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 60px; ">
      <!-- 圆点指示器 -->
      <!-- <ol class="carousel-indicators">
        <li data-target="#myNiceCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myNiceCarousel" data-slide-to="1"></li>
        <li data-target="#myNiceCarousel" data-slide-to="2"></li>
      </ol> -->

      <!-- 轮播项目 -->
      <div class="carousel-inner">
        <div class="item active">
          <img alt="First slide" src="{% static 'frontEnd/images/weshare/Imax1.jpg' %}" style="height: 400px;width: 100%; ">
          <div class="carousel-caption">
            <h3>您是否正在寻找科研大牛？</h3>
            <br>
            <a href="" class="btn btn-primary"><span>Contact</span></a>
            <a href="" class="btn btn-danger"><span>联系我们</span></a>
            <br>
          </div>
        </div>
        <div class="item">
          <img alt="Second slide" src="{% static 'frontEnd/images/weshare/Imax2.jpg' %}" style="height: 400px;width: 100%; ">
          <div class="carousel-caption">
            <h3>您是否正在寻找出国达人？</h3>
            <br>
            <a href="" class="btn btn-primary"><span>Contact</span></a>
            <a href="" class="btn btn-danger"><span>联系我们</span></a>
            <br>
          </div>
        </div>
        <div class="item">
          <img alt="Third slide" src="{% static 'frontEnd/images/weshare/Imax3.jpg' %}" style="height: 400px;width: 100%; ">
          <div class="carousel-caption">
            <h3>您是否正在寻找课程学霸？</h3>
            <br>
            <a href="" class="btn btn-primary"><span>Contact</span></a>
            <a href="" class="btn btn-danger"><span>联系我们</span></a>
            <br>
          </div>
        </div>
      </div>

      <!-- 项目切换按钮 -->
      <a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
        <span class="icon icon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
        <span class="icon icon-chevron-right"></span>
      </a>
    </div>

    <!-- <div class="ct-slick ct-js-slick" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="false" data-touchMove="false" data-arrows="true" data-items="1" style="margin-top:160px;">
        <div class="item" data-bg="">
            <div class="item-inner">
                <div class="ct-slick-image">
                    <img class="animated" src="./assets/images/content/cars/slideImage-01.png" data-fx="bounceInLeft" data-time="50">
                </div>
                <div class="ct-slick-content">
                    <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="600"><small>您是否正在寻找</small></h2>
                    <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="850">科研大牛？</h2>
                    <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="600">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                        <a href="" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1350"><span>Contact</span></a>
                        <a href="" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1100"><span>联系我们</span></a>
                </div>
            </div>
        </div>
        <div class="item" data-bg="">
            <div class="item-inner text-right pull-right">
                <div class="ct-slick-content">
                    <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="500"><small>您是否正在寻找</small></h2>
                    <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="750">出国达人？</h2>
                    <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="500">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                    <a href="" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1250"><span>Contact</span></a>
                    <a href="" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1000"><span>联系我们</span></a>
                </div>
                <div class="ct-slick-image">
                    <img class="animated" src="./assets/images/content/cars/slideImage-02.png" data-fx="bounceInRight" data-time="50">
                </div>
            </div>
        </div>
        <div class="item" data-bg="">
            <div class="item-inner">
                <div class="ct-slick-image">
                    <img class="animated" src="./assets/images/content/cars/slideImage-03.png" data-fx="bounceInLeft" data-time="50">
                </div>
                <div class="ct-slick-content">
                    <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="600"><small>您是否正在寻找</small></h2>
                    <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="850">课程学霸？</h2>
                    <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="600">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                    <a href="" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1350"><span>Contact</span></a>
                    <a href="" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1100"><span>联系我们</span></a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- 首页搜索栏 -->
    <div class="IndexSearch">
        <form  method="get" class="" style="width:50%">
            <input type="text" id="" name="search" class="IndexSearchInput" placeholder="&nbsp;&nbsp;点此输入搜索关键词，多关键词用空格分开" /><button type="submit" class="IndexSearchButton">搜&nbsp;索</button>
        </form>
    </div>

    <!-- 首页数据统计模块 -->
    <div class="ct-u-sectionGrayLighter ct-shadow ct-shadow--type1 ct-u-sectionBorder">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ct-numberBox ct-numberBox--right ct-u-paddingBoth50">
                        <h2 class="ct-numberBox-number"><b>{{host_num}}</b></h2>
                        <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--right">分享者</h6>
                        <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                    </div>
                </div>
                <div class="col-sm-4 ct-u-sectionGray">
                    <div class="ct-numberBox ct-numberBox--center ct-u-paddingBoth50">
                        <h2 class="ct-numberBox-number"><b>{{register_num}}</b></h2>
                        <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--center">总注册人数</h6>
                        <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-numberBox ct-u-paddingBoth50">
                        <h2 class="ct-numberBox-number"><b>{{school_num}}</b></h2>
                        <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--left">高校数</h6>
                        <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 首页地图-发现学校 模块 -->
    <section class="ct-u-marginTop90 ct-u-paddingBottom10" style="padding-bottom: 0px!important; ">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div id='school' class="ct-sectionHeader ct-u-marginBottom70">
                        <h2 class="ct-sectionHeader-title"><small>探索 <span>学校</span></small></h2>
                        <div class="ct-sectionHeader-separator">
                            <span class="minus"></span>
                            <span class="slash">/</span>
                            <span class="slash">/</span>
                            <span class="minus"></span>
                        </div>
                        <p>发现校园达人</p>
                    </div>
                </div>
                <div class="col-md-4" style="font-size: 20px; ">
                    <a href="/school/show">more>></a>
                </div>
            </div>
            

            
            
            <!-- <div class="row">
                <div class="itemCon" style="float: left">
                    <div id="ChinaMap" style="margin-left: 20%;"></div>
                    <div id="stateTip" style="position: absolute;left: 100%;text-align: left;display: inline;"></div>
                </div>
                <div id="mapTipContent" style="width: 900px;margin: 0 auto;display: none">
                    
                    {% block content %}
                        {% for province in object %}
                        <div class="mapTipText mapTipText{{province.id}}">
                            <div class="mapTipImg"><img src="{% static 'frontEnd/images/heilongjiang.jpg'%}" alt=""/></div>
                            <div class="mapTipList">
                                <h2><a href="">{{province.name}}<span>{{province.name}}</span></a></h2>
                                <ul>
                                    {% for school in province.schools %}
                                    <li><a href="{{school.id}}">{{school.name}}</a></li> 
                                    {% endfor%}
                                </ul>
                            </div>
                        </div>

                        {% endfor %}
                    {% endblock %}   
                </div>
            </div> -->

        </div>
        <div class="container-fluid">
            {% block findschool %}
                {% for school in data.school_on_index_list %}
                    <a href="/school/detail/{{ school.s_id }}">
                        <div class="row" style="background:url('{{ school.s_image }}');height: 200px;background-position: center;background-repeat: no-repeat; display: flex;align-items: center;justify-content: center; ">
                            <h2 style="color:black">{{ school.s_name }}</h2>
                        </div>
                    </a>
                {% endfor %}
            {% endblock %}            
        </div>

    </section>



    <!-- 首页发现话题模块 -->
    <div id="ct-js-wrapper" class="ct-pageWrapper">
        
        <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="120" data-type="parallax" data-stellar-background-ratio="0.3" data-bg-image="./assets/images/content/cars/mediaHeader-03.jpg" data-bg-image-mobile="./assets/images/content/cars/mediaHeader-03.jpg">
                <div class="ct-sectionHeader ct-u-marginBottom0">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <h2 class="ct-sectionHeader-title"><small>探索 <span>分享家</span></small></h2>
                                <div class="ct-sectionHeader-separator">
                                    <span class="minus"></span>
                                    <span class="slash">/</span>
                                    <span class="slash">/</span>
                                    <span class="minus"></span>
                                </div>
                                <p>发现热门话题</p>
                            </div>
                            <div class="col-md-4" style="font-size: 20px; ">
                                <a href="/share/show">more>></a>
                            </div>
                        </div>   
                    </div>
                    
                </div>
        </section>

        <!-- <div class="ct-u-sectionMotive text-center">
            <ul class="ct-gallery-filters ct-js-gallery-filters">
                <li><a data-filter="*" class="btn btn-motive active"><span>全部</span></a></li>
                {% block topic %}
                    {% for host in topics %}
                    <li><a data-filter=".{{host.tag}}" class="btn btn-motive active"><span>{{host.name}}</span></a></li>
                    {% endfor %}
                
                {% endblock %}
                
            </ul>
        </div> -->

        <div id="ct-gallery" class="ct-gallery ct-gallery--col5 ct-js-magnificPortfolioPopupGroup">
            {% block recommend %}
                {% for host in hosts %}
                <a class="ct-js-magnificPopupImage" onclick="window.location.href='/user/show/{{host.id}}'" title="{{host.username}}">
                    <figure class="ct-gallery-item {{host.tag}}">
                        <img src="{{host.icon}}" alt="">
                        <figcaption>
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell">
                                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">{{host.username}}</h6>
                                    <p>{{host.motto}}</p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                {% endfor %}
            {% endblock %}
        </div>

        <!-- <a href="#" class="btn btn-motive ct-loadMoreButton"><span class="h2"><small>Load <b>More</b><i class="fa fa-arrow-down"></i></small></span></a> -->
    </div>

{% endblock %}



{% block js %}
<!-- 首页轮播JS -->
<script src="{% static 'frontEnd/plugins/slick/slick.min.js'%}"  ></script>
<script src="{% static 'frontEnd/plugins/slick/init.js'%}" ></script>
<!-- 首页地图JS -->
<script type="text/javascript" src="{% static 'frontEnd/js/map/lib/raphael-min.js'%}" ></script>
<script type="text/javascript" src="{% static 'frontEnd/js/map/res/chinaMapConfig.js'%}" ></script>
<script type="text/javascript" src="{% static 'frontEnd/js/map/map-min.js'%}" ></script>
<script type="text/javascript">
    $(function () {
        $('#ChinaMap').SVGMap({
            mapWidth: 806,
            mapHeight: 396
        });
    });
    function findSchool() {
        window.scrollTo(100, 800);
    }
</script>

{% endblock %}
