{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->

<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'frontEnd/images/content/cars/icon.ico'%}">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->

    <title>weshare</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/mystyle.css'%}">


    <!--[if lt IE 9]>
    <script src="./assets/bootstrap/js/html5shiv.min.js"></script>
    <script src="./assets/bootstrap/js/respond.min.js"></script>
    <script src="./assets/plugins/REM-unit-polyfill/js/rem.min.js"></script>
    <![endif]-->
    <script src="{% static 'frontEnd/js/modernizr.custom.js'%}"></script>


    <script src="{% static 'frontEnd/js/map/lib/jquery-1.11.1.min.js'%}"></script> 
    <script type="text/javascript" src="{% static 'frontEnd/js/map/lib/raphael-min.js'%}" ></script>
    <script type="text/javascript" src="{% static 'frontEnd/js/map/res/chinaMapConfig.js'%}" ></script>
    <script type="text/javascript" src="{% static 'frontEnd/js/map/map-min.js'%}" ></script>



</head>

<body class="cssAnimate">
{% if session_timeout %}
<p style="color: #ffffff; background-color: #ec8c8c"> 您的session 已经失效,请重新登录 </p>
{% endif %}

{% include "frontEnd/nav.html" %}

<div class="ct-slick ct-js-slick" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="false" data-touchMove="false" data-arrows="true" data-items="1">
    <div class="item" data-bg="./assets/images/content/cars/bg-02.jpg">
        <div class="item-inner">
            <div class="ct-slick-image">
                <img class="animated" src="./assets/images/content/cars/slideImage-01.png" data-fx="bounceInLeft" data-time="50">
            </div>
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="600"><small>您是否正在寻找</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="850">科研大牛？</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="600">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                    <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1350"><span>Rent a sedan</span></a>
                    <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1100"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/content/cars/bg-02.jpg">
        <div class="item-inner text-right pull-right">
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="500"><small>您是否正在寻找</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="750">出国达人？</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="500">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1250"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1000"><span>Contact Us</span></a>
            </div>
            <div class="ct-slick-image">
                <img class="animated" src="./assets/images/content/cars/slideImage-02.png" data-fx="bounceInRight" data-time="50">
            </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/content/cars/bg-02.jpg">
        <div class="item-inner">
            <div class="ct-slick-image">
                <img class="animated" src="./assets/images/content/cars/slideImage-03.png" data-fx="bounceInLeft" data-time="50">
            </div>
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="600"><small>您是否正在寻找</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="850">课程学霸？</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="600">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1350"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1100"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/content/cars/bg-02.jpg">
        <div class="item-inner text-right pull-right">
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="500"><small>您是否正在寻找</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="750">牛人带我飞?</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="500">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1250"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1000"><span>Contact Us</span></a>
            </div>
            <div class="ct-slick-image">
                <img class="animated" src="./assets/images/content/cars/slideImage-04.png" data-fx="bounceInRight" data-time="50">
            </div>
        </div>
    </div>
</div>

<div class="IndexSearch">
            <form  method="get" class="" style="width:50%">
                <input type="text" id="" name="search" class="IndexSearchInput" placeholder="&nbsp;&nbsp;点此输入搜索关键词，多关键词用空格分开" /><button type="submit" class="IndexSearchButton">搜&nbsp;索</button>
            </form>
</div>


<div class="ct-u-sectionGrayLighter ct-shadow ct-shadow--type1 ct-u-sectionBorder">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="ct-numberBox ct-numberBox--right ct-u-paddingBoth50">
                    <h2 class="ct-numberBox-number"><b>{{host_num}}</b></h2>
                    <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--right">分享者</h6>
                    <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                </div>
            </div>
            <div class="col-sm-4 ct-u-sectionGray">
                <div class="ct-numberBox ct-numberBox--center ct-u-paddingBoth50">
                    <h2 class="ct-numberBox-number"><b>{{register_num}}</b></h2>
                    <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--center">总注册人数</h6>
                    <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-numberBox ct-u-paddingBoth50">
                    <h2 class="ct-numberBox-number"><b>{{school_num}}</b></h2>
                    <h6 class="ct-numberBox-header ct-u-hr ct-u-hr--left">高校数</h6>
                    <p class="ct-numberBox-content">We have a large base of satisfied customers, no one can give as much as we.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ct-u-marginTop90 ct-u-paddingBottom10">
    <div class="container">

        <div id='school' class="ct-sectionHeader ct-u-marginBottom70">
            <h2 class="ct-sectionHeader-title"><small>探索 <span>学校</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>发现校园达人</p>
        </div>

        <div class="row">
<div class="itemCon" style="float: left">
    <div id="ChinaMap" style="margin-left: 20%;"></div>
    <div id="stateTip" style="position: absolute;left: 100%;text-align: left;display: inline;"></div>
</div>
            <div id="mapTipContent" style="width: 900px;margin: 0 auto;display: none">
                
                {% block content %}
                    {% for province in object %}
                    <div class="mapTipText mapTipText{{province.id}}">
                        <div class="mapTipImg"><img src="{% static 'frontEnd/images/heilongjiang.jpg'%}" alt=""/></div>
                        <div class="mapTipList">
                            <h2><a href="">{{province.name}}<span>{{province.name}}</span></a></h2>
                            <ul>
                                {% for school in province.schools %}
                                <li><a href="{{school.id}}">{{school.name}}</a></li> 
                                {% endfor%}
                            </ul>
                        </div>
                    </div>

                    {% endfor %}
                {% endblock %}

                
            </div>

            
        </div>
    </div>
</section>







<!-- 热门话题 -->
<div id="ct-js-wrapper" class="ct-pageWrapper">


<section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="120" data-type="parallax" data-stellar-background-ratio="0.3" data-bg-image="./assets/images/content/cars/mediaHeader-03.jpg" data-bg-image-mobile="./assets/images/content/cars/mediaHeader-03.jpg">
    
    <div class="ct-sectionHeader ct-u-marginBottom0">
            <h2 class="ct-sectionHeader-title"><small>探索 <span>话题</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>发现热门话题</p>
        </div>
</section>

<div class="ct-u-sectionMotive text-center">
    <ul class="ct-gallery-filters ct-js-gallery-filters">
        <li><a data-filter="*" class="btn btn-motive active"><span>全部</span></a></li>
        {% block topic %}
            {% for host in topics %}
            <li><a data-filter=".{{host.tag}}" class="btn btn-motive active"><span>{{host.name}}</span></a></li>
            {% endfor %}
        
        {% endblock %}
        
    </ul>
</div>

<div id="ct-gallery" class="ct-gallery ct-gallery--col5 ct-js-magnificPortfolioPopupGroup">
    {% block recommend %}
        {% for host in hosts %}
    <a class="ct-js-magnificPopupImage" onclick="window.location.href='/user/show/{{host.id}}'" title="{{host.username}}">
        <figure class="ct-gallery-item {{host.tag}}">
            <img src="{{host.icon}}" alt="">
            <figcaption>
                <div class="ct-u-displayTableVertical">
                    <div class="ct-u-displayTableCell">
                        <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                        <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">{{host.username}}</h6>
                        <p>{{host.motto}}</p>
                    </div>
                </div>
            </figcaption>
        </figure>
    </a>
        {% endfor %}
    
    {% endblock %}




</div>

<a href="#" class="btn btn-motive ct-loadMoreButton"><span class="h2"><small>Load <b>More</b><i class="fa fa-arrow-down"></i></small></span></a>

</div>

<!-- 热门话题 -->




{% include "frontEnd/footer.html" %}

</div>

<!-- JavaScripts -->
<script src="{% static 'frontEnd/bootstrap/js/bootstrap.min.js'%}" ></script>
<script src="{% static 'frontEnd/js/dependencies.js'%}" ></script>

<script src="{% static 'frontEnd/js/main.js'%}"  ></script>

<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/jquery.stellar.min.js'%}"  ></script>
<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/init.js'%}" ></script>

<script src="{% static 'frontEnd/plugins/magnific-popup/jquery.magnific-popup.min.js'%}"  ></script>
<script src="{% static 'frontEnd/plugins/magnific-popup/init.js'%}" ></script>

<script src="{% static 'frontEnd/plugins/slick/slick.min.js'%}"  ></script>
<script src="{% static 'frontEnd/plugins/slick/init.js'%}" ></script>


<script src="{% static 'frontEnd/plugins/isotope/jquery.isotope.min.js'%}"  ></script>
<script src="{% static 'frontEnd/plugins/isotope/imagesloaded.js'%}"  ></script>
<script src="{% static 'frontEnd/plugins/isotope/infinitescroll.min.js'%}"  ></script>
<script src="{% static 'frontEnd/plugins/isotope/init.js'%}" ></script>

<script type="text/javascript">
    $(function(){
        $('#ChinaMap').SVGMap({
            mapWidth: 806,
            mapHeight: 396
        });
    });
    function findSchool() {  
        window.scrollTo(100,800);   
    } 
</script>

</body>
</html>