{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 -->

{% block body %}<!-- 网页主体 -->
<style>
    *{margin:0;padding:0;border: none;}
    body { color: #333; font-family:'Microsoft Yahei';background-color: white; }
    .mapTipText{width: 280px;height: 110px;background-color: #ffffff;}
    .mapTipText .mapTipImg{height: 66px; width: 66px; float: left;border: 2px solid #ffffff; border-radius: 50%;overflow: hidden;margin: -12px 5px 0 -12px;}
    .mapTipText .mapTipImg img{width: 100%;height: 100%;}
    .mapTipText .mapTipList{float: left;margin-left: 4px;}
    .mapTipText .mapTipList h2{text-align: left;}
    .mapTipText .mapTipList h2 a{font-size: 24px; color: #262626;text-decoration:none;}
    .mapTipText .mapTipList h2 a:hover{ color: #0085d2;}
    .mapTipText .mapTipList h2 a span{font-size: 16px;margin-left: 3px;}
    .mapTipText .mapTipList ul{ width: 203px;padding-right: 10px;}
    .mapTipText .mapTipList ul li{list-style: none;float: left;padding: 7px 3px 0 3px;}
    .mapTipText .mapTipList ul li a{color: #262626;text-decoration:none;}
    .mapTipText .mapTipList ul li a:hover{background-color:#2ebcfe;color:#ffffff;}
</style>



    <!-- 首页轮播模块 -->
    <div id="myNiceCarousel" class="carousel slide" data-ride="carousel">

      <!-- 轮播项目 -->
      <div class="carousel-inner">
        <div class="item active">
          <img alt="First slide" src="{% static 'frontEnd/images/weshare/Imax1.jpg' %}" style="width: 100%; ">
          <div class="carousel-caption">
            <h3>你今天的疑惑，也是我们曾经的疑惑</h3>
            <h3>但我们曾走的弯路，你不必重走</h3>
            <br>
            <br>
          </div>
        </div>
        <div class="item">
          <img alt="Second slide" src="{% static 'frontEnd/images/weshare/Imax2.jpg' %}" style="width: 100%; ">
          <div class="carousel-caption">
            <h3>WeShare为啥，领先的大学生有偿价值干货分享平台</h3>
            <br>
            <br>
          </div>
        </div>
        <div class="item">
          <img alt="Third slide" src="{% static 'frontEnd/images/weshare/Imax3.jpg' %}" style="width: 100%; ">
          <div class="carousel-caption">
            <h3>前辈指路，少走弯路；知识分享，共赢梦想。</h3>
            <br>
            <br>
          </div>
        </div>
      </div>

      <!-- 项目切换按钮 -->
      <a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
        <span class="icon icon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
        <span class="icon icon-chevron-right"></span>
      </a>
    </div>


    <!-- 首页搜索栏 -->
    <div class="IndexSearch">
        <form  action="/general_search" method="get" class="" style="width:50%">
        {% csrf_token %}
            <input type="hidden" id="word_1" name="word_1">
            <input type="hidden" id="word_2" name="word_2">
            <input type="text" class="IndexSearchInput" placeholder="&nbsp;&nbsp;点此输入搜索关键词，多关键词用空格分开" onkeyup="getkey(this.value);" /><button type="submit" class="IndexSearchButton">搜&nbsp;索</button>
        </form>
    </div>

    <!-- 首页数据统计模块 -->
    <div class="ct-u-sectionGrayLighter ct-shadow ct-shadow--type1 ct-u-sectionBorder">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ct-numberBox ct-numberBox--right ct-u-paddingBoth50">
                        <h4 style="color:#e74c46;">保障护航</h4>
                        <br>
                        <p>以结果为导向的服务模式和评价体系，不满意立即退款</p>
                    </div>
                </div>
                <div class="col-sm-4 ct-u-sectionGray">
                    <div class="ct-numberBox ct-numberBox--center ct-u-paddingBoth50">
                        <h4 style="color:#e74c46;">前辈指路</h4>
                        <br>
                        <p>与“经历类似”的前辈建立联系，获得最具价值的“小道消息”，追梦不再迷茫</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-numberBox ct-numberBox--left ct-u-paddingBoth50">
                        <h4 style="color:#e74c46;">社区共赢</h4>
                        <br>
                        <p>以和谐社区模式建立“Weshare为啥” 海内外人脉圈，再也不怕没朋友</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 发现学校模块 -->
    <div id="ct-js-wrapper" class="ct-pageWrapper">
        <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="120" data-type="parallax" data-stellar-background-ratio="0.3" data-bg-image="./assets/images/content/cars/mediaHeader-03.jpg" data-bg-image-mobile="./assets/images/content/cars/mediaHeader-03.jpg">
                <div class="ct-sectionHeader ct-u-marginBottom0">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <h2 class="ct-sectionHeader-title"><small>探索 <span>学校</span></small></h2>
                                <div class="ct-sectionHeader-separator">
                                    <span class="minus"></span>
                                    <span class="slash">/</span>
                                    <span class="slash">/</span>
                                    <span class="minus"></span>
                                </div>
                                <p>发现热门校园</p>

                                <a class="btn btn-danger" href="/school/show">点此搜索学校...</a>
                            </div>
                        </div>
                    </div>

                </div>
        </section>
    </div>


    <!-- 发现服务模块 -->
    <div id="ct-js-wrapper" class="ct-pageWrapper">
        <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="120" data-type="parallax" data-stellar-background-ratio="0.3" data-bg-image="./assets/images/content/cars/mediaHeader-03.jpg" data-bg-image-mobile="./assets/images/content/cars/mediaHeader-03.jpg">
                <div class="ct-sectionHeader ct-u-marginBottom0">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <h2 class="ct-sectionHeader-title"><small>探索 <span>服务</span></small></h2>
                                <div class="ct-sectionHeader-separator">
                                    <span class="minus"></span>
                                    <span class="slash">/</span>
                                    <span class="slash">/</span>
                                    <span class="minus"></span>
                                </div>
                                <p>选择你想要的服务</p>
                            </div>
                        </div>
                        <div class="z-content-box" style="background-color: white;">
                            <div class="container" style="padding-bottom: 10px;">
                                <a href="/share/show">
                                    <div class="col-sm-3">
                                        <img src="{% static 'frontEnd/images/weshare/home/service1.png' %}" alt="service1">
                                        <p style="padding: 20px 0 20px;color:black;font-size:20px;">出国留学</p>
                                    </div>
                                </a>
                                <a href="/share/show">
                                    <div class="col-sm-3">
                                        <img src="{% static 'frontEnd/images/weshare/home/service4.png' %}" alt="service2">
                                        <p style="padding: 20px 0 20px;color:black;font-size:20px;">高考咨询</p>
                                    </div>
                                </a>
                                <a href="/share/show">
                                    <div class="col-sm-3">
                                        <img src="{% static 'frontEnd/images/weshare/home/service2.png' %}" alt="service2">
                                        <p style="padding: 20px 0 20px;color:black;font-size:20px;">考研保研</p>
                                    </div>
                                </a>
                                <a href="/share/show">
                                    <div class="col-sm-3">
                                        <img src="{% static 'frontEnd/images/weshare/home/service3.png' %}" alt="service3">
                                        <p style="padding: 20px 0 20px;color:black;font-size:20px;">实习求职</p>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <a class="btn btn-danger" href="/share/show">点此查看详情...</a>
                    </div>

                </div>
        </section>
    </div>



    <!-- 首页发现话题模块 -->
    <div id="ct-js-wrapper" class="ct-pageWrapper">

        <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="120" data-type="parallax" data-stellar-background-ratio="0.3" data-bg-image="./assets/images/content/cars/mediaHeader-03.jpg" data-bg-image-mobile="./assets/images/content/cars/mediaHeader-03.jpg">
                <div class="ct-sectionHeader ct-u-marginBottom0">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <h2 class="ct-sectionHeader-title"><small>探索 <span>分享家</span></small></h2>
                                <div class="ct-sectionHeader-separator">
                                    <span class="minus"></span>
                                    <span class="slash">/</span>
                                    <span class="slash">/</span>
                                    <span class="minus"></span>
                                </div>
                                <p>发现热门人物</p>

                                <a class="btn btn-danger" href="/share/show">More...</a>
                            </div>
                        </div>
                    </div>

                </div>
        </section>

        <div id="ct-gallery" class="ct-gallery ct-gallery--col5 ct-js-magnificPortfolioPopupGroup">
            {% block recommend %}
                {% for host in hosts %}
                <a class="ct-js-magnificPopupImage" onclick="window.location.href='/user/show/{{host.id}}'" title="{{host.username}}">
                    <figure class="ct-gallery-item {{host.tag}}">
                        <img src="{{host.icon}}" alt="">
                        <figcaption>
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell">
                                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">{{host.username}}</h6>
                                    <p>{{host.motto}}</p>
                                </div>
                            </div>
                        </figcaption>
                    </figure>
                </a>
                {% endfor %}
            {% endblock %}
        </div>
    </div>

    <!-- 备用：首页视频模块 -->
    <!-- <div class="IndexVideo" style="background-color: #EDEFED;">
        <p>Weshare 介绍视频</p>
        <div>
            <video src="{% static 'frontEnd/video/1.mp4' %}" controls="controls"></video>
        </div>
    </div> -->

{% endblock %}



{% block js %}
<script>
//分割关键字
function getkey(z){
    z = z.split(" ");
    if (typeof(z[1]) == "undefined") {
        z[1] = "";
    }
    document.getElementById("word_1").value = z[0];
    document.getElementById("word_2").value = z[1];
}
</script>
{% endblock %}
