{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'frontEnd/images/content/cars/icon.ico' %}">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->

    <title>Rentica - HTML Template</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/mystyle.css'%}">

    <!--[if lt IE 9]>
    <script src="{% static 'frontEnd/bootstrap/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'frontEnd/bootstrap/js/respond.min.js' %}"></script>
    <script src="{% static 'frontEnd/plugins/REM-unit-polyfill/js/rem.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'frontEnd/js/modernizr.custom.js' %}"></script>
</head>

<body class="cssAnimate" style="background-color: white; ">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "frontEnd/nav.html" %}


<!-- <section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop50" data-height="840" data-type="pattern"
         data-bg-image="./assets/images/content/cars/bg-05.jpg"
         data-bg-image-mobile="./assets/images/content/cars/bg-05.jpg"> -->
    <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" style="margin-top:180px;">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 ct-u-paddingTop30 ct-u-paddingBottom150">
                    <div class="ct-panel text-center">
                        <div class="ct-panel-inner">
                            <h3 class="ct-u-marginBottom30">
                                <small class="ct-fw-300"><span class="ct-fw-bold">欢迎登陆『为啥』</span></small>
                            </h3>
                            <h3 class="ct-u-marginBottom30">
                                <small class="ct-fw-300"><span class="ct-fw-bold">探索国内外名校服务</span></small>
                            </h3>
                            <br>
                            <br>
                            <p style="font-size:14px;">没有账号？&nbsp;&nbsp;<a href="/account/" class="btn btn-motive">注册</a></p>    
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 ct-u-paddingTop30 ct-u-paddingBottom150">

                    <form class="ct-panel" action="/login/" method="post" style="padding-left:20%;padding-right:20%;">
                        {% csrf_token %}
                        <div class="ct-panel-inner">
                            <div class="form-group">
                                <input id="email" name="email" required class="form-control form-control--type2" placeholder="用户名/邮箱/手机号">
                            </div>
                            <div class="form-group">
                                <input id="password" name="password" type="password" required
                                       class="form-control form-control--type2" placeholder="密码">
                            </div>
                            <div class="ct-panel-meta">
                                
                                <div class="ct-checkbox text-center">
                                    <input id="remember" type="checkbox">
                                    <label for="remember" class="checkbox-inline text-lowercase">下次自动登陆</label>
                                </div>
                                <a href="/iforget/">忘记密码?</a>
                                <div class="clearfix"></div>
                            </div>
                            <button type="submit" class="btn btn-motive btn-lg btn-wide" style="margin-top:15px;"><span>登录</span></button>
                            <div style="text-align: right; padding-top: 10%">
                                <a href="#">微信登录</a> <a href="#">微博登录</a>       <!--先留在这里,到时候加上图标这些-->
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


<!-- </section> -->


{% include "frontEnd/footer.html" %}

</div>

<!-- JavaScripts -->
<script src="{% static 'frontEnd/js/jquery.min.js' %}"></script>
<script src="{% static 'frontEnd/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontEnd/js/dependencies.js' %}"></script>

<script src="{% static 'frontEnd/js/main.js' %}"></script>

<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/magnific-popup/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/slick/slick.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/slick/init.js' %}"></script>


</body>
</html>