{% load staticfiles %}
<!-- 加载特效：旋转 -->
<div class="ct-preloader-container">
    <div class='ct-preloader'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 手机端侧滑菜单 -->
<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="/index/"><img src="{% static 'frontEnd/images/weshare/LOGO.png' %}" alt="" style="height: 80px; " /></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="active"><a href="/index/"><span>主页</span></a></li>
        <li><a href="/school/show"><span>学校</span></a></li>
        <li><a href="/share/show"><span>分享家</span></a></li>

        <!-- <li class="dropdown"><a href="#"><span>查看活动</span></a>
            <ul class="dropdown-menu">
                <li><a href=""><span>活动即将开放</span></a></li>
                <li><a href=""><span>敬请期待</span></a></li>

            </ul>
        </li> -->
        <li class="dropdown"><a href="/host-center/"><span>个人信息</span></a>
            <ul class="dropdown-menu">
                <li><a href="/host_center/show"><span>我的主页</span></a></li>
                <li><a href="/modify-account/"><span>修改账户资料</span></a></li>

            </ul>
        </li>
        <li class="dropdown"><a href="#"><span>关于我们</span></a>
            <ul class="dropdown-menu">
                <li><a href="/service"><span>使用帮助</span></a></li>
                <li><a href="/recruit/1"><span>招贤纳士</span></a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="#">
            <div class="ct-textEffect"><span data-content="搜索">搜索</span></div>
        </a>
            <ul class="dropdown-menu">
                <form action="/general_search" method="get">
                    {% csrf_token %}
                    <input type="hidden" id="word_1_phone" name="word_1">
                    <input type="hidden" id="word_2_phone" name="word_2">
                    <input type="text" placeholder="输入关键词搜索" onkeyup="getkeyPhone(this.value);" style="padding:10px;"/>
                </form>
            </ul>
        </li>
    </ul>
</div>


<div id="ct-js-wrapper" class="ct-pageWrapper"><!-- 侧滑自适应-重要：勿删 -->
    <!-- 导航栏 -->
    <nav class="navbar navbar-default ct-navbar ct-shadow ct-shadow--type1">
        <div class="container">
            <!-- PC端和手机端都显示的内容 -->
            <div class="ct-navbarBox"  style="background-color: #F6FCFA;">
                <div style=" ">
                    <!-- 语言选择按钮 -->
                    <!-- <div style="float:right;">
                        <div class="ct-navbarBox-meta">
                            <div class="ct-langPicker">
                                <div class="ct-langPicker-content">
                                    <a href="#"><img src="{% static 'frontEnd/images/content/flag-01.jpg' %}" alt=""/></a>
                                    <ul class="ct-langPicker-list">
                                        <li><a href="#">English <img src="{% static 'frontEnd/images/content/flag-01.jpg' %}"
                                                                     alt=""/></a></li>
                                        <li><a href="#">中文 <img src="{% static 'frontEnd/images/content/flag-04.jpg' %}"
                                                                     alt=""/></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div style="float:left;">
                        <div class="ct-navbarBox-meta">
                            <div class="ct-langPicker">
                                <div class="ct-langPicker-content">
                                    <a href="/index/"><img src="{% static 'frontEnd/images/weshare/LOGO.png' %}" style="height: 51px;width: 97px; "></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 头像按钮 -->
                    <div style="float:right;">
                        <div class="navbar-login">
                            {% if login_flag %}
                            <div class="dropdown" style="display: inline;">
                              <button class="dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-color:transparent;">
                                <img src="{{ current_user.icon }}" style="height: 38px; width: 38px; border: 1px solid #cccccc; border-radius: 50%; bottom: auto"><span>{{ current_user.username }}</span><span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu">
                                <li><a href="/host_center/edit">个人中心</a></li>

                                {% if current_user.state == 0 %}
                                <li><a href="/image-receive/">注册成为host</a></li>
                                {% elif current_user.state == 1 %}
                                <li><a href="/host_center/show">我的主页</a></li>
                                {% elif current_user.state == 2 %}
                                <li><a href="/host_center/show">我的主页</a></li>
                                {% endif %}

                                <li><a href="/logout/">退出登录</a></li>
                              </ul>
                            </div>
                            {% else %}
                            <a href="/login/" class="ct-login" style="margin-top: 2px"><span>注册/登录</span><i class="fa fa-lock"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- 手机端菜单触发按钮 -->
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- PC端显示：导航栏 -->
            <ul class="nav navbar-nav ct-navbar--fadeIn">
                <!--=========================================================================-->
                <li><a href="/index/">
                    <div class="ct-textEffect"><span data-content="主页">主页</span></div>
                </a></li>
                <li><a href="/school/show">
                    <div class="ct-textEffect"><span data-content="学校">学校</span></div>
                </a></li>
                <li><a href="/share/show">
                    <div class="ct-textEffect"><span data-content="分享家">分享家</span></div>
                </a></li>
                <!--=========================================================================-->
                <!-- 备用：二级下拉菜单 -->
                <!-- <li class="dropdown"><a onclick="school()">
                    <div class="ct-textEffect"><span data-content="活动">活动</span></div>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="events.html"><span>活动概览</span></a></li>
                        <li class="ct-subDropdown"><a href="event-single.html">查看活动</a>
                            <ul class="ct-submenu dropdown-menu">
                                <li><a href="event-single.html"><span>活动 1</span></a></li>
                                <li><a href="event-single2.html"><span>活动 2</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li> -->
                <!--=========================================================================-->

                <li class="dropdown"><a href="/index/">
                    <div class="ct-textEffect"><span data-content="个人信息">个人信息</span></div>
                </a>
                    <ul class="dropdown-menu">

                        <li><a href="/host_center/show"><span>我的主页</span></a></li>
                        <li><a href="/host_center/edit"><span>个人中心</span></a></li>

                    </ul>
                </li>
                <!--=========================================================================-->
                <li class="dropdown"><a href="#">
                    <div class="ct-textEffect"><span data-content="团队信息">关于我们</span></div>
                </a>
                    <ul class="dropdown-menu">

                        <li><a href="/service"><span>使用帮助</span></a></li>
                        <li><a href="/recruit/1"><span>招贤纳士</span></a></li>

                    </ul>
                </li>
                <!--=========================================================================-->
                <li class="dropdown"><a href="#">
                    <div class="ct-textEffect"><span data-content="搜索">搜索</span></div>
                </a>
                    <ul class="dropdown-menu">
                        <form action="/general_search" method="get">
                            {% csrf_token %}
                            <input type="hidden" id="word_1_nav" name="word_1">
                            <input type="hidden" id="word_2_nav" name="word_2">
                            <input type="text" placeholder="输入关键词搜索" onkeyup="getkeyNav(this.value);" style="padding:10px;"/>
                        </form>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
