{% load staticfiles %}
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'>
        <div>
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if session_timeout %}
<p style="color: #ffffff; background-color: #ec8c8c"> 您的session 已经失效,请重新登录 </p>
{% endif %}

<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="index.html"><img src="{% static 'frontEnd/images/content/logo2.png' %}"
                                                              alt=""/></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="active"><a href="index.html"><span>主页</span></a></li>
        <li><a href="about.html"><span>关于我们</span></a></li>
        <li><a href="gallery.html"><span>Our gallery</span></a></li>
        <li class="dropdown"><a href="rent-now.html"><span>Rent Now</span></a>
            <ul class="dropdown-menu">
                <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="blog.html"><span>Blog</span></a>
            <ul class="dropdown-menu">
                <li><a href="blog.html"><span>Blog</span></a></li>
                <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="events.html"><span>Events</span></a>
            <ul class="dropdown-menu">
                <li><a href="events.html"><span>Events</span></a></li>
                <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
            </ul>
        </li>

        <li class="dropdown"><a href="account.html"><span>Pages</span></a>
            <ul class="dropdown-menu">
                <li><a href="account.html"><span>My Account</span></a></li>
                <li><a href="login.html"><span>注册/登录</span></a></li>

                <li><a href="404.html"><span>404</span></a></li>
            </ul>
        </li>

        <li><a href="services.html"><span>Services</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

    <nav class="navbar navbar-default ct-navbar ct-shadow ct-shadow--type1">

        <div class="navbar-header">
            <a class="ct-logoDark" href="index.html"><img src="{% static 'frontEnd/images/content/logo.png' %}" alt=""/></a>
            <a class="ct-logoWhite" href="index.html"><img src="{% static 'frontEnd/images/content/logo2.png' %}"
                                                           alt=""/></a>
        </div>

        <div class="container">
            <div class="ct-navbarBox">
                {% if login_flag %}
                <a href="/host-center/" class="ct-login"><span>{{ current_user.username }}</span><i
                        class="fa fa-lock"></i></a>
                {% if current_user.state == 0 %}
                <p>您还没有成为host, 点击这里成为host
                    <a href="/image-receive/" class="ct-login"><span>注册成为host</span><i
                            class="fa fa-lock"></i></a></p>
                {% elif current_user.state == 1 %}
                <a href="" class="ct-login"><span>资料审核中</span><i class="fa fa-lock"></i></a>
                <img src="{{ current_user.icon }}" style="height: 28px; width: 28px; border: 1px solid #cccccc; border-radius: 50%">
                {% endif %}
                <a href="/logout/" class="ct-login"><span>退出登录</span><i class="fa fa-lock"></i></a>
                {% else %}
                <a href="/login/" class="ct-login"><span>注册/登录</span><i class="fa fa-lock"></i></a>
                {% endif %}
                <div class="ct-navbarBox-meta">
                    <div class="ct-navSearch-box">
                        <a class="ct-js-navSearch ct-navSearch" href="#"><i class="fa fa-search"></i></a>
                        <!-- Navbar Search  -->
                        <div class="ct-navbar-search">
                            <form role="form">
                                <div class="form-group  ct-input--type2">
                                    <input id="searchM" required="" type="text" name="field[]"
                                           placeholder="Search website..." class="form-control">
                                    <label for="searchM"><span>Search</span></label>
                                    <button class="ct-navbar-search-button" type="submit">
                                        <i class="fa fa-search fa-fw"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="ct-langPicker">
                        <div class="ct-langPicker-content">
                            <a href="#"><img src="{% static 'frontEnd/images/content/flag-01.jpg' %}" alt=""/></a>
                            <ul class="ct-langPicker-list">
                                <li><a href="#">English <img src="{% static 'frontEnd/images/content/flag-01.jpg' %}"
                                                             alt=""/></a></li>
                                <li><a href="#">Español <img src="{% static 'frontEnd/images/content/flag-03.jpg' %}"
                                                             alt=""/></a></li>
                                <li><a href="#">Italiano <img src="{% static 'frontEnd/images/content/flag-02.jpg' %}"
                                                              alt=""/></a></li>
                            </ul>
                        </div>
                    </div> <!-- Flags -->
                </div>

                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <ul class="nav navbar-nav ct-navbar--fadeIn">
                <!--=========================================================================-->
                <li><a href="/index/">
                    <div class="ct-textEffect"><span data-content="主页">主页</span></div>
                </a></li>
                
                <!--=========================================================================-->

                <li  ><a href="javascript:findSchool()">
                    <div class="ct-textEffect"><span data-content="学校">学校</span></div>
                </a></li>


                 <li  ><a href="javascript:findTopic()">
                    <div class="ct-textEffect"><span data-content="话题">话题</span></div>
                </a></li>

                <!--=========================================================================-->

                <li class="dropdown"><a onclick="school()">
                    <div class="ct-textEffect"><span data-content="活动">活动</span></div>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="events.html"><span>活动概览</span></a></li>
                        <li class="ct-subDropdown"><a href="event-single.html">查看活动</a>
                            <ul class="ct-submenu dropdown-menu">
                                <li><a href="event-single.html"><span>活动 1</span></a></li>
                                <li><a href="event-single2.html"><span>活动 2</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!--=========================================================================-->
                <li class="dropdown"><a href="account.html">
                    <div class="ct-textEffect"><span data-content="个人信息">个人信息</span></div>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="/host-center/"><span>我的主页</span></a></li>
                        <li><a href="/modify-account/"><span>修改账户资料</span></a></li>
                    </ul>
                </li>
                <!--=========================================================================-->
                <li class="dropdown"><a href="/about">
                    <div class="ct-textEffect"><span data-content="团队信息">关于我们</span></div>
                </a>
                    <ul class="dropdown-menu">
                        <li><a href="/service"><span>使用帮助</span></a></li>
                        <li><a href="/host-center/"><span>招贤纳士</span></a></li>
                        
                    </ul>
                </li>

            </ul>

        </div>
    </nav>