<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="./assets/images/content/cars/icon.ico">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->

    <title>Rentica - HTML Template</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/mystyle.css'%}">

    <!--[if lt IE 9]>
    <script src="./assets/bootstrap/js/html5shiv.min.js"></script>
	<script src="./assets/bootstrap/js/respond.min.js"></script>
 	<script src="./assets/plugins/REM-unit-polyfill/js/rem.min.js"></script>
    <![endif]-->
    <script src="./assets/js/modernizr.custom.js"></script>
</head>

<body class="cssAnimate ct-navbar--toFixed ct-navbar--toMotive">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'><div><div><div><div><div><div><div><div><div><div></div></div></div></div></div></div></div></div></div></div></div>
</div>

<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="index.html"><img src="./assets/images/content/logo2.png" alt=""/></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="onepage"><a href="#home"><span>Home</span></a></li>
        <li class="onepage"><a href="#about"><span>About</span></a></li>
        <li class="onepage"><a href="#team"><span>The Team</span></a></li>
        <li class="onepage"><a href="#rent-now"><span>Rent Now</span></a></li>
        <li class="onepage"><a href="#services"><span>Services</span></a></li>
        <li class="onepage"><a href="#gallery"><span>Gallery</span></a></li>
        <li class="onepage"><a href="#events"><span>Events</span></a></li>
        <li class="onepage"><a href="#contact"><span>Contact</span></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

<nav class="navbar navbar-default ct-navbar ct-shadow ct-shadow--type1">

    <div class="navbar-header">
        <a class="ct-logoDark" href="index.html"><img src="./assets/images/content/logo.png" alt=""/></a>
        <a class="ct-logoWhite" href="index.html"><img src="./assets/images/content/logo2.png" alt=""/></a>
    </div>

    <div class="container">
        <div class="ct-navbarBox">
            <a href="login.html" class="ct-login"><span>Login</span><i class="fa fa-lock"></i></a>
            <div class="ct-navbarBox-meta">
                <div class="ct-navSearch-box">
                    <a class="ct-js-navSearch ct-navSearch" href="#"><i class="fa fa-search"></i></a> <!-- Navbar Search  -->
                    <div class="ct-navbar-search">
                        <form role="form">
                            <div class="form-group  ct-input--type2">
                                <input id="searchM" required="" type="text" name="field[]" placeholder="Search website..." class="form-control">
                                <label for="searchM"><span>Search</span></label>
                                <button class="ct-navbar-search-button" type="submit">
                                    <i class="fa fa-search fa-fw"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ct-langPicker">
                    <div class="ct-langPicker-content">
                        <a href="#"><img src="./assets/images/content/flag-01.jpg" alt=""/></a>
                        <ul class="ct-langPicker-list">
                            <li><a href="#">English <img src="./assets/images/content/flag-01.jpg" alt=""/></a></li>
                            <li><a href="#">Español <img src="./assets/images/content/flag-03.jpg" alt=""/></a></li>
                            <li><a href="#">Italiano <img src="./assets/images/content/flag-02.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                </div> <!-- Flags -->
            </div>

            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul class="nav navbar-nav ct-navbar--fadeIn">
            <!--=========================================================================-->
            <li class="active onepage"><a href="#home"><div class="ct-textEffect"><span data-content="Home">Home</span></div></a></li>
            <li class="onepage"><a href="#about"><div class="ct-textEffect"><span data-content="About">About</span></div></a></li>
            <li class="onepage"><a href="#team"><div class="ct-textEffect"><span data-content="The Team">The Team</span></div></a></li>
            <li class="onepage"><a href="#rent-now"><div class="ct-textEffect"><span data-content="Rent Now">Rent Now</span></div></a></li>
            <li class="onepage"><a href="#services"><div class="ct-textEffect"><span data-content="Services">Services</span></div></a></li>
            <li class="onepage"><a href="#gallery"><div class="ct-textEffect"><span data-content="Gallery">Gallery</span></div></a></li>
            <li class="onepage"><a href="#events"><div class="ct-textEffect"><span data-content="Events">Events</span></div></a></li>
            <li class="onepage"><a href="#contact"><div class="ct-textEffect"><span data-content="Contact">Contact</span></div></a></li>
        </ul>

    </div>
</nav>

<div id="home" class="section ct-slick ct-js-slick" data-adaptiveHeight="true" data-animations="true" data-autoplay="true" data-infinite="true" data-autoplaySpeed="6000" data-draggable="false" data-touchMove="false" data-arrows="true" data-items="1">
    <div class="item" data-bg="./assets/images/content/cars/bg-02.jpg">
        <div class="item-inner">
            <div class="ct-slick-image">
                <img class="animated" src="./assets/images/content/cars/slideImage-01.png" data-fx="bounceInLeft" data-time="50">
            </div>
            <div class="ct-slick-content">
            <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="600"><small>are you looking</small></h2>
            <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="850">for a cool car?</h2>
            <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="600">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
            <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1350"><span>Rent a sedan</span></a>
            <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1100"><span>Contact Us</span></a>
        </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/content/cars/bg-02.jpg">
        <div class="item-inner text-right pull-right">
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="500"><small>are you looking</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="750">for a cool car?</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="500">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1250"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1000"><span>Contact Us</span></a>
            </div>
            <div class="ct-slick-image">
                <img class="animated" src="./assets/images/content/cars/slideImage-02.png" data-fx="bounceInRight" data-time="50">
            </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/content/cars/bg-02.jpg">
        <div class="item-inner">
            <div class="ct-slick-image">
                <img class="animated" src="./assets/images/content/cars/slideImage-03.png" data-fx="bounceInLeft" data-time="50">
            </div>
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="600"><small>are you looking</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="850">for a cool car?</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="600">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1350"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1100"><span>Contact Us</span></a>
            </div>
        </div>
    </div>
    <div class="item" data-bg="./assets/images/content/cars/bg-02.jpg">
        <div class="item-inner text-right pull-right">
            <div class="ct-slick-content">
                <h2 class="ct-fw-lighter animated" data-fx="bounceInDown" data-time="500"><small>are you looking</small></h2>
                <h2 class="ct-fw-900 text-uppercase ct-u-marginBoth10 animated" data-fx="bounceInDown" data-time="750">for a cool car?</h2>
                <p class="ct-u-marginBottom20 animated" data-fx="bounceInDown" data-time="500">Whatever your budget and whatever the size of car you are looking for, we are sure we can help you find what’s right for you. And we make sure our offer will give you a lot of fun too.</p>
                <a href="rent-item.html" class="btn btn-motive animated" data-fx="bounceInDown" data-time="1250"><span>Rent a sedan</span></a>
                <a href="contact.html" class="btn btn-graydarker animated" data-fx="bounceInDown" data-time="1000"><span>Contact Us</span></a>
            </div>
            <div class="ct-slick-image">
                <img class="animated" src="./assets/images/content/cars/slideImage-04.png" data-fx="bounceInRight" data-time="50">
            </div>
        </div>
    </div>
</div>


<div id="about" class="section"></div>
<section class="ct-u-marginTop90 ct-u-paddingBottom10">
    <div class="container">

        <div class="ct-sectionHeader ct-u-marginBottom70">
            <h2 class="ct-sectionHeader-title"><small>The Rentica <span>Company</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>Only the best offers and the best selection just for you!</p>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-wrench"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Our cars work great</h6>
                        <p>With 30 years car hire experience in Europe and 60 years worldwide we allways remember that our top priority is to provide the best quality car rental service at an affordable price.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-thumbs-o-up"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Outstanding reviews</h6>
                        <p>Just look at out testimonials section. It is full of happy and fully satisfied customers that cannot wait to use our services again. It is just a pleasure and stress-free experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-car"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Take it for a spin</h6>
                        <p>Come to our car rental point and ask for a free ride to check if the car you were thinking about suits your needs. In no time you will be given a chance to drive and try if the trunk accomodates your luggage.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-star"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Five star service</h6>
                        <p>Our company is rated with 5 stars which guarantees that you will receive the best quality possible, and the satisfaction is guaranteed or the money back policy works perfect.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-money"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Discounts for groups</h6>
                        <p>If you are planning to rent more than one car, you are sure to receive a substancial discount for every next car. So far there hac never been a client that would leave us without "thank you so much".</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-flag"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Let's go have some fun</h6>
                        <p>Book one of our car rental deals, and you’ll be able to say bye-bye to the of public transportation. With unlimited mileage and special offers you can easily find cheap rental cars last minute.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingBoth60" data-height="auto" data-type="pattern" data-bg-image="./assets/images/content/cars/bg-01.jpg">
    <div class="container">
        <div class="text-center">
            <div class="ct-phone">
                <img class="ct-phone-default" src="./assets/images/content/phone.png" alt="">
                <div class="embed-responsive embed-responsive-16by9 ct-embed">
                    <i class="fa fa-play"></i>
                    <img src="./assets/images/content/cars/video-placeholder2.jpg" alt=""/>
                    <video class="embed-responsive-item" src="./assets/videos/video-02.mp4" data-autoplay="false" controls></video>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="team" class="section ct-u-sectionMotive">
    <div class="ct-sectionHeader ct-u-paddingBoth60">
        <h2 class="ct-sectionHeader-title"><small>The amazing <span>team</span></small></h2>
        <div class="ct-sectionHeader-separator">
            <span class="minus"></span>
            <span class="slash">/</span>
            <span class="slash">/</span>
            <span class="minus"></span>
        </div>
        <p>Our staff is dedicated, enthusiastic and always go the extra mile.</p>
    </div>
</section>

<div class="ct-mediaSection ct-mediaSection--desktop" data-height="450" data-type="pattern" data-bg-image="./assets/images/content/cars/bg-03.jpg" data-bg-image-mobile="./assets/images/content/cars/bg-03.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="ct-personBox">
                        <div class="ct-personBox-image"><img src="./assets/images/content/cars/person-01.jpg" alt=""/></div>
                        <div class="ct-personBox-content">
                            <h6 class="ct-personBox-header">James Witherspoon <small>the big boss</small></h6>
                            <ul class="ct-socials">
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="ct-personBox">
                        <div class="ct-personBox-image"><img src="./assets/images/content/cars/person-02.jpg" alt=""/></div>
                        <div class="ct-personBox-content">
                            <h6 class="ct-personBox-header">Jessica Dawson <small>sales manager</small></h6>
                            <ul class="ct-socials">
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="ct-personBox">
                        <div class="ct-personBox-image"><img src="./assets/images/content/cars/person-03.jpg" alt=""/></div>
                        <div class="ct-personBox-content">
                            <h6 class="ct-personBox-header">Marcel Bennington <small>test drive officer</small></h6>
                            <ul class="ct-socials">
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="ct-personBox">
                        <div class="ct-personBox-image"><img src="./assets/images/content/cars/person-04.jpg" alt=""/></div>
                        <div class="ct-personBox-content">
                            <h6 class="ct-personBox-header">Jade Marceau <small>support</small></h6>
                            <ul class="ct-socials">
                                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct-mediaSection ct-mediaSection--desktop" data-type="parallax" data-stellar-background-ratio="0.3" data-bg-image="./assets/images/content/cars/bg-06.jpg" data-bg-image-mobile="./assets/images/content/cars/bg-06.jpg">
    <div class="container">
        <div class="ct-sectionHeader ct-u-paddingTop60 ct-u-paddingBottom70">
            <h2 class="ct-sectionHeader-title"><small>We belive in <span>quality</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>100% satisfaction or the money back policy is what we believe in and we do mean business.</p>
        </div>

        <div class="row">
            <div class="col-md-4 ct-u-paddingBottom90">
                <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginTop30 text-right">
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--right">Five star services</h6>
                        <p>Our company is rated with 5 stars which guarantees that you will receive the best quality possible, and the satisfaction is guaranteed or the money back policy works perfect.</p>
                    </div>
                    <div class="h3 ct-iconBox-icon ct-iconBox-icon--inverse media-right"><small><i class="fa fa-star"></i></small></div>
                </div>
                <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginTop50 text-right">
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--right">Discounts for groups</h6>
                        <p>If you are planning to rent more than one car, you are sure to receive a substancial discount for every next car. So far there hac never been a client that would leave us without "thank you so much".</p>
                    </div>
                    <div class="h3 ct-iconBox-icon ct-iconBox-icon--inverse media-right"><small><i class="fa fa-money"></i></small></div>
                </div>
                <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginTop50 text-right">
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--right">Let's go have some fun</h6>
                        <p>Book one of our car rental deals, and you’ll be able to say bye-bye to the of public transportation. With unlimited mileage and special offers you can easily find cheap rental cars last minute.</p>
                    </div>
                    <div class="h3 ct-iconBox-icon ct-iconBox-icon--inverse media-right"><small><i class="fa fa-flag"></i></small></div>
                </div>

            </div>
            <div class="col-md-4 text-center ct-u-paddingBottom90"><img src="./assets/images/content/cars/middle-01.png" alt=""/></div>
            <div class="col-md-4 ct-u-paddingBottom90">
                <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginTop30">
                    <div class="h3 ct-iconBox-icon ct-iconBox-icon--inverse media-left"><small><i class="fa fa-wrench"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">our cars work great</h6>
                        <p>With 30 years car hire experience in Europe and 60 years worldwide we allways remember that our top priority is to provide the best quality car rental service at an affordable price.</p>
                    </div>
                </div>
                <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginTop50">
                    <div class="h3 ct-iconBox-icon ct-iconBox-icon--inverse media-left"><small><i class="fa fa-thumbs-o-up"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">outstanding reviews</h6>
                        <p>Just look at out testimonials section. It is full of happy and fully satisfied customers that cannot wait to use our services again. It is just a pleasure and stress-free experience.</p>
                    </div>
                </div>
                <div class="ct-iconBox ct-iconBox--type3 media ct-u-marginTop50">
                    <div class="h3 ct-iconBox-icon ct-iconBox-icon--inverse media-left"><small><i class="fa fa-car"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Take it for a spin</h6>
                        <p>Come to our car rental point and ask for a free ride to check if the car you were thinking about suits your needs. In no time you will be given a chance to drive and try if the trunk accomodates your luggage.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="rent-now" class="section ct-u-sectionMotive">
    <div class="ct-sectionHeader ct-u-paddingBoth60">
        <h2 class="ct-sectionHeader-title"><small>Rent an <span>awesome car</span></small></h2>
        <div class="ct-sectionHeader-separator">
            <span class="minus"></span>
            <span class="slash">/</span>
            <span class="slash">/</span>
            <span class="minus"></span>
        </div>
        <p>We have all the latest and most comfortable models you can desire to drive.</p>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-sm-4 ct-u-paddingBoth20">
            <div class="ct-product">
                <div class="ct-product-image"><img src="./assets/images/content/cars/product-01.jpg" alt=""></div>
                <div class="ct-product-content">
                    <h4 class="ct-product-header ct-u-hr ct-u-hr--center">Aumi A6</h4>
                    <p>Fuel efficient. Premium sound. Sporty looking. The strongest engine in its class. Look no further, this is the perfect car for your everyday needs. Financing guaranteed.</p>
                    <p class="ct-product-price">from <span class="h2"><small><span class="ct-product-currency">$</span>400 </small></span>per day</p>
                    <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ct-u-paddingBoth20">
            <div class="ct-product">
                <div class="ct-product-image"><img src="./assets/images/content/cars/gallery-03.jpg" alt=""></div>
                <div class="ct-product-content">
                    <h4 class="ct-product-header ct-u-hr ct-u-hr--center">Tomota P10</h4>
                    <p>Premium sound. Sporty looking. Fuel efficient. Financing guaranteed. The strongest engine in its class. Look no further, this is the perfect car for your everyday needs. </p>
                    <p class="ct-product-price">from <span class="h2"><small><span class="ct-product-currency">$</span>50 </small></span>per day</p>
                    <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 ct-u-paddingBoth20">
            <div class="ct-product">
                <div class="ct-product-image"><img src="./assets/images/content/cars/gallery-06.jpg" alt=""></div>
                <div class="ct-product-content">
                    <h4 class="ct-product-header ct-u-hr ct-u-hr--center">BMZ Z Series</h4>
                    <p>The strongest engine in its class. Look no further, this is the perfect car for your everyday needs. Premium sound. Sporty looking. Fuel efficient. Financing guaranteed. </p>
                    <p class="ct-product-price">from <span class="h2"><small><span class="ct-product-currency">$</span>950 </small></span>per day</p>
                    <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingBoth40" data-type="video" data-height="auto">
    <div class="ct-mediaSection-video embed-responsive embed-responsive-16by9">
        <video muted loop autoplay="autoplay" preload="auto">
            <source src='./assets/videos/video-01.mp4' type='video/mp4'/>
        </video>
    </div>

    <div id="services" class="section container">
        <div class="ct-callToAction ct-callToAction--type2 ct-u-sectionGrayLighter ct-shadow ct-shadow--type1">
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell ct-callToAction-content">
                    <h3 class="ct-callToAction-header">The best services at an affordable price</h3>
                    <p>Just the best offers you can encounter on the market, we guarantee it, and we never let our clients down.</p>
                </div>
                <div class="ct-u-displayTableCell ct-callToAction-button">
                    <a href="services.html" class="btn btn-lg btn-motive"><span>View services</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ct-mediaSection ct-mediaSection--desktop" data-type="pattern" data-bg-image="./assets/images/content/cars/bg-08.jpg" data-bg-image-mobile="./assets/images/content/cars/bg-08.jpg">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center ct-u-paddingTop70 ct-u-paddingBottom20">
                <img src="./assets/images/content/cars/services-01.png" alt="">
            </div>
            <div class="col-sm-6 ct-u-paddingTop90 ct-u-paddingBottom80">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-marginBottom30">
                    <h2 class="ct-sectionHeader-title"><small>We have the <span>highest standards</span></small></h2>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                    <p>100% satisfaction or the money back policy is what we believe in and we do mean business.</p>
                </div>

                <div class="panel-group" id="accordion">
                    <div class="panel panel-motive">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a class="h5 collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <small>How easy is it to launch this rocket ?</small>
                                </a>
                            </div>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>You'll find a great rate on a great car rental at more than 200 conveniently
                                    located Rentica car rental sites throughout the country, including many at
                                    or near major airports. It is very convenient and you will never find yourself
                                    in a situation when you have no access to emergency service or replacement car.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-motive">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <small>Is it cool enough for me ?</small>
                                </a>
                            </div>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <p>When it comes to rental car selection, Rentica’s got everything from sub compacts
                                    to SUVs. Find a rental car for every occasion - minivans for vacations, ragtops
                                    for weekend getaways and economy models for saving a little extra spending money.
                                    So only the sky is now the limit for you. The only problem you will have is
                                    "what shall I choose".
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-motive">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <small>What if I crash ?</small>
                                </a>
                            </div>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Occasionally something may occur and your Rentica rental car may need service
                                    while you're travelling. If you need help, you can rest assured that in the U.S.,
                                    Canada, and some other countries, Rentica can provide Emergency Roadside
                                    Assistance within 30 minutes from the call. And you will never be left alone.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid ct-embed-outer">
    <div class="embed-responsive embed-responsive-16by9 ct-embed ct-embed--withContent">
        <div class="ct-embed-content">
            <div class="ct-embed-content-inner">
                <h2 class="ct-fw-bold text-uppercase text-center">RENTING A CAR</h2>
                <i class="fa fa-play"></i>
                <h2 class="ct-fw-lighter"><small>has never been this friggin' awesome</small></h2>
            </div>
        </div>
        <img src="./assets/images/content/cars/video-placeholder.jpg" alt=""/>
        <video class="embed-responsive-item" src="./assets/videos/maserati.mp4" data-autoplay="false" controls></video>
    </div>
</div>

<section id="gallery" class="section ct-u-sectionMotive">
    <div class="ct-sectionHeader ct-u-paddingBoth60">
        <h2 class="ct-sectionHeader-title"><small>Wicked <span>gallery</span></small></h2>
        <div class="ct-sectionHeader-separator">
            <span class="minus"></span>
            <span class="slash">/</span>
            <span class="slash">/</span>
            <span class="minus"></span>
        </div>
        <p>Look how beautiful the cars look like and decide in which you will feel best.</p>
    </div>
</section>

<div id="ct-gallery" class="ct-gallery ct-gallery--col5 ct-js-magnificPortfolioPopupGroup">

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-02-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item sedan">
        <img src="./assets/images/content/cars/gallery-02.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-14-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item luxury">
        <img src="./assets/images/content/cars/gallery-14.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-06-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item event">
        <img src="./assets/images/content/cars/gallery-06.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-04-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item event">
        <img src="./assets/images/content/cars/gallery-04.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-11-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item sport">
        <img src="./assets/images/content/cars/gallery-11.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-12-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item sedan">
        <img src="./assets/images/content/cars/gallery-12.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-01-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item luxury">
        <img src="./assets/images/content/cars/gallery-01.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-15-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item sport">
        <img src="./assets/images/content/cars/gallery-15.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-05-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item luxury">
        <img src="./assets/images/content/cars/gallery-05.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>

<a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-03-big.jpg" title="Ahoy There Matey">
    <figure class="ct-gallery-item sedan">
        <img src="./assets/images/content/cars/gallery-03.jpg" alt="">
        <figcaption>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <span class="ct-iconButton ct-iconButton--larger ct-u-marginBottom20"><i class="fa fa-search"></i></span>
                    <h6 class="ct-u-hr ct-u-hr--center text-uppercase ct-fw-bold ct-u-marginBottom15">Ahoy There Matey</h6>
                    <p>sports car</p>
                </div>
            </div>
        </figcaption>
    </figure>
</a>
</div>

<div id="events" class="section ct-u-marginBottom40">
    <div class="container">
        <div class="ct-sectionHeader ct-u-paddingBoth60">
            <h2 class="ct-sectionHeader-title"><small>Upcoming <span>events</span></small></h2>
            <div class="ct-sectionHeader-separator">
                <span class="minus"></span>
                <span class="slash">/</span>
                <span class="slash">/</span>
                <span class="minus"></span>
            </div>
            <p>Come and witness the fascinating events that give you the opportunity to see your favourite models live.</p>
        </div>

        <div class="ct-mediaSection ct-mediaSection--desktop ct-sectionOverflow ct-sectionOverflow--withHover ct-sectionOverflow--imageLeft" data-height="450" data-type="color" data-bg-color="#f8f8f8">
            <div class="ct-mediaSection-inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ct-sectionOverflow-image">
                            <img src="./assets/images/content/cars/sectionImage-03.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ct-sectionOverflow-content ct-u-textLeft">
                            <h2 class="ct-u-marginTop20"><small class="ct-u-colorDarkGray ct-fw-lighter">Aug 25 2015</small></h2>
                            <h6 class="ct-u-marginTop60 text-uppercase ct-fw-bold ct-u-hr ct-u-hr--left">Rentica Sports Car Racing Finals</h6>
                            <p>On this very special day you will have the pleasure to witness the best racing cars in the world.
                                We can guarantee you as our client to have the best seats and a complimentary snacks to accompany
                                you while viewing this amazing show. Take your friends with you! The next race is set to be
                                in Monaco so a great chance to soak up the sun too.</p>
                            <a href="event-single.html" class="ct-iconButton ct-iconButton--larger ct-u-marginTop50 animated" data-fx="fadeIn"><i class="fa fa-arrow-right animated" data-fx="bounceInLeft" data-time="100"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ct-mediaSection ct-mediaSection--desktop ct-sectionOverflow ct-sectionOverflow--withHover ct-sectionOverflow--imageRight" data-height="450" data-type="color" data-bg-color="#f8f8f8">
            <div class="ct-mediaSection-inner">
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <div class="ct-sectionOverflow-image">
                            <img src="./assets/images/content/cars/sectionImage-04.jpg" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <div class="ct-sectionOverflow-content ct-u-textRight">
                            <h2 class="ct-u-marginTop20"><small class="ct-u-colorDarkGray ct-fw-lighter">Aug 25 2015</small></h2>
                            <h6 class="ct-u-marginTop60 text-uppercase ct-fw-bold ct-u-hr ct-u-hr--right">Rentica Latest Models Showroom</h6>
                            <p>This a something that we have been looking forward to for last months. On this very show we will present all the
                                best models that you are free to take for a drive, in case you would like to rent them in the future.
                                So thus this will save you the trouble of testing them first. No pre-booking for test driving
                                is required. Just come and test them.</p>
                            <a href="event-single2.html" class="ct-iconButton ct-iconButton--larger ct-u-marginTop50 animated" data-fx="fadeIn"><i class="fa fa-arrow-left animated" data-fx="bounceInRight" data-time="100"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ct-mediaSection ct-mediaSection--desktop" data-type="pattern" data-bg-image="./assets/images/content/cars/bg-01.jpg" data-bg-image-mobile="./assets/images/content/cars/bg-01-mobile.jpg">
    <div class="container">
        <div id="contact" class="section row">
            <div class="col-sm-6 ct-u-paddingBottom80">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop70 ct-u-paddingBottom60">
                    <h2 class="ct-sectionHeader-title"><small>Get in <span>touch</span></small></h2>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                    <p>Thanks to brand new IT system contact with our team has never been so fast!</p>
                </div>

                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-map-marker"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Address</h6>
                        <h3><small class="ct-fw-lighter">Kenway Avenue 34,<br>Miami FL 340689, United States</small></h3>
                    </div>
                </div>
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-phone"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Phone</h6>
                        <h3><small class="ct-fw-lighter">0045 / 246.893.05 <br> 0045 / 530.603.24</small></h3>
                    </div>
                </div>
                <div class="ct-iconBox ct-iconBox--type1 media ct-u-marginBottom50">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-envelope"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Email</h6>
                        <h3><small><a href="#" class="ct-t-hover">contact@rentica.mi</a></small></h3>
                    </div>
                </div>
                <div class="ct-iconBox ct-iconBox--type1 media">
                    <div class="h3 ct-iconBox-icon media-left"><small><i class="fa fa-thumbs-o-up"></i></small></div>
                    <div class="ct-iconBox-content media-body">
                        <h6 class="ct-iconBox-header ct-u-hr ct-u-hr--left">Social Profiles</h6>
                        <ul class="ct-socials ct-socials--type2">
                            <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                            <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                            <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ct-u-paddingBottom80">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop70 ct-u-paddingBottom60">
                    <h2 class="ct-sectionHeader-title"><small>Send us a <span>message</span></small></h2>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                    <p>Write just anything and we'll respond within minutes with a ready solution.</p>
                </div>


                <form role="form" action="./assets/form/send.php" method="POST" class="validateIt">

                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group  ct-input--type2 ct-u-marginBottom20">
                                <input id="contact_name" data-error-message="Enter your name!" placeholder="Name" type="text" required="" name="field[]" class="form-control" title="Name">
                                <label for="contact_name" class="sr-only"></label>
                            </div>
                            <div class="form-group  ct-input--type2 ct-u-marginBottom20">
                                <input id="contact_email" data-error-message="Enter your email!" placeholder="Email" required="" name="field[]" type="email" class="form-control h5-email" title="Email">
                                <label for="contact_email" class="sr-only"></label>
                            </div>
                            <div class="form-group  ct-input--type2 ct-u-marginBottom20">
                                <input id="contact_phone" placeholder="Phone" name="field[]" type="tel" class="form-control h5-phone" title="Phone">
                                <label for="contact_phone" class="sr-only"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group  ct-input--type2 ct-u-marginBottom20">
                        <textarea id="contact_message" data-error-message="Message is required" placeholder="Message" class="form-control" rows="6" name="field[]" required="" title="Message"></textarea>
                        <label for="contact_message" class="sr-only"></label>
                    </div>

                    <div class="clearfix"></div>

                    <button type="submit" class="btn btn-wide btn-motive"><span>Send Message</span></button>
                </form>

                <div class="successMessage alert alert-success ct-u-marginTop20" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Message Sent.
                </div>
                <div class="errorMessage alert alert-danger ct-u-marginTop20" style="display:none;">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    An error occured. Please try again later.
                </div>

            </div>
        </div>
    </div>
</div>

<div class="ct-googleMap-container">
    <div class="ct-googleMap" data-height="500" data-location="Narbutta 24, Warsaw" data-zoom="15">
    </div>
</div>

<footer class="ct-footer ct-u-sectionMotive">
<div class="ct-footer-meta">
    <div class="container">
        <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014</div>
        <ul class="ct-socials">
            <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
            <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
    </div>
</div>
</footer>

</div>

<!-- JavaScripts -->
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="./assets/js/dependencies.js"></script>

<script src="./assets/js/main.js"></script>

<script src="./assets/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
<script src="./assets/plugins/ct-mediaSection/js/init.js"></script>

<script src="./assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="./assets/plugins/magnific-popup/init.js"></script>

<script src="./assets/plugins/slick/slick.min.js"></script>
<script src="./assets/plugins/slick/init.js"></script>

<script src="./assets/plugins/isotope/jquery.isotope.min.js"></script>
<script src="./assets/plugins/isotope/imagesloaded.js"></script>
<script src="./assets/plugins/isotope/infinitescroll.min.js"></script>
<script src="./assets/plugins/isotope/init.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="./assets/js/gmaps/gmap3.min.js"></script>
<script src="./assets/js/gmaps/init.js"></script>

<script src="./assets/js/onepager/jquery.pagescroller.lite.js"></script>
<script src="./assets/js/onepager/init.js"></script>

<script src="./assets/js/jquery.h5validate.js"></script>
<script src="./assets/form/js/contact-form.js"></script>
<script src="">

</script>

<script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101340075" charset="utf-8"></script>


<script>

</script>


</body>
</html>