<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="./assets/images/content/cars/icon.ico">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->

    <title>Rentica - HTML Template</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/mystyle.css'%}">

    <!--[if lt IE 9]>
    <script src="./assets/bootstrap/js/html5shiv.min.js"></script>
	<script src="./assets/bootstrap/js/respond.min.js"></script>
 	<script src="./assets/plugins/REM-unit-polyfill/js/rem.min.js"></script>
    <![endif]-->
    <script src="./assets/js/modernizr.custom.js"></script>
</head>

<body class="cssAnimate">
<div class="ct-preloader-container">                                            <!-- Preloader -->
    <div class='ct-preloader'><div><div><div><div><div><div><div><div><div><div></div></div></div></div></div></div></div></div></div></div></div>
</div>

<div class="ct-menuMobile">
    <div class="ct-menuMobile-logo"><a href="index.html"><img src="./assets/images/content/logo2.png" alt=""/></a></div>
    <ul class="ct-menuMobile-navbar">
        <li class="active"><a href="index.html"><span>Home</span></a></li>
        <li><a href="about.html"><span>About us</span></a></li>
        <li><a href="gallery.html"><span>Our gallery</span></a></li>
        <li class="dropdown"><a href="rent-now.html"><span>Rent Now</span></a>
            <ul class="dropdown-menu">
                <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="blog.html"><span>Blog</span></a>
            <ul class="dropdown-menu">
                <li><a href="blog.html"><span>Blog</span></a></li>
                <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="events.html"><span>Events</span></a>
            <ul class="dropdown-menu">
                <li><a href="events.html"><span>Events</span></a></li>
                <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
            </ul>
        </li>
        <li class="dropdown"><a href="account.html"><span>Pages</span></a>
            <ul class="dropdown-menu">
                <li><a href="account.html"><span>My Account</span></a></li>
                <li><a href="login.html"><span>Login</span></a></li>

                <li><a href="404.html"><span>404</span></a></li>
            </ul>
        </li>
        <li><a href="services.html"><span>Services</span></a></li>
        <li><a href="contact.html"><span>Contact</span></a></li>
    </ul>
</div>

<div id="ct-js-wrapper" class="ct-pageWrapper">

<nav class="navbar navbar-default ct-navbar ct-shadow ct-shadow--type1">

    <div class="navbar-header">
        <a class="ct-logoDark" href="index.html"><img src="./assets/images/content/logo.png" alt=""/></a>
        <a class="ct-logoWhite" href="index.html"><img src="./assets/images/content/logo2.png" alt=""/></a>
    </div>

    <div class="container">
        <div class="ct-navbarBox">
            <a href="login.html" class="ct-login"><span>Login</span><i class="fa fa-lock"></i></a>
            <div class="ct-navbarBox-meta">
                <div class="ct-navSearch-box">
                    <a class="ct-js-navSearch ct-navSearch" href="#"><i class="fa fa-search"></i></a> <!-- Navbar Search  -->
                    <div class="ct-navbar-search">
                        <form role="form">
                            <div class="form-group  ct-input--type2">
                                <input id="searchM" required="" type="text" name="field[]" placeholder="Search website..." class="form-control">
                                <label for="searchM"><span>Search</span></label>
                                <button class="ct-navbar-search-button" type="submit">
                                    <i class="fa fa-search fa-fw"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="ct-langPicker">
                    <div class="ct-langPicker-content">
                        <a href="#"><img src="./assets/images/content/flag-01.jpg" alt=""/></a>
                        <ul class="ct-langPicker-list">
                            <li><a href="#">English <img src="./assets/images/content/flag-01.jpg" alt=""/></a></li>
                            <li><a href="#">Español <img src="./assets/images/content/flag-03.jpg" alt=""/></a></li>
                            <li><a href="#">Italiano <img src="./assets/images/content/flag-02.jpg" alt=""/></a></li>
                        </ul>
                    </div>
                </div> <!-- Flags -->
            </div>

            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <ul class="nav navbar-nav ct-navbar--fadeIn">
            <!--=========================================================================-->
            <li><a href="index.html"><div class="ct-textEffect"><span data-content="Home">Home</span></div></a></li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="about.html"><div class="ct-textEffect"><span data-content="About Us">About Us</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="about.html"><span>About us</span></a></li>
                    <li><a href="gallery.html"><span>Our gallery</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li><a href="services.html"><div class="ct-textEffect"><span data-content="Services">Services</span></div></a></li>
            <li class="active dropdown"><a href="rent-now.html"><div class="ct-textEffect"><span data-content="Rent Now">Rent Now</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="rent-now.html"><span>Rent Now</span></a></li>
                    <li><a href="rent-item.html"><span>Rent Item</span></a></li>
                    <li class="ct-subDropdown"><a href="rent-page-variation-1.html">Rent Page</a>
                        <ul class="ct-submenu dropdown-menu">
                            <li><a href="rent-page-variation-1.html"><span>Rent Page v1</span></a></li>
                            <li><a href="rent-page-variation-2.html"><span>Rent Page v2</span></a></li>
                            <li><a href="rent-paypal.html"><span>Rent with Paypal integration</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="blog.html"><div class="ct-textEffect"><span data-content="Blog">Blog</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="blog.html"><span>Blog</span></a></li>
                    <li><a href="blog-single.html"><span>Blog Single</span></a></li>
                    <li><a href="blog-archive.html"><span>Blog Archive</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="events.html"><div class="ct-textEffect"><span data-content="Events">Events</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="events.html"><span>Events</span></a></li>
                    <li class="ct-subDropdown"><a href="event-single.html">Event Single</a>
                        <ul class="ct-submenu dropdown-menu">
                            <li><a href="event-single.html"><span>Event Single 1</span></a></li>
                            <li><a href="event-single2.html"><span>Event Single 2</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li class="dropdown"><a href="account.html"><div class="ct-textEffect"><span data-content="Pages">Pages</span></div></a>
                <ul class="dropdown-menu">
                    <li><a href="account.html"><span>My Account</span></a></li>
                    <li><a href="login.html"><span>Login</span></a></li>

                    <li><a href="404.html"><span>404</span></a></li>
                </ul>
            </li>
            <!--=========================================================================-->
            <li><a href="contact.html"><div class="ct-textEffect"><span data-content="Contact">Contact</span></div></a></li>
        </ul>

    </div>
</nav>

<section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340" data-type="parallax" data-stellar-background-ratio="0.2" data-bg-image="./assets/images/content/cars/bg-02.jpg" data-bg-image-mobile="./assets/images/content/cars/bg-01-mobile.jpg">
    <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2 class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">rent now</h2></div>
</section>

<div class="ct-u-sectionBorder ct-u-paddingTop60">
    <div class="container ct-u-paddingBottom200">
        <div class="row">
            <div class="col-md-4">
                <form class="ct-form-group input-daterange input-group ct-u-marginBottom30" id="datepicker">
                    <input type="text" class="form-control" placeholder="Check In Date" name="start"  title="from"/>  <!-- LABEL TODO -->
                    <input type="text" class="form-control" placeholder="Check Out Date" name="end"  title="to"/>
                </form>
                <div class="clearfix"></div>

                <div class="form-group ct-widget-search ct-u-marginBottom30">
                    <input placeholder="Search..." type="text" name="field[]" class="form-control">
                    <button type="submit"><i class="fa fa-search fa-fw"></i></button>
                </div>

                <div class="ct-widget-filter-byType ct-u-marginBottom30">
                    <h3 class="ct-widget-header">Car type</h3>
                    <form class="ct-widget-content">
                        <div class="ct-u-displayTableVertical">
                            <div class="ct-u-displayTableCell">
                                <div class="ct-checkbox">
                                    <input id="checkbox0" class="ct-js-carType" name="carType" type="radio" value="*" checked>
                                    <label for="checkbox0" class="checkbox-inline">All cars</label>
                                </div>
                            </div>
                            <div class="ct-u-displayTableCell">
                                <span>(49)</span>
                            </div>
                        </div>
                        <div class="ct-u-displayTableVertical">
                            <div class="ct-u-displayTableCell">
                                <div class="ct-checkbox">
                                    <input id="checkbox1" class="ct-js-carType" name="carType" type="radio" value=".sedan">
                                    <label for="checkbox1" class="checkbox-inline">Sedans</label>
                                </div>
                            </div>
                            <div class="ct-u-displayTableCell">
                                <span>(14)</span>
                            </div>
                        </div>
                        <div class="ct-u-displayTableVertical">
                            <div class="ct-u-displayTableCell">
                                <div class="ct-checkbox">
                                    <input id="checkbox2" class="ct-js-carType" name="carType" type="radio" value=".sport">
                                    <label for="checkbox2" class="checkbox-inline">Sports cars</label>
                                </div>
                            </div>
                            <div class="ct-u-displayTableCell">
                                <span>(23)</span>
                            </div>
                        </div>
                        <div class="ct-u-displayTableVertical">
                            <div class="ct-u-displayTableCell">
                                <div class="ct-checkbox">
                                    <input id="checkbox3" class="ct-js-carType" name="carType" type="radio" value=".luxury">
                                    <label for="checkbox3" class="checkbox-inline">Luxury limousines</label>
                                </div>
                            </div>
                            <div class="ct-u-displayTableCell">
                                <span>(07)</span>
                            </div>
                        </div>
                        <div class="ct-u-displayTableVertical">
                            <div class="ct-u-displayTableCell">
                                <div class="ct-checkbox">
                                    <input id="checkbox4" class="ct-js-carType" name="carType" type="radio" value=".toy">
                                    <label for="checkbox4" class="checkbox-inline">Toy cars</label>
                                </div>
                            </div>
                            <div class="ct-u-displayTableCell">
                                <span>(03)</span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="ct-widget ct-widget-filter-byPrice ct-u-marginBottom30">
                    <h3 class="ct-widget-header">Price per day</h3>
                    <form class="ct-widget-content">
                        <div id="data-price" class="ct-u-paddingBottom10 ct-sliderAmount">
                            <input type="text" value="$100" required class="form-control slider_min" placeholder="">
                            <input type="text" value="$990" required class="form-control slider_max" placeholder="">
                            <input type="text" data-currency="$" class="slider sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="round" data-slider-min="100" data-slider-max="990" data-slider-step="10" data-slider-value="[100,990]" title="Slider Amount">
                        </div>
                    </form>
                </div>

                <div class="ct-widget ct-widget-captcha ct-u-marginBottom30">
                    <h3 class="ct-widget-header">Are you humanoid ?</h3>
                    <form class="ct-widget-content">
                        <div class="ct-u-displayTableVertical">
                            <div class="ct-u-displayTableCell">
                                <div class="ct-checkbox ct-checkbox--rounded">
                                    <input id="checkbox5" name="radio2" type="radio" checked>
                                    <label for="checkbox5" class="checkbox-inline">Yes I am</label>
                                </div>
                            </div>
                            <div class="ct-u-displayTableCell">
                                <div class="ct-checkbox ct-checkbox--rounded">
                                    <input id="checkbox6" name="radio2" type="radio">
                                    <label for="checkbox6" class="checkbox-inline">I'm not sure</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="ct-widget ct-widget-filter-byPrice ct-u-marginBottom30">
                    <h3 class="ct-widget-header">Number of passengers</h3>
                    <div id="data-passengers" class="ct-widget-content ct-u-paddingBottom10 ct-sliderAmount">
                        <input type="text" value="0" required class="form-control slider_min" placeholder="">
                        <input type="text" value="9" required class="form-control slider_max" placeholder="">
                        <input type="text" class="slider sliderAmount" data-slider-tooltip="hide" data-slider-handle="round" data-slider-min="0" data-slider-max="9" data-slider-step="1" data-slider-value="[0,9]" title="Slider Amount">
                    </div>
                </div>

                <div class="ct-widget ct-u-marginBottom30">
                    <h3 class="ct-widget-header">Driver</h3>
                    <form class="ct-widget-content">
                        <select class="ct-select ct-js-selectize ct-js-selectDriver" title="Driver">
                            <option value="*">with or without driver</option>
                            <option value=".withDriver">with driver</option>
                            <option value=".withoutDriver">without driver</option>
                        </select>
                    </form>
                </div>

                <a href="rent-page-variation-2.html" class="btn btn-wide btn-motive ct-u-marginBottom50"><span>Clear Filters</span></a>
            </div>

            <div class="col-md-8">
                <form class="row">
                    <div class="col-md-7">
                        <div class="ct-checkbox ct-u-paddingTop10 ct-u-paddingMD-bot10">
                            <input id="checkbox7" type="checkbox" checked>
                            <label for="checkbox7" class="h6 checkbox-inline"><small class="ct-u-colorDarkGray2 ct-fw-600 ct-fs-i">show me only available cars for the dates I choose</small></label>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <select class="ct-select ct-js-selectize" title="Sorting">
                            <option value="1">sort by price ascending</option>
                            <option value="2">sort by price descending</option>
                            <option value="3">sort by date ascending</option>
                            <option value="4">sort by date descending</option>
                        </select>
                    </div>
                </form>

                <div class="ct-product-gallery" >
                    <!-- ======================= -->
                    <div class="ct-product ct-product--type2 media hidden sedan withoutDriver" data-price="400" data-passengers="2">
                        <div class="ct-product-image media-left"><img src="./assets/images/content/cars/product-01.jpg" alt=""></div>
                        <div class="ct-product-content media-body">
                            <h4 class="ct-product-header ct-u-hr ct-u-hr--left">Aumi R6</h4>
                            <p>Small car for 4 people, which effectively will overcome any challenge.</p>
                            <ul class="ct-list ct-u-paddingTop10">
                                <li>Top speed <span class="pull-right">230 km/h</span></li>
                                <li>Transmission <span class="pull-right">Manual</span></li>
                                <li>Consumpion <span class="pull-right">9L/100km</span></li>
                                <li>Passengers <span class="pull-right">2</span></li>
                                <li>Air conditioning <span class="pull-right">Yes</span></li>
                                <li>Wheel and pedals <span class="pull-right">Yes</span></li>
                            </ul>
                            <p class="ct-product-price"><span class="h2"><small><span class="ct-product-currency">$</span>400 </small></span>per day</p>
                            <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- ======================= -->
                    <div class="ct-product ct-product--type2 media hidden sport withDriver" data-price="560" data-passengers="8">>
                        <div class="ct-product-image media-left"><img src="./assets/images/content/cars/gallery-14.jpg" alt=""></div>
                        <div class="ct-product-content media-body">
                            <h4 class="ct-product-header ct-u-hr ct-u-hr--left">Tomota Landcruiser</h4>
                            <p>Perfect for the whole family car, the journey home will be pure pleasure.</p>
                            <ul class="ct-list ct-u-paddingTop10">
                                <li>Top speed <span class="pull-right">230 km/h</span></li>
                                <li>Transmission <span class="pull-right">Manual</span></li>
                                <li>Consumpion <span class="pull-right">9L/100km</span></li>
                                <li>Passengers <span class="pull-right">6</span></li>
                                <li>Air conditioning <span class="pull-right">Yes</span></li>
                                <li>Wheel and pedals <span class="pull-right">Yes</span></li>
                            </ul>
                            <p class="ct-product-price"><span class="h2"><small><span class="ct-product-currency">$</span>560 </small></span>per day</p>
                            <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                        </div>
                    </div>
                    <!-- ======================= -->
                    <div class="ct-product ct-product--type2 media hidden toy withoutDriver" data-price="350" data-passengers="1">
                        <div class="ct-product-image media-left"><img src="./assets/images/content/cars/gallery-06.jpg" alt=""></div>
                        <div class="ct-product-content media-body">
                            <h4 class="ct-product-header ct-u-hr ct-u-hr--left">Aumi A6</h4>
                            <p>Exclusive car for those who want to show their class and status. Everyone will envy.</p>
                            <ul class="ct-list ct-u-paddingTop10">
                                <li>Top speed <span class="pull-right">230 km/h</span></li>
                                <li>Transmission <span class="pull-right">Manual</span></li>
                                <li>Consumpion <span class="pull-right">9L/100km</span></li>
                                <li>Passengers <span class="pull-right">3</span></li>
                                <li>Air conditioning <span class="pull-right">Yes</span></li>
                                <li>Wheel and pedals <span class="pull-right">Yes</span></li>
                            </ul>
                            <p class="ct-product-price"><span class="h2"><small><span class="ct-product-currency">$</span>350 </small></span>per day</p>
                            <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                        </div>
                    </div>
                    <!-- ======================= -->
                    <div class="ct-product ct-product--type2 media hidden luxury withDriver" data-price="740" data-passengers="7">
                        <div class="ct-product-image media-left"><img src="./assets/images/content/cars/gallery-04.jpg" alt=""></div>
                        <div class="ct-product-content media-body">
                            <h4 class="ct-product-header ct-u-hr ct-u-hr--left">Mermedess Kompressor</h4>
                            <p>Beautiful weather and the long journey? This super fast car is for you.</p>
                            <ul class="ct-list ct-u-paddingTop10">
                                <li>Top speed <span class="pull-right">230 km/h</span></li>
                                <li>Transmission <span class="pull-right">Manual</span></li>
                                <li>Consumpion <span class="pull-right">9L/100km</span></li>
                                <li>Passengers <span class="pull-right">5</span></li>
                                <li>Air conditioning <span class="pull-right">Yes</span></li>
                                <li>Wheel and pedals <span class="pull-right">Yes</span></li>
                            </ul>
                            <p class="ct-product-price"><span class="h2"><small><span class="ct-product-currency">$</span>740 </small></span>per day</p>
                            <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                        </div>
                    </div>
                    <!-- ======================= -->
                    <div class="ct-product ct-product--type2 media hidden toy withoutDriver" data-price="75" data-passengers="5">
                        <div class="ct-product-image media-left"><img src="./assets/images/content/cars/gallery-11.jpg" alt=""></div>
                        <div class="ct-product-content media-body">
                            <h4 class="ct-product-header ct-u-hr ct-u-hr--left">BMG Z Series</h4>
                            <p>Do you want to spend a weekend out of town? This car is waiting for you.</p>
                            <ul class="ct-list ct-u-paddingTop10">
                                <li>Top speed <span class="pull-right">230 km/h</span></li>
                                <li>Transmission <span class="pull-right">Manual</span></li>
                                <li>Consumpion <span class="pull-right">9L/100km</span></li>
                                <li>Passengers <span class="pull-right">2</span></li>
                                <li>Air conditioning <span class="pull-right">Yes</span></li>
                                <li>Wheel and pedals <span class="pull-right">Yes</span></li>
                            </ul>
                            <p class="ct-product-price"><span class="h2"><small><span class="ct-product-currency">$</span>75 </small></span>per day</p>
                            <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- ======================= -->
                    <div class="ct-product ct-product--type2 media hidden sport withDriver" data-price="180" data-passengers="4">
                        <div class="ct-product-image media-left"><img src="./assets/images/content/cars/gallery-04.jpg" alt=""></div>
                        <div class="ct-product-content media-body">
                            <h4 class="ct-product-header ct-u-hr ct-u-hr--left">Bord Mustanp</h4>
                            <p>This beautiful car is what you see every day on vacation.</p>
                            <ul class="ct-list ct-u-paddingTop10">
                                <li>Top speed <span class="pull-right">230 km/h</span></li>
                                <li>Transmission <span class="pull-right">Manual</span></li>
                                <li>Consumpion <span class="pull-right">9L/100km</span></li>
                                <li>Passengers <span class="pull-right">6</span></li>
                                <li>Air conditioning <span class="pull-right">Yes</span></li>
                                <li>Wheel and pedals <span class="pull-right">Yes</span></li>
                            </ul>
                            <p class="ct-product-price"><span class="h2"><small><span class="ct-product-currency">$</span>180 </small></span>per day</p>
                            <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                        </div>
                    </div>
                    <!-- ======================= -->
                    <div class="ct-product ct-product--type2 media hidden toy withDriver" data-price="990" data-passengers="0">
                        <div class="ct-product-image media-left"><img src="./assets/images/content/cars/gallery-17.jpg" alt=""></div>
                        <div class="ct-product-content media-body">
                            <h4 class="ct-product-header ct-u-hr ct-u-hr--left">Burakki Veylon</h4>
                            <p>Nice weather, great friends nothing but rent our super-comfortable car.</p>
                            <ul class="ct-list ct-u-paddingTop10">
                                <li>Top speed <span class="pull-right">230 km/h</span></li>
                                <li>Transmission <span class="pull-right">Manual</span></li>
                                <li>Consumpion <span class="pull-right">9L/100km</span></li>
                                <li>Passengers <span class="pull-right">3</span></li>
                                <li>Air conditioning <span class="pull-right">Yes</span></li>
                                <li>Wheel and pedals <span class="pull-right">Yes</span></li>
                            </ul>
                            <p class="ct-product-price"><span class="h2"><small><span class="ct-product-currency">$</span>990 </small></span>per day</p>
                            <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                        </div>
                    </div>
                    <!-- ======================= -->
                    <div class="ct-product ct-product--type2 media hidden luxury withDriver" data-price="100" data-passengers="9">
                        <div class="ct-product-image media-left"><img src="./assets/images/content/cars/gallery-07.jpg" alt=""></div>
                        <div class="ct-product-content media-body">
                            <h4 class="ct-product-header ct-u-hr ct-u-hr--left">BMG CPG 7</h4>
                            <p>When you get to that car nothing will be for you as luxurious as it is.</p>
                            <ul class="ct-list ct-u-paddingTop10">
                                <li>Top speed <span class="pull-right">230 km/h</span></li>
                                <li>Transmission <span class="pull-right">Manual</span></li>
                                <li>Consumpion <span class="pull-right">9L/100km</span></li>
                                <li>Passengers <span class="pull-right">5</span></li>
                                <li>Air conditioning <span class="pull-right">Yes</span></li>
                                <li>Wheel and pedals <span class="pull-right">Yes</span></li>
                            </ul>
                            <p class="ct-product-price"><span class="h2"><small><span class="ct-product-currency">$</span>100 </small></span>per day</p>
                            <a href="rent-item.html" class="btn btn-motive"><span>Booking Details</span></a>
                        </div>
                    </div>
                    <!-- ======================= -->
                </div>

            </div>
        </div>
    </div>
</div>

<footer class="ct-footer ct-u-sectionDark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ct-footer-logo ct-u-paddingTop50 ct-u-paddingBottom30"><img src="./assets/images/content/logo2.png" alt="logo"></div>
                <p>Rentica operate in the booking market since 2000. We created a platform that would not only allow our clients to book a car, but to make this process as easy as possible. Rentica deals with all the major car hire companies around the world checking which local supplier is offering the best prices for the car you want on the date you need it.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50">
                    <h3 class="ct-sectionHeader-title">Next events</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <a href="events.html">
                     <div class="media ct-mediaObject">
                         <div class="media-left"><img src="./assets/images/content/cars/footerObject-01.jpg" alt=""></div>
                         <div class="media-body">
                             <h6 class="ct-mediaObject-header">Rentica sports car racing finals</h6>
                             <h2 class="ct-mediaObject-date"><small>Aug 25 <span>2015</span></small></h2>
                         </div>
                     </div>
                 </a>
                 <a href="events.html">
                     <div class="media ct-mediaObject">
                         <div class="media-left"><img src="./assets/images/content/cars/footerObject-02.jpg" alt=""></div>
                         <div class="media-body">
                             <h6 class="ct-mediaObject-header">Rentica Sedan Showdown</h6>
                             <h2 class="ct-mediaObject-date"><small>Sep 03 <span>2015</span></small></h2>
                         </div>
                     </div>
                 </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50 ct-u-marginBottom15">
                    <h3 class="ct-sectionHeader-title">Flickr gallery</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <div class="ct-flickrGallery">
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-01-big.jpg"><img src="./assets/images/content/cars/flickr-01.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-02-big.jpg"><img src="./assets/images/content/cars/flickr-02.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-03-big.jpg"><img src="./assets/images/content/cars/flickr-03.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-04-big.jpg"><img src="./assets/images/content/cars/flickr-04.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-05-big.jpg"><img src="./assets/images/content/cars/flickr-05.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-06-big.jpg"><img src="./assets/images/content/cars/flickr-06.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-07-big.jpg"><img src="./assets/images/content/cars/flickr-07.jpg" alt=""/></a>
                    <a class="ct-js-magnificPopupImage" href="./assets/images/content/cars/gallery-08-big.jpg"><img src="./assets/images/content/cars/flickr-08.jpg" alt=""/></a>
                </div>

            </div>
        </div>
    </div>
    <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
        <div class="container">
            <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014</div>
            <ul class="ct-socials">
                <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i class="fa fa-flickr"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
</footer>

</div>

<!-- JavaScripts -->
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>
<script src="./assets/js/dependencies.js"></script>

<script src="./assets/js/main.js"></script>

<script src="./assets/plugins/ct-mediaSection/js/jquery.stellar.min.js"></script>
<script src="./assets/plugins/ct-mediaSection/js/init.js"></script>

<script src="./assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="./assets/plugins/magnific-popup/init.js"></script>

<script src="./assets/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
<script>jQuery('.input-daterange').datepicker({});</script>

<script src="./assets/plugins/bootstrap-slider/js/bootstrap-slider.js"></script>
<script>jQuery('.sliderAmount').slider();</script>

<script src="./assets/plugins/selectize.js-master/dist/js/standalone/selectize.min.js"></script>

<script src="./assets/plugins/isotope/jquery.isotope.min.js"></script>
<script src="./assets/plugins/isotope/imagesloaded.js"></script>
<script src="./assets/plugins/isotope/products.js"></script>



</body>
</html>