{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="Rentica - The Best One Yet">
    <meta name="author" content="CreateIT">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{% static 'frontEnd/images/content/cars/icon.ico' %}">
    <!--<link rel="apple-touch-icon" href="/apple-touch-icon.png">-->

    <title>Rentica - HTML Template</title>

    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontEnd/css/style.css' %}">

    <!--[if lt IE 9]>
    <script src="{% static 'frontEnd/bootstrap/js/html5shiv.min.js' %}"></script>
    <script src="{% static 'frontEnd/bootstrap/js/respond.min.js' %}"></script>
    <script src="{% static 'frontEnd/plugins/REM-unit-polyfill/js/rem.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'frontEnd/js/modernizr.custom.js' %}"></script>

    <style type="text/css">
    #searchresult
    {
        width: 100%;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        left: 130px;
        top: 71px;
        background: #E0E0E0;
        border-top: none;
    }
    .line
    {
        font-size: 22px;
        background: #E0E0E0;
        width: 100%;
        padding: 2px;
    }
    .hover
    {
        background: #007ab8;
        width: 100%;
        color: #fff;
    }
    .std
    {
        width: 100%;
    }
    </style>

</head>

<body class="cssAnimate">

<section class="ct-mediaSection ct-mediaSection--desktop ct-u-paddingTop60 ct-u-paddingBottom40" data-height="340"
         data-type="parallax" data-stellar-background-ratio="0.2" data-bg-image="./assets/images/content/cars/bg-02.jpg"
         data-bg-image-mobile="./assets/images/content/cars/bg-01-mobile.jpg">
    <div class="ct-mediaSection-inner ct-mediaSection-inner--bottom" data-stellar-ratio="0.7"><h2
            class="ct-fw-lighter ct-u-hr ct-u-hr--wide text-center">电子科技大学</h2></div>
</section>

<div class="ct-u-sectionBorder ct-u-paddingTop60">
    <div class="container ct-u-paddingBottom200">
        <div class="row">
            <div class="col-md-4">

                <div class="clearfix"></div>

                <div class="form-group ct-widget-search ct-u-marginBottom30">
                    <form id="form1" runat="server">
                    <div>
                        智能模糊查询提示
                        <input id="txt_search" placeholder="Search..." type="text" name="field[]" class="form-control">

                        <div id="searchresult" style="display: none;">
                        </div>
                    </div>
                   
                    </form>

                    <button type="submit"><i class="fa fa-search fa-fw"></i></button>
                </div>

                <div class="ct-widget-filter-byType ct-u-marginBottom30">
                    <h3 class="ct-widget-header">发现话题</h3>
                    <form class="ct-widget-content">
                        <div class="ct-u-displayTableVertical">
                            <div class="ct-u-displayTableCell">
                                <div class="ct-checkbox">
                                    <input id="checkbox0" class="ct-js-carType" name="carType" type="radio" value="*"
                                           checked>
                                    <label for="checkbox0" class="checkbox-inline">所有话题</label>
                                </div>
                            </div>
                            <div class="ct-u-displayTableCell">
                                <span>({{allPeople}})</span>
                            </div>
                        </div>
                        

                        {% block topic %}
                            {% for host in topics %}
                            <!-- ======================= --> 
                            <div class="ct-u-displayTableVertical">
                                <div class="ct-u-displayTableCell">
                                    <div class="ct-checkbox">
                                        <input id="checkbox{{host.index}}" class="ct-js-carType" name="carType" type="radio" value=".{{host.tag}}">
                                        <label for="checkbox{{host.index}}" class="checkbox-inline">{{host.name}}</label>
                                    </div>
                                </div>
                                <div class="ct-u-displayTableCell">
                                    <span>({{host.number}})</span>
                                </div>
                            </div>
                            {% endfor %}
                        
                        {% endblock %}
                        
                        

                    </form>
                </div>

                <div class="ct-widget ct-widget-filter-byPrice ct-u-marginBottom30">
                    <h3 class="ct-widget-header">Price per day</h3>
                    <form class="ct-widget-content">
                        <div id="data-price" class="ct-u-paddingBottom10 ct-sliderAmount">

                            <input type="text" value="$10" required class="form-control slider_min" placeholder="">
                            <input type="text" value="$990" required class="form-control slider_max" placeholder="">
                            <input type="text" data-currency="$" class="slider sliderAmount" value="" data-slider-tooltip="hide" data-slider-handle="round" data-slider-min="10" data-slider-max="990" data-slider-step="10" data-slider-value="[10,990]" title="Slider Amount">

                        </div>
                    </form>
                </div>

                <div class="ct-widget ct-u-marginBottom30">
                    <h3 class="ct-widget-header">选择性别</h3>
                    <form class="ct-widget-content">
                        <select class="ct-select ct-js-selectize ct-js-selectDriver" title="gender">
                            <option value="*">请选择性别</option>
                            <option value=".male">男</option>
                            <option value=".female">女</option>
                        </select>
                    </form>
                </div>


                <div class="ct-widget ct-u-marginBottom30">
                    <h3 class="ct-widget-header">选择学历</h3>
                    <form class="ct-widget-content">
                        <select class="ct-select ct-js-selectize ct-js-selectDriver" title="Driver">
                            <option value="*">全部学历</option>
                            <option value=".withDriver">本科</option>
                            <option value=".withoutDriver">硕士</option>
                            <option value=".phd">博士</option>
                            <option value=".else">其他</option>
                        </select>
                    </form>
                </div>


                <a href="rent-page-variation-1.html"
                   class="btn btn-wide btn-motive ct-u-marginBottom50"><span>清空条件</span></a>

            </div>

            <div class="col-md-8">
                <form class="row">
                    <div class="col-md-7">
                        <div class="ct-checkbox ct-u-paddingTop10 ct-u-paddingMD-bot10">
                            <input id="checkbox9" type="checkbox" checked>
                            <label for="checkbox9" class="h6 checkbox-inline">
                                <small class="ct-u-colorDarkGray2 ct-fw-600 ct-fs-i">show me only available cars for the
                                    dates I choose
                                </small>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <select class="ct-select ct-js-selectize" title="Sorting">
                            <option value="1">英才学院</option>
                            <option value="2">信软学院</option>
                            <option value="3">计算机学院</option>
                            <option value="4">通讯学院</option>
                        </select>
                    </div>
                </form>


                <div class="ct-product-gallery" >
                    

                    {% block content %}
                        {% for host in object %}
                        <!-- ======================= --> 
                        <div class="ct-product hidden class  {{host.tag}}" data-price="{{host.min_payment}}" data-passengers="2">
                            <div class="ct-product-image"><img src="{{host.image}}" alt=""></div>
                            <div class="ct-product-content">
                                <h4 class="ct-product-header ct-u-hr ct-u-hr--center">{{host.username}}</h4>
                                <p>{{host.motto}}</p>
                                <p class="ct-product-price">from <span class="h2"><small><span class="ct-product-currency">￥</span>{{host.min_payment}} </small></span>per hour</p>
                                <a href="user/change/{{host.id}}" class="btn btn-motive"><span>查看详细信息</span></a>
                            </div>
                        </div>
                        {% endfor %}
                    
                    {% endblock %}
                    


                   
                    <!-- ======================= -->
                </div>

            </div>
        </div>
    </div>
</div>

<footer class="ct-footer ct-u-sectionDark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="ct-footer-logo ct-u-paddingTop50 ct-u-paddingBottom30"><img
                        src="{% static 'frontEnd/images/content/logo2.png' %}" alt="logo"></div>
                <p>Rentica operate in the booking market since 2000. We created a platform that would not only allow our
                    clients to book a car, but to make this process as easy as possible. Rentica deals with all the
                    major car hire companies around the world checking which local supplier is offering the best prices
                    for the car you want on the date you need it.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50">
                    <h3 class="ct-sectionHeader-title">Next events</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <a href="events.html">
                    <div class="media ct-mediaObject">
                        <div class="media-left"><img
                                src="{% static 'frontEnd/images/content/cars/footerObject-01.jpg' %}" alt=""></div>
                        <div class="media-body">
                            <h6 class="ct-mediaObject-header">Rentica sports car racing finals</h6>
                            <h2 class="ct-mediaObject-date">
                                <small>Aug 25 <span>2015</span></small>
                            </h2>
                        </div>
                    </div>
                </a>
                <a href="events.html">
                    <div class="media ct-mediaObject">
                        <div class="media-left"><img
                                src="{% static 'frontEnd/images/content/cars/footerObject-02.jpg' %}" alt=""></div>
                        <div class="media-body">
                            <h6 class="ct-mediaObject-header">Rentica Sedan Showdown</h6>
                            <h2 class="ct-mediaObject-date">
                                <small>Sep 03 <span>2015</span></small>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="ct-sectionHeader ct-sectionHeader--left ct-u-paddingTop50 ct-u-marginBottom15">
                    <h3 class="ct-sectionHeader-title">Flickr gallery</h3>
                    <div class="ct-sectionHeader-separator">
                        <span class="slash">/</span>
                        <span class="slash">/</span>
                        <span class="minus"></span>
                    </div>
                </div>

                <div class="ct-flickrGallery">
                    <a class="ct-js-magnificPopupImage"
                       href="{% static 'frontEnd/images/content/cars/gallery-01-big.jpg' %}"><img
                            src="{% static '/images/content/cars/flickr-01.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage"
                       href="{% static 'frontEnd/images/content/cars/gallery-02-big.jpg' %}"><img
                            src="{% static '/images/content/cars/flickr-02.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage"
                       href="{% static 'frontEnd/images/content/cars/gallery-03-big.jpg' %}"><img
                            src="{% static '/images/content/cars/flickr-03.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage"
                       href="{% static 'frontEnd/images/content/cars/gallery-04-big.jpg' %}"><img
                            src="{% static '/images/content/cars/flickr-04.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage"
                       href="{% static 'frontEnd/images/content/cars/gallery-05-big.jpg' %}"><img
                            src="{% static '/images/content/cars/flickr-05.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage"
                       href="{% static 'frontEnd/images/content/cars/gallery-06-big.jpg' %}"><img
                            src="{% static '/images/content/cars/flickr-06.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage"
                       href="{% static 'frontEnd/images/content/cars/gallery-07-big.jpg' %}"><img
                            src="{% static '/images/content/cars/flickr-07.jpg' %}" alt=""/></a>
                    <a class="ct-js-magnificPopupImage"
                       href="{% static 'frontEnd/images/content/cars/gallery-08-big.jpg' %}"><img
                            src="{% static '/images/content/cars/flickr-08.jpg' %}" alt=""/></a>
                </div>

            </div>
        </div>
    </div>
    <div class="ct-footer-meta ct-u-sectionMotive ct-u-marginTop70">
        <div class="container">
            <div class="ct-footer-copyright">COPYRIGHT © <a href="http://outsourcing.createit.pl/">createIT</a> 2014
            </div>
            <ul class="ct-socials">
                <li><a data-toggle="tooltip" data-placement="top" title="flickr" href="#"><i
                        class="fa fa-flickr"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="instagram" href="#"><i
                        class="fa fa-instagram"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="pinterest" href="#"><i
                        class="fa fa-pinterest"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="facebook" href="#"><i
                        class="fa fa-facebook-square"></i></a></li>
                <li><a data-toggle="tooltip" data-placement="top" title="twitter" href="#"><i class="fa fa-twitter"></i></a>
                </li>
            </ul>
        </div>
    </div>

 </footer>

</div>

<!-- JavaScripts -->
<script src="{% static 'frontEnd/js/jquery.min.js' %}"></script>
<script src="{% static 'frontEnd/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontEnd/js/dependencies.js' %}"></script>

<script src="{% static 'frontEnd/js/main.js' %}"></script>

<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/ct-mediaSection/js/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/magnific-popup/init.js' %}"></script>

<script src="{% static 'frontEnd/plugins/datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script>jQuery('.input-daterange').datepicker({});</script>

<script src="{% static 'frontEnd/plugins/bootstrap-slider/js/bootstrap-slider.js' %}"></script>
<script>jQuery('.sliderAmount').slider();</script>

<script src="{% static 'frontEnd/plugins/selectize.js-master/dist/js/standalone/selectize.min.js' %}"></script>

<script src="{% static 'frontEnd/plugins/isotope/jquery.isotope.min.js' %}"></script>
<script src="{% static 'frontEnd/plugins/isotope/imagesloaded.js' %}"></script>
<script src="{% static 'frontEnd/plugins/isotope/products.js' %}"></script>
<script type="text/javascript">
    $(function () {
        $("#txt_search").keyup(function (evt) {
            ChangeCoords(); //控制查询结果div坐标
            var k = window.event ? evt.keyCode : evt.which;
            //输入框的id为txt_search，这里监听输入框的keyup事件
            //不为空 && 不为上箭头或下箭头或回车
            if ($("#txt_search").val() != "" && k != 38 && k != 40 && k != 13) {
                $.ajax({
                    type: 'Get',
                    //async: false, //同步执行，不然会有问题
                    dataType: "json",
                    url: "/dc/getUserNameList",   //提交的页面/方法名
                    data: "userName="+ $("#txt_search").val(),              //参数（如果没有参数：null）
                    contentType: "application/json; charset=utf-8",
                    error: function (msg) {//请求失败处理函数
                        alert("数据加载失败");
                    },
                    success: function (data) { //请求成功后处理函数。
                        var objData = data;
                        if (objData.length > 0) {
                            var layer = "";
                            layer = "<table id='aa'>";
                            $.each(objData, function (idx, item) {
                                layer += "<tr class='line'><td class='std'>" + item.userName + "</td></tr>";
                            });
                            layer += "</table>";

                            //将结果添加到div中    
                            $("#searchresult").empty();
                            $("#searchresult").append(layer);
                            $(".line:first").addClass("hover");
                            $("#searchresult").css("display", "");
                            //鼠标移动事件

                            $(".line").hover(function () {
                                $(".line").removeClass("hover");
                                $(this).addClass("hover");
                            }, function () {
                                $(this).removeClass("hover");
                                //$("#searchresult").css("display", "none");
                            });
                            //鼠标点击事件
                            $(".line").click(function () {
                                $("#txt_search").val($(this).text());
                                $("#searchresult").css("display", "none");
                            });
                        } else {
                            $("#searchresult").empty();
                            $("#searchresult").css("display", "none");
                        }
                    }
                });
            }
            else if (k == 38) {//上箭头
                $('#aa tr.hover').prev().addClass("hover");
                $('#aa tr.hover').next().removeClass("hover");
                $('#txt_search').val($('#aa tr.hover').text());
            } else if (k == 40) {//下箭头
                $('#aa tr.hover').next().addClass("hover");
                $('#aa tr.hover').prev().removeClass("hover");
                $('#txt_search').val($('#aa tr.hover').tsext());
            }
            else if (k == 13) {//回车
                $('#txt_search').val($('#aa tr.hover').text());
                $("#searchresult").empty();
                $("#searchresult").css("display", "none");
            }
            else {
                $("#searchresult").empty();
                $("#searchresult").css("display", "none");
            }
        });
        $("#searchresult").bind("mouseleave", function () {
            $("#searchresult").empty();
            $("#searchresult").css("display", "none");
        });
    });
    //设置查询结果div坐标

    function ChangeCoords() {
        //    var left = $("#txt_search")[0].offsetLeft; //获取距离最左端的距离，像素，整型
        //    var top = $("#txt_search")[0].offsetTop + 26; //获取距离最顶端的距离，像素，整型（20为搜索输入框的高度）
        var left = $("#txt_search").position().left+10; //获取距离最左端的距离，像素，整型
        var top = $("#txt_search").position().top + 40; ; //获取距离最顶端的距离，像素，整型（20为搜索输入框的高度）
        $("#searchresult").css("left", left + "px"); //重新定义CSS属性
        $("#searchresult").css("top", top + "px"); //同上
    }

</script>

</body>
</html>