{% extends "frontEnd/base.html" %}<!-- 继承基础模板 -->
{% load staticfiles %}<!-- 加载全局变量 --> 


<!-- 网页主体 -->
{% block body %}
<!-- school-search -->
<style type="text/css">
    a{text-decoration:none; outline:none;color:#666666;white-space: nowrap;display:inline-block;}
    a:hover{text-decoration:none}
</style>

<div class="ssbody">
    <div class="ssImax" style=" background-image:url('{% static 'frontEnd/images/weshare/ssImax.jpg'%}');">
        <div class="ssImaxSearch">
            <form  method="get">
            {% csrf_token %}
                <input type="hidden" id="txtSc2" name="schoolID">
                <input type="text" id="txtSc" name="school" class="ssImaxSearchInput" placeholder="&nbsp;&nbsp;点此选择您的学校" /><button type="submit" class="ssImaxSearchButton">搜&nbsp;索</button>
                <div id="gj" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px; display:none;background-color:white;"></div>
                <div id="sheng" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;"></div>
                <div id="list" style="width: 100%; border:1px solid; padding:5px; overflow:hidden; line-height:25px;display:none;background-color:white;height:100px; overflow-y:auto;"></div>
                
            </form>
        </div> 
    </div>
</div>
{% endblock %}



{% block js %}

<!-- school-search -->
<script src="{% static 'frontEnd/js/schoolsearch/uestc_only.js'%}"></script>
<script type="text/javascript">
var school = "";
var sf = "";

var schoolID = "";
$(function (){
    $.each(allUnivList,function (j,m){      
        $("#gj").append("<a href='javascript:void(0);' onclick='getSheng("+j+",\""+m.name+"\")'>"+m.name+"&nbsp;&nbsp;"+"</a>");           
    });
});

//获取某国家的省份
//参数 aid 
//参数 name
function getSheng(aid,name){
school = name;
    $("#sheng").show();
    $("#list").html('');
    $("#sheng").html('');
    if (allUnivList[aid].provs.length == 0){
        $("#sheng").append("暂不支持");
    }
    else
    {
        $.each(allUnivList[aid].provs,function (j,m){               
            $("#sheng").append("<a href='javascript:void(0);' onclick='getSchool("+aid+","+j+",\""+m.name+"\")'>"+m.name+"&nbsp;&nbsp;"+"</a>");
        });
    }
}

//获取某省份的学校
//参数 gid
//参数 pid
//参数 name:学校名字
function  getSchool(gid,pid,name){
school = school.substring(0,2);//取schoo字符串中前两个字符
school += "-"+ name;
$("#list").show();
    $("#list").html('');
    $.each(allUnivList[gid].provs[pid].univs,function (k,l){

        $("#list").append("<a href=\"javascript:getSchoolID(\'"+l.school_id+"\',\'"+l.name+"\')\" style='width:270px;display:block;float:left;'>"+l.name+"</a>");
    });
    $("#list").append("<br style='clear:both;' />");
        
}

//点击学校响应
function getSchoolID(school_id,school_name){
    schoolID = school_id;
    console.log(schoolID);
    console.log(school_name);
    $("#gj").hide();
    $("#list").hide();
    $("#sheng").hide();
    school += "-"+school_name;

    $("#txtSc").val(school);
    $("#txtSc2").val(schoolID);

}

//点击表单响应
// $("#txtSc").live("click",function (){
//     $("#gj").show();
//     $("#list").hide();
//     $("#sheng").hide();
// });
$('body').on('click', '#txtSc', function (){
    $("#gj").show();
     $("#list").hide();
    $("#sheng").hide();
 });
</script>

{% endblock %}