
{% load staticfiles %}

<form id= "room" method = 'post' action = '/dc/room/addRoom/'>
	 {% csrf_token %}
	<h2>roomId<input name='roomId' value ='' ></h2>
	<h2>roomName<input name='roomName' value ='' ></h2>
	<h2>roomSize<input name='roomSize' value ='' ></h2>
	<h2>maxRound<input name='maxRound' value ='' ></h2>
	<h2> rule 
	<select name = 'ruleId' form="room">
		{% block content %}
			{% for publisher in rules %}
			<option value={{publisher.id}}>{{publisher.ruleName}}</option>
			{% endfor %}
		{% endblock %}
	</select>
	</h2>
	</br>
	<input type='submit' value="确认">
    <input type='button' onclick = "history.go(-1)" value="取消">
</form>