{% load staticfiles %}
<html>
<head>

<title>Result</title>

<script type="text/javascript" src="{%  static  'game/js/jscharts.js' %}"></script>


</head>
<body>

	<h1>Game Over</h1>

		<h4>Name: {{player.trueName}}</h4> 
		<h4>Message:</h4> 
		<textarea name="message" >{{player.message}}</textarea>
	</form>
	
	<h4>Your average money: {{averagePoint}}</h4>
	<h4>The rank of you is {{abovePersonNum}}</h4>
	<h4>The whole Time You take to think: {{wholeTime}}</h4>
	
	<div class='table' id="graph">Loading...</div>

<table>
<tbody id="offmain">
	<thead>

		<tr>
			<th>Round</th>
			<th><a title="Total Yards" >totalMoney</a></th>
			<th><a title="Points Per Game" >totalMoneyOfYourRival</a></th><th><a title="Total Yards" >YourAverageMoney</a></th>
			<th><a title="Points Per Game" >AverageMoneyOfYourRival</a></th>
			<th><a title="Total Yards" >YourChoice</a></th>
			<th><a title="Points Per Game" >The choice of your rival</a></th>
			<th><a title="The time you select" >The time you select</a></th>
			<th><a title="The time you robot select" >The time your rival select</a></th>
		</tr>
	</thead>
</br>
	{% block content %}
    
        {% for publisher in process %}
	        <tr>
				<td>{{publisher.times}}</td>
				<td>{{publisher.money }}</td>
				<td>{{publisher.robotMoney}}</td>
				<td>{{publisher.averageMoney }}</td>
				<td>{{publisher.averageRobotMoney}}</td>
				<td>{{publisher.humanSelect }}</td>
				<td>{{publisher.robotSelect}}</td>
				<td>{{publisher.processTime}}</td>
				<td>{{publisher.rivalSelectTime}}</td>

			</tr>
            	
			
        {% endfor %}

	{% endblock %}

</tbody>

</table>

<script type="text/javascript">
	var a = {{humanData}}
	var b = {{robotData}}
	var maxX = {{maxX}}
	var maxY = {{maxY}}
	var minY = {{minY}}
	var myChart = new JSChart('graph', 'line');
	myChart.setTitle("Result");
	myChart.setDataArray({{humanData}}, 'blue');
	myChart.setDataArray({{robotData}}, 'green');
	//myChart.setDataArray([[1, 150],[2, 25],[3, 100],[4, 80],[5, 20],[6, 65],[7, 0],[8, 155],[9, 190],[10, 200]], 'gray');
	myChart.setSize(960, 400);
	myChart.setAxisValuesNumberY(5);
	myChart.setIntervalStartY(minY);
	myChart.setIntervalEndY(maxY);
	for(var i = 0; i < 5; i++){
		tmpNum = maxX / 5 * (i +1);
		myChart.setLabelX([tmpNum,tmpNum.toFixed(2)]);
	}
	myChart.setAxisValuesNumberX(5);
	myChart.setShowXValues(false);
	myChart.setTitleColor('#454545');
	myChart.setAxisValuesColor('#454545');
	myChart.setLineColor('#A4D314', 'green');
	myChart.setLineColor('#BBBBBB', 'gray');
	for(var i = 1; i<= {{maxX}};i++){
		myChart.setTooltip([i," "])
	}

	myChart.setFlagColor('#9D16FC');
	myChart.setFlagRadius(4);
	myChart.setAxisPaddingRight(100);
	myChart.setLegendShow(true);
	myChart.setLegendPosition(600, 80);
	myChart.setLegendForLine('blue', 'HumanData');
	myChart.setLegendForLine('green', 'RobotData');
	myChart.draw();
	
</script>

</body>
</html>

