<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>


				<li class="start active ">

					<a href="#">

					<i class="icon-home"></i> 

					<span class="title">后台</span>

					<span class="selected"></span>

					</a>

				</li>

				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">文档修改</span>



					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/dc/country/show/">

							Country</a>

						</li>

						<li>

							<a href="/dc/province/show/">

							Province</a>

						</li>

						<li>

							<a href="/dc/school/show/">

							School</a>

						</li>

						<li>

							<a href="/dc/topic/show/">

							Topic</a>

						</li>
						<li>

							<a href="/dc/minortopic/show/">

							MinorTopic</a>

						</li>						
						<li>

							<a href="/dc/feature/show/">

							Feature</a>

						</li>

						

					</ul>

				</li>
				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">User Data</span>
					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/dc/user/show/">

							普通用户</a>

						</li>

						<li>

							<a href="/dc/user/applying/">

							正在申请中的用户</a>

						</li>
						<li>

							<a href="/dc/user/host/">

							分享者</a>

						</li>

					</ul>

				</li>
				
				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">Document Data</span>
					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/dc/menu/show/">

							一级目录</a>

						</li>

						<li>

							<a href="/dc/doc/show/">

							二级目录</a>

						</li>


					</ul>

				</li>

				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">功能目录</span>
					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/dc/func/generate_index_data/">

							生成主页缓存</a>

						</li>

						<li>

							<a href="/dc/func/compute_user_score/">

							计算用户得分</a>

						</li>


					</ul>

				</li>


			</ul>