<ul class="page-sidebar-menu">

				<li>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

					<div class="sidebar-toggler hidden-phone"></div>

					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

				</li>


				<li class="start active ">

					<a href="#">

					<i class="icon-home"></i> 

					<span class="title">后台</span>

					<span class="selected"></span>

					</a>

				</li>

				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">文档修改</span>



					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/dc/rule/show/">

							Province</a>

						</li>

						<li>

							<a href="/dc/member/show/">

							Member</a>

						</li>

						<li>

							<a href="/dc/payoff/show">

							Payoff Matrix</a>

						</li>						
						<li>

							<a href="/dc/room/show">

							Room</a>

						</li>

						

					</ul>

				</li>
				<li class="open">

					<a href="javascript:;">

					<i class="icon-cogs"></i> 

					<span class="title">User Data</span>
					</a>

						<ul class="sub-menu" style="display: block;">

						<li>

							<a href="/dc/users/show">

							User</a>

						</li>

						<li>

							<a href="/dc/question/show">

							Question</a>

						</li>

					</ul>

				</li>
				

			</ul>