{% load staticfiles %}


<form action="testFile" method="POST" enctype="multipart/form-data">
         {% csrf_token %}
    <h2> checked row: {{row}}</h2>
    <h2> step2: please upload test file~~</h2>
    <input name='file' id='file' type="file" onchange="change(this.value)">
    <input type='hidden' id = 'title' name = 'title' value="">
    <br>
    <input  type="submit" value="确认">
    <input type='button' onclick = "history.go(-1)" value="取消">
</form>
    
<script type="text/javascript">
    function change(imgName){
        var imgInfo = document.getElementById('title');
        var infoArr = imgName.split('\\');
        imgInfo.value = infoArr[infoArr.length-1];
    }

</script>